          <div class="interview-content">
        <div class="interview-head">
          <h1>Интервью<span>{{allCount}}</span><a routerLink="/interview-filter"><img src="img/mining-icon.png" alt=""></a></h1>
          <ul class="news-tabs">
            <li [ngClass]="order=='id' ? 'active':''"><a (click)="setOrder('id')" routerLink="./" [queryParams]="{order: order, reverse: reverse}">Новое за сегодня</a></li>
            <li [ngClass]="order=='views_count' ? 'active':''"><a (click)="setOrder('views_count')" routerLink="./" [queryParams]="{order: order, reverse: reverse}">Самое популярное</a></li>
            <li [ngClass]="order=='comments_count' ? 'active':''"><a  (click)="setOrder('comments_count')" routerLink="./" [queryParams]="{order: order, reverse: reverse}">Самое обсуждаемое</a></li>
          </ul>
        </div>
            <div class="news-body">
          <div class="interview-tab-content active">
            <div class="interview-blocks">
              <div class="interview-item" *ngFor="let main_item of main_news | orderBy: order:reverse:'case-insensitive'">
                <div class="info">
                  <span class="views" *ngIf="main_item?.view_count"><i class="fa fa-eye" aria-hidden="true"></i>{{main_item?.view_count}}</span>
                  <a *ngIf="main_item?.comments_count > 0" [routerLink]="['/interview/item', main_item.id]" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{main_item?.comments_count}}</a>
                </div>
                <div class="img-wrap">
                  <a [routerLink]="['/interview/item', main_item.id]">
                    <img src="{{main_item.photo}}" alt="">
                  </a>
                </div>
                <h2><a [routerLink]="['/interview/item', main_item.id]">{{main_item.title}}</a></h2>
                <p class="name"><a [routerLink]="['/interview/item', main_item.id]">{{main_item.name_credits}}</a></p>
                <p class="seo">{{main_item.workplace}}</p>
                <div class="orange-wrap">
                  <p class="orange">{{main_item.category}}</p>
                </div>
              </div>
            </div>
            <div class="interview-slider">
              <div class="interview-item" *ngFor="let main_item of main_news | orderBy: order:reverse:'case-insensitive'">
                <div class="info">
                  <span class="views" *ngIf="main_item?.view_count"><i class="fa fa-eye" aria-hidden="true"></i>{{main_item?.view_count}}</span>
                  <a *ngIf="main_item?.comments_count > 0" [routerLink]="['/interview/item', main_item.id]" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{main_item?.comments_count}}</a>
                </div>
                <div class="img-wrap">
                  <a [routerLink]="['/interview/item', main_item.id]">
                    <img src="{{main_item.photo}}" alt="">
                  </a>
                </div>
                <h2><a [routerLink]="['/interview/item', main_item.id]">{{main_item.title}}</a></h2>
                <p class="name"><a [routerLink]="['/interview/item', main_item.id]">{{main_item.name_credits}}</a></p>
                <p class="seo">{{main_item.workplace}}</p>
                <div class="orange-wrap">
                  <p class="orange">{{main_item.category}}</p>
                </div>
              </div>
            </div>
            <div class="interview-comments">
              <div class="comment" *ngFor="let item of news">
                <div class="img-wrap">
                  <a [routerLink]="['/interview/item', item.id]"><img src="{{item.photo}}" alt=""></a>
                </div>
                <div class="text-wrap">
                  <a [routerLink]="['/interview/item', item.id]" class="title">{{item.title}}</a>
                  <p>
                    {{item.desc  | striphtml | excerpt:140}}
                  </p>
                  <div class="comment-footer">
                    <a href="interview-card.html" class="name">{{item.name_credits}}</a>
                    <div class="date-wrap">
                      <span>{{item.workplace}}</span>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                        <span class="views" *ngIf="item?.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item?.view_count}}</span>
                        <a *ngIf="item?.comments_count > 0" href="interview-card.html" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{item?.comments_count}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <!--<a href="#" class="show-more">Показать еще</a>-->
          </div>
          
        </div>
      </div>