<section class="crypto-active exchanges">
    <div class="wrapper">
      <div class="select-block" style="position:relative;">
      <h1 class="table-title-big">Биржи<span>{{count}}</span><a routerLink="/exchange-filter"><img src="img/mining-icon.png" alt=""></a></h1>

        <div class="crypto-select-wrap">
          <!-- <div class="select-wrap">
            <div class="select">
              <span class="text">Пара: Все</span>
              <a href="#"><img src="img/select-drop-icon.png" alt=""></a>
            </div>
            <ul class="select-items">
              <li><a href="#">Пара: Все</a></li>
              <li><a href="#">Пара: Все</a></li>
              <li><a href="#">Пара: Все</a></li>
            </ul>
          </div> -->
          <div class="select-wrapper1" id="select-algo" style="z-index: 9;">
            <div class="select" style="padding-top: 11px">
              <span class="text"><span style="padding-top: 12px;">{{language !='' ? language : 'Язык: Все'}}</span></span>
              <a href="#"><img src="/img/select-drop-icon.png" alt=""></a>
            </div>
            <ul class="select-items">
              <li (click)="language=''" routerLink="./" [queryParams]="{lang: '', year: age, country: country}"> <a>Язык: Все</a></li>
              <li *ngFor="let item of languageFilterArray" (click)="language=item" routerLink="./" [queryParams]="{lang: item, year: age, country: country}"><a >{{item}}</a></li>
              <!-- <li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li> -->
            </ul>
          </div>
          <div class="select-wrapper1" id="select-age"  style="z-index: 9;" >
            <div class="select" style="padding-top: 11px">
              <span class="text"><span style="padding-top: 12px;">{{year !='' ? year : 'Год: Все'}}</span></span>
              <a href="#"><img src="/img/select-drop-icon.png" alt=""></a>
            </div>
            <ul class="select-items">
              <li (click)="year=''" routerLink="./" [queryParams]="{lang: language, year: '', country: country}"> <a >Год: Все</a></li>
              <li *ngFor="let item of yearFilterArray" (click)="year=item" routerLink="./" [queryParams]="{lang: language, year: item, country: country}">
                <a >{{item}}</a></li>
              <!-- <li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li> -->
            </ul>
          </div>
          <div class="select-wrapper1" id="select-country"  style="z-index: 9;" >
            <div class="select" style="padding-top: 11px">
              <span class="text"><span style="padding-top: 12px;">{{country !='' ? country : 'Страна: Все'}}</span></span>
              <a href="#"><img src="/img/select-drop-icon.png" alt=""></a>
            </div>
            <ul class="select-items">
              <li (click)="country=''" routerLink="./" [queryParams]="{lang: language, year: age, country: ''}"> <a >Страна: Все</a></li>
              <li *ngFor="let item of countryFilterArray" (click)="country=item"  routerLink="./" [queryParams]="{lang: language, year: age, country: country}">
                <a>{{item}}</a></li>
              <!-- <li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li> -->
            </ul>
          </div>
              <div class="crypto-select-wrap" style="position:absolute; right: 0; z-index: 1;">
                            <input type="text" placeholder="Поиск по названию монеты..." [(ngModel)]="filteredName" name="filteredName" value="">
                        </div>
        </div>
      </div>
      <div class="table-wrap">
        <table class="table crypto-table">
          <thead>
            <tr>
              <th width="5.4%" [class.active]="order === 'id'"
        (click)="setOrder('id')">
                <span>#</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="14.9%" [class.active]="order === 'name'"
        (click)="setOrder('name')">
                <span>Название</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="27.3%" [class.active]="order === 'usd'"
        (click)="setOrder('usd')">
                <span>Объем ( $ за 24 ч.)</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <!--<th width="17.8%" [class.active]="order === 'btc'"-->
        <!--(click)="setOrder('btc')">-->
                <!--<span>Объем BTC (за 24ч.)</span>-->
                <!--<img src="img/arr-top-table.png" alt="">-->
              <!--</th>-->
              <th width="8.1%" >
                <span>Кол-во пар</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="13.5%" [class.active]="order === 'languages'"
        (click)="setOrder('languages')">
                <span>Поддержка языков</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="7%" [class.active]="order === 'year'"
        (click)="setOrder('year')">
                <span>Год</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="27.8%" [class.active]="order === 'country'"
        (click)="setOrder('country')">
                <span>Страна</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <!--<th width="20.6%">-->
                <!--<span> </span>-->
                <!--<img src="img/arr-top-table.png" alt="">-->
              <!--</th>-->
            </tr>
          </thead>

          <tbody *ngIf="load == false">
          <ng-template ngFor let-item [ngForOf]="exchanges |
                    filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive' |
            filterNameActive:language:'languages'| filterNameActive:year:'year'| filterNameActive:country:'country'" let-i="index">
            <tr *ngIf="i<5">
              <td>
                <span>{{i+1}}</span>
              </td>
              <td>
                <a >
                  <div class="img-wrap">
                    <img src="/images/{{item.logo}}" style="width: 100%; height: 100%;" alt="">
                  </div>
                  <span>{{item.name}}</span>
                </a>
              </td>
              <td>
                <span class="amount-bold" *ngIf="exchange_volumes[item.name] != undefined">{{item.usd | number:'1.0-3'}}</span>
              </td>
              <!--<td>-->
                <!--<span *ngIf="exchange_volumes[item.name] != undefined">{{item.btc | number:'1.0-3'}}</span>-->
              <!--</td>-->
              <td>

                <span>{{pairs_count[item.name]}}</span>
              </td>
              <td>
                <div class="img-wrap-small">
                  <!-- <img src="img/rus-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <span class="text">+5</span> -->
                  <!--<ng-template  ngFor let-lang [ngForOf]="item.languages">-->
                    <!--<span *ngIf="lang =='EN'; else plain"><img src="img/usa-icon.png" alt=""></span>-->
                    <!--<ng-template #plain>{{lang}}</ng-template>-->
                  <!--</ng-template>-->
                </div>
              </td>
              <td>
                <span class="year">{{item.year}}</span>
              </td>
              <td>
                <div class="difference">
                  <span class="sity">{{item.country}}</span>

                  <div class="buttons">
                    <button class="right" [routerLink]="['/exchange', item.name]">></button>
                    <a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow plus" data-effect="mfp-zoom-in" data-effect="mfp-zoom-in">+</a>
                    <a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="plus popup-link follow" data-effect="mfp-zoom-in">+</a>

                    <button  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)" class="minus" data-effect="mfp-zoom-in"><img src="img/minus.png" alt=""></button>

                  </div>
                </div>
              </td>
              <!--<td>-->
              <!--<div class="difference">-->
              <!--&lt;!&ndash; <div class="stars-wrap">-->
              <!--<img src="img/stars.png" alt="">-->
              <!--<span>135</span>-->
              <!--</div> &ndash;&gt;-->
              <!--<p class="no-ratings">Оценок еще нет</p>-->
              <!--<div class="buttons">-->
              <!--<button class="right" [routerLink]="['/exchange', item.name]">></button>-->
              <!--<a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow plus" data-effect="mfp-zoom-in" data-effect="mfp-zoom-in">+</a>-->
              <!--<a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="plus popup-link follow" data-effect="mfp-zoom-in">+</a>-->

              <!--<button  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)" class="minus" data-effect="mfp-zoom-in"><img src="img/minus.png" alt=""></button>-->

              <!--</div>-->
              <!--</div>-->
              <!--</td>-->

            </tr>
          </ng-template>
          <tr *ngFor="let item of exchanges |
                    filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive' |
            filterNameActive:language:'languages'| filterNameActive:year:'year'| filterNameActive:country:'country'; let i = index">
          <td *ngIf="i+1 == 5" colspan="9" class="divider"></td>
          </tr>
          <ng-template ngFor let-item [ngForOf]="exchanges |
                    filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive' |
            filterNameActive:language:'languages'| filterNameActive:year:'year'| filterNameActive:country:'country'" let-i="index">
            <tr *ngIf="i>=5">
              <td>
                <span>{{i+1}}</span>
              </td>
              <td>
                <a >
                  <div class="img-wrap">
                    <img src="/images/{{item.logo}}" style="width: 100%; height: 100%;" alt="">
                  </div>
                  <span>{{item.name}}</span>
                </a>
              </td>
              <td>
                <span class="amount-bold" *ngIf="exchange_volumes[item.name] != undefined">{{item.usd | number:'1.0-3'}}</span>
              </td>
              <!--<td>-->
                <!--<span *ngIf="exchange_volumes[item.name] != undefined">{{item.btc | number:'1.0-3'}}</span>-->
              <!--</td>-->
              <td>

                <span>{{pairs_count[item.name]}}</span>
              </td>
              <td>
                <div class="img-wrap-small">
                  <!-- <img src="img/rus-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <img src="img/usa-icon.png" alt="">
                  <span class="text">+5</span> -->
                  <!--<ng-template  ngFor let-lang [ngForOf]="item.languages">-->
                    <!--<span *ngIf="lang =='EN'; else plain"><img src="img/usa-icon.png" alt=""></span>-->
                    <!--<ng-template #plain>{{lang}}</ng-template>-->
                  <!--</ng-template>-->
                </div>
              </td>
              <td>
                <span class="year">{{item.year}}</span>
              </td>
              <td>
                <div class="difference">
                  <span class="sity">{{item.country}}</span>

                  <div class="buttons">
                    <button class="right" [routerLink]="['/exchange', item.name]">></button>
                    <a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow plus" data-effect="mfp-zoom-in" data-effect="mfp-zoom-in">+</a>
                    <a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="plus popup-link follow" data-effect="mfp-zoom-in">+</a>

                    <button  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)" class="minus" data-effect="mfp-zoom-in"><img src="img/minus.png" alt=""></button>

                  </div>
                </div>
              </td>
              <!--<td>-->
              <!--<div class="difference">-->
              <!--&lt;!&ndash; <div class="stars-wrap">-->
              <!--<img src="img/stars.png" alt="">-->
              <!--<span>135</span>-->
              <!--</div> &ndash;&gt;-->
              <!--<p class="no-ratings">Оценок еще нет</p>-->
              <!--<div class="buttons">-->
              <!--<button class="right" [routerLink]="['/exchange', item.name]">></button>-->
              <!--<a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow plus" data-effect="mfp-zoom-in" data-effect="mfp-zoom-in">+</a>-->
              <!--<a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="plus popup-link follow" data-effect="mfp-zoom-in">+</a>-->

              <!--<button  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)" class="minus" data-effect="mfp-zoom-in"><img src="img/minus.png" alt=""></button>-->

              <!--</div>-->
              <!--</div>-->
              <!--</td>-->

            </tr>
          </ng-template>
          </tbody>
        </table>
        <div style="width: 50px; height: 50px; margin: 40px auto;">
          <img src="/img/load.gif" *ngIf="load == true" style=" width: 50px; height: 50px; text-align: center">
        </div>
      </div>
      <div class="table-wrap-mobile">
        <table class="table">
          <thead>
            <th width="43%">
              <span>Название</span>
            </th>
            <th width="43%">
              <span>Объем</span>
            </th>
            <th width="14%">
              <span>Пар</span>
            </th>
          </thead>
          <tbody>
            <tr
                    *ngFor="let item of exchanges | orderBy: order:reverse:'case-insensitive' |
                    filterNameActive:language:'languages'| filterNameActive:year:'year'|
                    filterNameActive:country:'country'; let i = index">

              <td>
                <a  [routerLink]="['/exchange', item.name]">
                  <div class="img-wrap">
                    <img src="/images/{{item.logo}}" style="width: 100%; height: 100%;" alt="">
                  </div>
                  <span style="font-size: 14px;">{{item.name}}</span>
                </a>
              </td>
              <td>
                <span class="amount-bold" *ngIf="exchange_volumes[item.name] != undefined">${{exchange_volumes[item.name].usd | number:'1.0-0'}}</span>
              </td>
              <td>
                <span class="amount-bold">{{pairs_count[item.name]}}</span>

              </td>

            </tr>
          </tbody>
        </table>
        <!--<a href="#" class="show-exchanges">Показать еще биржи</a>-->
      </div>
    </div>
  </section>

<div id="follow-popup" class="popup mfp-with-anim mfp-hide">
  <div class="popup-body">
    <h2>Следить за {{selectedItem?.name}}</h2>
    <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
    <div class="checkbox-list">
      <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
        <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
        <label for="{{i}}">
          <span></span>{{portfolio.name}}
        </label>
      </div>
    </div>
    <a href="#" class="add-portfolio">+Добавить портфель</a>
    <form class="hidden" #f="ngForm">
      <input type="text" ngModel name="name" required="" placeholder="Введите название...">
      <button (click)="createPortfolio(f)" type="submit">Добавить</button>
    </form>
  </div>
  <div class="save-block">
    <a (click)="submitPortfolio(selectedItem?.id, 'App\\Stock')" class="save-settings">Сохранить настройки</a>
    <a href="#" class="close-text">Отменить и закрыть</a>
  </div>
</div>