  <section class="mining-wrapper">
    <div class="wrapper">
<router-outlet></router-outlet>
<aside class="sidebar">
  <!--<h2 class="categories-ico-title">Категории</h2>-->
        <ul class="tag-list">
          <li routerLinkActive="active"><a routerLink="/cloud-mining/all" >Все</a></li>
          <li *ngFor="let category of categories">
          <a routerLinkActive="active"
           [routerLink]="['/cloud-mining/category', category.id]" >{{category.name}}({{category.count}})</a>
          </li>
        </ul>
        <app-sidebar></app-sidebar>
      </aside>
      </div>
  </section>