<div id="top" class="container">
      <div class="row">
            <div class="col-md-9">
<router-outlet></router-outlet>
</div>

  <div class="col-md-3 rightbar">
<!--     <div class="categories">

<a *ngFor="let category of categories"  style="display: inline-block"
 [routerLink]="['category', category.id]" routerLinkActive="active">{{category.name}}({{category.count}})</a>
    </div> -->
  
  
  
  
    <div class="quotations" style="margin-top:20px; border:1px solid #dee2e6;">
  
  <h5 style="margin-bottom:0px;padding:10px;padding-right:0;text-align:left;width:100%;padding-right:2px;float:left; background-color: rgba(0,0,0,.05);">Котировки криптовалют</h5>
  
  <table class="table table-striped table-sm" style="margin-bottom:0px;float:left; padding-left: 10px;">

  <tbody>
    <tr>
      <th scope="row" ><b style="background:#4a4a4a;color:white;padding:2px">BCC</b></th>
      <td style="color:red">$100</td>
      <td class="price">P 32 001</td>
      <td style="color:green">+15%</td>
    </tr>
    <tr>
      <th scope="row"><b style="background:#4a4a4a;color:white;padding:2px">BCC</b></th>
      <td style="color:red">$100</td>
      <td class="price">P 32 001</td>
      <td style="color:green">+15%</td>
    </tr>
    <tr>
      <th scope="row"><b style="background:#4a4a4a;color:white;padding:2px">BCC</b></th>
      <td style="color:red">$100</td>
      <td class="price">P 32 001</td>
      <td style="color:red">-15%</td>
    </tr>
      <tr>
      <th scope="row"><b style="background:#4a4a4a;color:white;padding:2px">BCC</b></th>
      <td style="color:red">$100</td>
      <td class="price">P 32 001</td>
      <td style="color:green">+15%</td>
    </tr>
  
      <tr>
      <th scope="row"><b style="background:#4a4a4a;color:white;padding:2px">BCC</b></th>
      <td style="color:green">$100</td>
      <td class="price">P 32 001</td>
      <td style="color:green">+15%</td>
    </tr>
  </tbody>
</table>

<a href="" style="background-color: rgba(0,0,0,.05);" class="all-cot">Показать все котировки</a>
<p style="width:100%;color:#5b5b5b;padding:10px;background-color: rgba(0,0,0,.05);margin-bottom:0px;font-size:12px;float:left; padding-top: 0;">Последнее обновление</p>


</div>
  
  
  
  
  
      <div class="quotations top5" style="margin-top:20px; padding: 5px;">
  
  <h5 style="margin-bottom:0px;padding:10px;padding-right:0;text-align:center;width:100%; padding-right:2px;float:left;">ТОП 5 Криптовалют (% роста)</h5>
  <div class="" style="width: 100%; margin-left:10px; float: left;">
    <ul class="tags tags-min">
          <li><a routerLinkActive="active"  routerLink="/posts/all">День</a></li>
          <li><a routerLinkActive="active" href="#">Неделя</a></li>
          <li><a routerLinkActive="active" href="#">Месяц</a></li>
          <li><a routerLinkActive="active" href="#">Год</a></li>
        </ul>
      </div>
  <table class="table table-sm" style="margin-bottom:0px;float:left">

  <tbody>
    <tr>
      <th style="border-top:none;" scope="row">Bitcoin</th>
      <td style="border-top:none;">$1231231232</td>
      <td style="border-top:none;">15%</td>

    </tr>
    <tr>
      <th style="border-top:none;" scope="row">Ethereum</th>
      <td style="border-top:none;">$1231231232</td>
      <td style="border-top:none;">15%</td>

    </tr>
    <tr>
      <th style="border-top:none;" scope="row">BitcoinCash</th>
      <td style="border-top:none;">$1231231232</td>
      <td style="border-top:none;">15%</td>

    </tr>
      <tr>
      <th style="border-top:none;" scope="row">Ripple</th>
      <td style="border-top:none;">$1231231232</td>
      <td style="border-top:none;">15%</td>

    </tr>
  
      <tr>
      <th style="border-top:none;" scope="row">KickCoin</th>
      <td style="border-top:none;">$1231231232</td>
      <td style="border-top:none;">15%</td>

    </tr>
  </tbody>
</table>

<a href="" style="float:left;width:100%;color:#4a4a4a;padding:0 10px;margin-top:5px;" class="all-cot">Подробный рейтинг</a>



</div>
  
  
  <div class="quotations" style="margin-top:40px;height:360px;background:#4a4a4a;text-align:center; margin-bottom: 30px;">
  
  
  <h4 style="color:#f58c1b;margin-top:100px;padding:20px">Желаете инвестировать в Bitcoin?</h4>
  
  <a class="btn btn-outline" style="background: #f58c1b;
    color: #fff;
    text-decoration: none;width:140px;border-radius:0">Нажми на меня</a>
    
  </div>
  
  
  
  
  
        <div class="quotations" style="margin-top:20px;padding:10px;">
  
  <h5 style="margin-bottom:0px;padding:10px;padding-right:0;text-align:center;width:100%; padding-right:2px;float:left;">ТОП 5 сервисов облачного майнинга</h5>
  
  <table class="table table-sm" style="margin-bottom:0px;float:left">

  <tbody>
    <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
  
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
  </tbody>
</table>

<a href="" style="float:left;width:100%;color:#4a4a4a;padding:0 10px;margin-top:5px;"  class="all-cot">Все проекты (987)</a>



</div>
  
  
  
  
  
  
  
  
  
   <div style="padding-top:20px;border:none;;padding-bottom: 20px;  padding-left: 10px; width:100%;float:left;min-height:5px;">
  <h4 style="margin-bottom:10px; 
  font-size: 15px; 
  font-weight:bold; 
  font-family: 'PT Sans'; 
  ">Мы в соц. сетях</h4>
  
  
  <i class="fa fa-vk"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-facebook"></i>
  </div>
  
  
  
  
  
  
            <div class="quotations" style="margin-top:20px;padding:10px;margin-bottom:20px;">
  
  <h5 style="margin-bottom:0px;padding:10px;padding-right:0;text-align:center;width:100%; padding-right:2px;float:left;">ТОП 5 фондов</h5>
  
  <table class="table table-sm" style="margin-bottom:0px;float:left">

  <tbody>
    <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:#f58c1b;margin-bottom:0;font-size:12px;">ОЖИДАНИЕ ВЫПЛАТЫ!</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:12px;">489 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
  
 <tr>
      <th style="border-top:none;" scope="row">HashFlare <p style="color:green;margin-bottom:0;font-size:11px;">ПЛАТИТ</p></th>
      <td style="border-top:none;text-align:right;font-size:13px;">489% <p style="color:#ddd;margin-bottom:0;font-size:11px;">111 дней</p></td>
    </tr>
  </tbody>
</table>

<a href="" style="float:left;width:100%;color:#4a4a4a;padding:0 10px;margin-top:5px;"  class="all-cot">Все фонды (981)</a>



</div>
</div>
</div>
</div>

<div class="footer">
  <div class="container">
  
  
  <p style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  
  <div style="width:500px;height:70px;padding:15px;background:white;border-radius:50px;margin:0 auto">
  
  <input type="text" style="background:white;border:none;width:300px;float:left;height:40px;"/>
  
<a class="btn btn-outline" style="background: #f58c1b;
    color: #fff;
    text-decoration: none;border-radius:50px;width:120px;float:right;">Подписаться</a>
</div>
  
  <h4 style="margin-top:40px;margin-bottom:18px; font-size: 15px; font-weight: bold">Мы в соц. сетях</h4>
  
  
  <i class="fa fa-vk"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-facebook"></i>
  
  
  
   <h6 style="margin-top:25px; margin-bottom: 20px;  font-size: 14px;">2017- Все права защищены</h6>
   <a href="/posts/all#top" style=" font-size: 14px;  color: #000; margin-top: 25px; text-decoration: underline;">Вернуться наверх</a>
   
   
   
   
  
  </div>
  </div>