<div class="news-content">
    <div class="news-head">
        <h1>Обзоры<span>{{countAll}}</span></h1>
        <ul class="news-tabs">
            <li class="active"><a (click)="setOrder('id')">Новое за сегодня</a></li>
            <li><a (click)="setOrder('views_count')">Самое популярное</a></li>
            <li><a  (click)="setOrder('comments_count')">Самое обсуждаемое</a></li>
        </ul>
    </div>
    <div class="news-body">
        <div class="news-tab-content active">
            <div class="main-news">
                <div class="news" *ngFor="let item of main_news | orderBy: order:reverse:'case-insensitive'">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photo+')'}">
                        <a routerLink="/reviews/category/{{item.cat_id}}" class="news-btn">{{item.category}}</a>
                        <a routerLink="/reviews/item/{{item.id}}" class="title-link">{{item.title}}</a>
                        <div class="info">
                            <span class="date">{{item.created_at}}</span>
                            <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                            <a href="/reviews/item/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>{{item.desc | striphtml |excerpt:80}}  <a routerLink="/anamytics/item/{{item.id}}">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="news-list">
                <div class="news" *ngFor="let item of news | orderBy: order:reverse:'case-insensitive'">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photo+')' }">
                        <a routerLink="/reviews/category/{{item.cat_id}}" class="news-btn">{{item.category}}</a>
                        <div class="info">
                            <span class="date">{{item.created_at}}</span>
                        </div>
                    </div>
                    <div class="text">
                        <h3>
                            <a routerLink="/reviews/item/{{item.id}}">{{item.title}}</a>
                        </h3>
                    </div>
                    <div class="text2">
                        <p>{{item.desc | striphtml |excerpt:80}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

