<header>
    <div class="top-head">
      <div class="wrapper">
        <div class="logo-block">
          <a href="home.html" class="logo"><img src="img/logo.png" alt=""><span>ВСЕ О РЫНКЕ КРИПТОВАЛЮТ</span></a>
        </div>
        <form class="top-search">
          <input type="text" placeholder="Поиск по названию криптовалюты, биржи, ICO, хайпа и др...">
          <input type="submit">
        </form>
        <ul class="login">
          <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Вход</a></li>
          <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Регистрация</a></li>
        </ul>
        <!-- <div class="setting-top-block">
          <a href="#"><img src="/img/settings-icon.png" alt=""></a>
          <div class="img-wrap"></div>
          <div class="select-wrap">
            <select>
              <option value="all">irinaivanova</option>
              <option value="usd">irinaivanova</option>
              <option value="eur">irinaivanova</option>
            </select>
          </div>
        </div> -->
      </div>
    </div>
    <div class="top-menu-wrap">
      <div class="wrapper">
        <ul class="top-menu">
          <li><a href="#">Новости</a></li>
          <li><a href="#">Обзоры</a></li>
          <li><a href="#">Интервью</a></li>
          <li><a href="#">Аналитика</a></li>
          <li><a href="#">Вопрос-ответ</a></li>
          <li class="active"><a href="#">Криптоваюты</a></li>
          <li><a href="#">Облачный майнинг</a></li>
          <li><a href="#">ICO</a></li>
          <li><a href="#">Фонды и хайпы</a></li>
          <li><a href="#">Биржи</a></li>
          <li><a href="#">Пулы</a></li>
        </ul>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>
  <footer>
    <div class="footer-wrap">
      <p class="footer-text">
        Это помощник и проводник по рынку крипто-валют, в первую очередь это набор бесплатных инструментов для анализа рынка крипто-валюты: <br> Всегда актуальные новости о крипто-валютах, биржах и новых сервисах в мире криптовалют. Новости собираются автоматически с огромного количества новостных, <br> русскоязычных и англоязычных тематических сайтов с круглосуточным обновлением. <a href="#">Полный текст</a>
      </p>
      <form class="subscribe">
        <input type="text" placeholder="Укажите свой e-mail и получайте новости на почту">
        <button type="button" class="subscribe-btn">Подписаться</button>
      </form>
      <div class="social-block">
        <h3>Мы в соц. сетях</h3>
        <ul>
          <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <p class="copyright">
        &copy;2017 - Все права защищены. BitInvest.ru - Рынок криптовалют онлайн! <br> О сервисе Контактная информация Реклама Пользовательское соглашение Политика конфиденциальности
      </p>
      <a href="#" class="anchor">Вернуться наверх</a>
    </div>
  </footer>
<!-- <app-crypto></app-crypto> -->
<!-- <app-exmo></app-exmo> -->
<!-- <app-markets></app-markets> -->
<!-- <app-cmc></app-cmc> -->