<div class="quotes">
          <h5 class="titles">Котировки криптовалют</h5>
          <ul>
            <img src="/img/load.gif" *ngIf="load==true" style="display: block;
            margin: 10px auto; width: 25px; height: 25px;">
              <ng-template [ngForOf]="let item of dataUsd; let i = index">
            <li *ngIf="i < 5">
              <a *ngIf="i < 5" routerLink="/crypto/{{item.sym}}">
                <span *ngIf="i < 5" class="crypto" >{{item.sym}}</span>
                <span *ngIf="i < 5" class="usd" [ngStyle]="{ 'animation': animtype[i]+' 2s', '-webkit-animation': animtype[i]+' 2s'  }">${{item.now | number:'1.0-1'}}</span>
                <span *ngIf="i < 5" class="rub" [ngStyle]="{ 'animation': animtype[i]+' 2s', '-webkit-animation': animtype[i]+' 2s'  }">₽{{item.now*60 | number:'1.0-1'}}</span>
                <span *ngIf="i < 5" class="change" style="color: #000;" [ngStyle]="{ 'animation': animtype[i]+' 2s', '-webkit-animation': animtype[i]+' 2s'  }">{{item.now-item.last | number:'1.0-1'}}</span>
              </a>
            </li>
              </ng-template>
          </ul>
          <a routerLink="/cryptocurrency/all" class="show-all">Показать все котировки</a>
          <!--<p class="updated">Последнее обновление: 26.10.17, 12:42</p>-->
        </div>
<div class="top-crypto">
    <h5 class="titles"><span>ТОП 5</span>криптовалют (% роста)</h5>
    <div class="periods">
        <ul class="period-tabs">
            <li class="active"><a href="#">День</a></li>
            <li><a href="#">Неделя</a></li>
            <li><a href="#">Месяц</a></li>
            <li><a href="#">Год</a></li>
        </ul>
        <div class="period-content">
            <div class="tab-content active">
                <ul>
                    <li *ngFor="let item of dataUsd | orderBy: order:reverse:'case-insensitive'; let i = index">
                        <a *ngIf="i < 5" href="" class="name">{{item.sym}}</a>
                        <span *ngIf="i < 5" class="price"> ${{item.marketCapUsd| number: '1.0-3'}}</span>
                        <span *ngIf="i < 5" class="percent">{{ item.percentDay | number: '1.2'}}%</span>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <ul>
                    <li>
                        <a href="" class="name">Bitcoin</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ethereum</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">BitcoinCash</a>
                        <span class="price">$90819201</span>
                        <span class="percent">8%</span>
                    </li>
                    <li>
                        <a href="" class="name">EthereumClassic</a>
                        <span class="price">$8790899</span>
                        <span class="percent">7,2%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ripple</a>
                        <span class="price">$2829</span>
                        <span class="percent">2%</span>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <ul>
                    <li>
                        <a href="" class="name">Bitcoin</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ethereum</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">BitcoinCash</a>
                        <span class="price">$90819201</span>
                        <span class="percent">8%</span>
                    </li>
                    <li>
                        <a href="" class="name">EthereumClassic</a>
                        <span class="price">$8790899</span>
                        <span class="percent">7,2%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ripple</a>
                        <span class="price">$2829</span>
                        <span class="percent">2%</span>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <ul>
                    <li>
                        <a href="" class="name">Bitcoin</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ethereum</a>
                        <span class="price">$2829101929191</span>
                        <span class="percent">11%</span>
                    </li>
                    <li>
                        <a href="" class="name">BitcoinCash</a>
                        <span class="price">$90819201</span>
                        <span class="percent">8%</span>
                    </li>
                    <li>
                        <a href="" class="name">EthereumClassic</a>
                        <span class="price">$8790899</span>
                        <span class="percent">7,2%</span>
                    </li>
                    <li>
                        <a href="" class="name">Ripple</a>
                        <span class="price">$2829</span>
                        <span class="percent">2%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#" class="details">Подробный рейтинг</a>
</div>