.tradingview-widget-copyright {
  max-width: 100% !important;
}
iframe {
  max-width: 100% !important;
}
#tradingview_785bf {
  max-width: 100% !important;
}
#tradingview_49b32 {
  max-width: 100% !important;
}
#tradingview_04a59  {
  max-width: 100% !important;
}
#tradingview_1d41c {
  max-width: 100% !important;
}