<section class="interview-wrap">
    <div class="wrapper">
<router-outlet></router-outlet>
  <aside class="sidebar">
        <ul class="tag-list">
          
<li><a *ngFor="let category of categories"
 [routerLink]="['category', category.id]" routerLinkActive="active">{{category.name}}({{category.count}})</a></li>
        </ul>
        <div class="quotes">
          <h5 class="titles">Котировки криптовалют</h5>
          <ul>
            <li>
              <a href="#">
                <span class="crypto">BTC</span>
                <span class="usd">$5,485</span>
                <span class="rub">₽328 001</span>
                <span class="change">-1,25%</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="crypto">ETH</span>
                <span class="usd usd-red">$570</span>
                <span class="rub">₽32 001</span>
                <span class="change">-1,25%</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="crypto">BTC</span>
                <span class="usd usd-green">$570</span>
                <span class="rub">₽32 001</span>
                <span class="change change-green">+12,25%</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="crypto">BTC</span>
                <span class="usd">$5,485</span>
                <span class="rub">₽32 001</span>
                <span class="change">-1,25%</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="crypto">BTC</span>
                <span class="usd">$570 </span>
                <span class="rub">₽32 001</span>
                <span class="change">-1,25%</span>
              </a>
            </li>
          </ul>
          <a href="#" class="show-all">Показать все котировки</a>
          <p class="updated">Последнее обновление: 26.10.17, 12:42</p>
        </div>
        <div class="top-crypto">
          <h5 class="titles"><span>ТОП 5</span>криптовалют (% роста)</h5>
          <div class="periods">
            <ul class="period-tabs">
              <li class="active"><a href="#">День</a></li>
              <li><a href="#">Неделя</a></li>
              <li><a href="#">Месяц</a></li>
              <li><a href="#">Год</a></li>
            </ul>
            <div class="period-content">
              <div class="tab-content active">
                <ul>
                  <li>
                    <a href="" class="name">Bitcoin</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ethereum</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">BitcoinCash</a>
                    <span class="price">$90819201</span>
                    <span class="percent">8%</span>
                  </li>
                  <li>
                    <a href="" class="name">EthereumClassic</a>
                    <span class="price">$8790899</span>
                    <span class="percent">7,2%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ripple</a>
                    <span class="price">$2829</span>
                    <span class="percent">2%</span>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <ul>
                  <li>
                    <a href="" class="name">Bitcoin</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ethereum</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">BitcoinCash</a>
                    <span class="price">$90819201</span>
                    <span class="percent">8%</span>
                  </li>
                  <li>
                    <a href="" class="name">EthereumClassic</a>
                    <span class="price">$8790899</span>
                    <span class="percent">7,2%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ripple</a>
                    <span class="price">$2829</span>
                    <span class="percent">2%</span>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <ul>
                  <li>
                    <a href="" class="name">Bitcoin</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ethereum</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">BitcoinCash</a>
                    <span class="price">$90819201</span>
                    <span class="percent">8%</span>
                  </li>
                  <li>
                    <a href="" class="name">EthereumClassic</a>
                    <span class="price">$8790899</span>
                    <span class="percent">7,2%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ripple</a>
                    <span class="price">$2829</span>
                    <span class="percent">2%</span>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <ul>
                  <li>
                    <a href="" class="name">Bitcoin</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ethereum</a>
                    <span class="price">$2829101929191</span>
                    <span class="percent">11%</span>
                  </li>
                  <li>
                    <a href="" class="name">BitcoinCash</a>
                    <span class="price">$90819201</span>
                    <span class="percent">8%</span>
                  </li>
                  <li>
                    <a href="" class="name">EthereumClassic</a>
                    <span class="price">$8790899</span>
                    <span class="percent">7,2%</span>
                  </li>
                  <li>
                    <a href="" class="name">Ripple</a>
                    <span class="price">$2829</span>
                    <span class="percent">2%</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a href="#" class="details">Подробный рейтинг</a>
        </div>
        <a href="#" class="banner-black"><img src="img/banner-black.jpg" alt=""></a>
        <div class="top-services">
          <h5 class="titles"><span>ТОП 5</span> сервисов <br> облачного майнинга</h5>
          <ul class="top-ul">
            <li>
              <div class="left">
                <a href="">HashFlare SHA-256 2017</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">489%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">Bitmakler CMS</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">CryptoMining Farm </a>
                <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">CMSHP</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">Bitmakler CMS</a>
                <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
          </ul>
          <a href="#" class="all-projects">Все проекты (981)</a>
        </div>
        <div class="social">
          <h5 class="titles">Мы в соц.сетях</h5>
          <ul>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="top-fonds">
          <h5 class="titles"><span>ТОП 5</span> фондов</h5>
          <ul class="top-ul">
            <li>
              <div class="left">
                <a href="">HashFlare SHA-256 2017</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">489%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">Bitmakler CMS</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">Bitmakler CMS</a>
                <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">CMSHP</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="">Bitmakler CMS</a>
                <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
              </div>
              <div class="right">
                <span class="persent">11%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
          </ul>
          <a href="#" class="all-fonds">Все фонды (981)</a>
        </div>
      </aside>
    </div>
  </section>