<section class="interview-wrap">
    <div class="wrapper">
<router-outlet></router-outlet>
  <aside class="sidebar">
        <ul class="tag-list">
            <li> <a
                    [routerLink]="['/interview/all']" routerLinkActive="active">Все интервью</a></li>
<li><a *ngFor="let category of categories"
 [routerLink]="['category', category.id]" routerLinkActive="active">{{category.name}}({{category.count}})</a></li>
        </ul>
        <app-sidebar></app-sidebar>
      </aside>
    </div>
  </section>