
          <table *ngIf="pairs">
            <thead>
              <tr>
                <th width="22%"><span>Пара</span></th>
                <th width="15%"><span>Курс</span></th>
                <th width="16%"><span>Рост за 24ч.</span></th>
                <th width="18%"><span>Объем BTC за 24ч.</span></th>
                <th width="29%"><span>Рост объема за 24 ч.</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pair of pairs">
                <td>
                  <span class="price">{{pair.currency}}</span>
                </td>
                <td>
                  <span>0.000409</span>
                </td>
                <td>
                  <span class="green">+5,7%</span>
                </td>
                <td>
                  <span>12.2848</span>
                </td>
                <td>
                  <span class="green">+5,7%</span>
                </td>
              </tr>
              
            </tbody>
          </table>
          