.comment-block {
  margin-top: 30px;
}
.comment-block .comment-top {
  border-bottom: 1px solid #e3e3e3;
  background: #fff;
  padding: 20px 19px 19px 20px;
}
.comment-block .comment-top h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.comment-block .comment-top p {
  font-size: 14px;
  font-weight: bold;
  color: #fa5252;
}
.comment-block .comment-top p a {
  color: #fa5252;
  text-decoration: underline;
}
.comment-block .comment-items {
  padding: 0 22px 0 18px;
}
.comment-block .comment-items li {
  padding: 20px 0;
  border-bottom: 1px solid #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.comment-block .comment-items li:last-child {
  border: none;
}
.comment-block .comment-items li.hidden {
  display: none;
}
.comment-block .comment-items li .left .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.comment-block .comment-items li .left .info .img-wrap {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}
.comment-block .comment-items li .left .info .img-wrap img {
  width: 100%;
  border-radius: 50%;
}
.comment-block .comment-items li .left .info .text-wrap p {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}
.comment-block .comment-items li .left .info .text-wrap span {
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  color: #777;
}
.comment-block .comment-items li .left .comment-text {
  color: #000;
  font-size: 16px;
}
.comment-block .comment-items li .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 78px;
}

.comment-block .comment-items li .right .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comment-block .comment-items li .right .btn-block .number-green {
  font-size: 24px;
  color: #8cc863;
}
.comment-block .comment-items li .right .btn-block .number-red {
  font-size: 24px;
  color: #fa5252;
}
.comment-block .comment-items li .right .btn-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 9px;
}
.comment-block .comment-items li .right .btn-block .buttons a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.comment-block .comment-items li .right .btn-block .buttons .plus {
  margin-bottom: 4px;
  color: #fff;
  font-size: 18px;
  background: #8cc863;
}
.comment-block .comment-items li .right .btn-block .buttons .plus:hover {
  background: #c0deac;
}
.comment-block .comment-items li .right .btn-block .buttons .minus {
  color: #fff;
  font-size: 18px;
  background: #fa5252;
}
.comment-block .comment-items li .right .btn-block .buttons .minus:hover {
  background: #f8a3a3;
}
.comment-block .show-comments {
  width: 100%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: -1px;
  color: #383c46;
  background: #c1c1c1;
}
.comment-block .show-comments:hover {
  background: #383c46;
  color: #fff;
}
.comment-block .total-comments {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-left: 18px;
  margin-top: 24px;
}

.comment-wrap {
  margin-top: -15px;
  margin-bottom: 25px;
}
.comment-items li:last-child {
  border: none;
}
.comment-top {
  padding: 18px 25px 21px 15px;
}
.comment-top form textarea {
  height: 54px;
  border: 1px solid #e4e4e4;
  width: 100%;
  resize: none;
  font-size: 14px;
  color: #949494;
  padding: 10px;
  margin-bottom: 10px;
}
.comment-top form textarea::-webkit-input-placeholder {
  color: #949494;
}
.comment-top form textarea::-moz-placeholder {
  color: #949494;
}
.comment-top form textarea:-ms-input-placeholder {
  color: #949494;
}
.comment-top form textarea:-moz-placeholder {
  color: #949494;
}
.comment-top form textarea:focus {
  outline: none;
}
.comment-top form button {
  height: 34px;
  background: #f58c1b;
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 17px;
  border: none;
  font-weight: bold;
}
.comment-block .comment-items {
  padding: 0 22px 0 18px;
}
.comment-block .comment-items li {
  padding: 20px 0;
  border-bottom: 1px solid #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.comment-block .comment-items li:last-child {
  border: none;
}
.comment-block .comment-items li.hidden {
  display: none;
}
.comment-block .comment-items li .left .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.comment-block .comment-items li .left .info .img-wrap {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}
.comment-block .comment-items li .left .info .img-wrap img {
  width: 100%;
  border-radius: 50%;
}
.comment-block .comment-items li .left .info .text-wrap p {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}
.comment-block .comment-items li .left .info .text-wrap span {
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  color: #777;
}
.comment-block .comment-items li .left .comment-text {
  color: #000;
  font-size: 16px;
}
.comment-block .comment-items li .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 78px;
}

.comment-block .comment-items li .right .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comment-block .comment-items li .right .btn-block .number-green {
  font-size: 24px;
  color: #8cc863;
}
.comment-block .comment-items li .right .btn-block .number-red {
  font-size: 24px;
  color: #fa5252;
}
.comment-block .comment-items li .right .btn-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 9px;
}
.comment-block .comment-items li .right .btn-block .buttons a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.comment-block .comment-items li .right .btn-block .buttons .plus {
  margin-bottom: 4px;
  color: #fff;
  font-size: 18px;
  background: #8cc863;
}
.comment-block .comment-items li .right .btn-block .buttons .plus:hover {
  background: #c0deac;
}
.comment-block .comment-items li .right .btn-block .buttons .minus {
  color: #fff;
  font-size: 18px;
  background: #fa5252;
}
.comment-block .comment-items li .right .btn-block .buttons .minus:hover {
  background: #f8a3a3;
}
.comment-block .show-comments {
  width: 100%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: -1px;
  color: #383c46;
  background: #c1c1c1;
}
.comment-block .show-comments:hover {
  background: #383c46;
  color: #fff;
}
.comment-block .total-comments {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-left: 18px;
  margin-top: 24px;
}
.analytics-block .comment-block {
  margin-top: 0;
  margin-bottom: 28px;
  border-top: 9px solid #e5e5e5;
  border-bottom: 9px solid #e5e5e5;
}
.analytics-block .comment-block .comment-top {
  border: none;
  padding: 0;
  padding-top: 28px;
  background-color: transparent;
}
.analytics-block .comment-block .comment-items {
  padding: 0;
  padding-bottom: 8px;
}
.analytics-block .comment-block .comment-items li {
  border: none;
}
.innertext {
  margin-bottom:20px;
}

.blockquote-block {
  border: 3px solid #e5e5e5;
  padding: 35px;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  .blockquote-block {
    padding: 30px;
  }
}
.blockquote-block p {
  text-align: center;
  font-size: 24px;
  color: #000;
  line-height: 28px;
}
@media (max-width: 600px) {
  .blockquote-block p {
    font-size: 16px;
    line-height: 20px;
  }
  .blockquote-block p br {
    display: none;
  }
}
@media (max-width: 600px) {
  .blockquote-block p img {
    position: absolute;
  }
  .blockquote-block p img:first-child {
    left: 25px;
  }
}


.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 1px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f6b10b;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #f6b10b;
}

.exchanges-card-wrap .project-info-content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.exchanges-card-wrap .project-info-content .info .last-updated {
  color: #848484 !important;
}
.exchanges-card-wrap .project-info-content .info .rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}
@media (max-width: 600px) {
  .exchanges-card-wrap .project-info-content .info .rating-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.exchanges-card-wrap .project-info-content .info .rating-wrap span {
  font-size: 14px;
  color: #f58c1b;
  display: inline-block;
  margin-left: 7px;
}
.exchanges-card-wrap #general {
  margin-bottom: 13px;
  padding-bottom: 20px;
}
.exchanges-card-wrap #general .basic-information-wrap {
  margin-bottom: 24px;
}
.exchanges-card-wrap #general .basic-information-wrap .left ul li:last-child {
  margin-top: 22px;
}
.exchanges-card-wrap #coins ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0;
}
.exchanges-card-wrap #coins ul li {
  margin-bottom: 10px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 600px) {
  .exchanges-card-wrap #coins ul li {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .exchanges-card-wrap #coins ul li {
    width: 100%;
  }
}
.exchanges-card-wrap #coins ul li .img-wrap {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.exchanges-card-wrap #coins ul li .img-wrap img {
  width: 100%;
}
.exchanges-card-wrap #coins ul li span {
  font-size: 14px;
  color: #010a3b;
}
.exchanges-card-wrap #coins .footer-text p {
  font-size: 14px;
  color: #010a3b;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .exchanges-card-wrap .exchanges-table {
    overflow-x: auto;
    max-width: calc(880px + 28px);
    margin-left: -14px;
  }
}
@media (max-width: 600px) {
  .exchanges-card-wrap .exchanges-table table {
    width: 880px;
    overflow-x: auto;
  }
}
.exchanges-card-wrap .exchanges-table table .green {
  color: #529127;
}
.exchanges-card-wrap .exchanges-table table .red {
  color: #f00;
}
.exchanges-card-wrap .exchanges-table .show-btn {
  width: 100%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #383c46;
  background: #c1c1c1;
  margin-top: -1px;
}
@media (max-width: 600px) {
  .exchanges-card-wrap .exchanges-table .show-btn {
    display: none;
  }
}
.exchanges-card-wrap .exchanges-table .show-btn:hover {
  background: #383c46;
  color: #fff;
}
.exchanges-title-block {
  padding-right: 23px;
}
@media (max-width: 600px) {
  .exchanges-title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 880px;
    overflow-x: auto;
  }
}
.exchanges-title-block h2 {
  margin-right: 15px;
}
.exchanges-title-block form {
  min-width: 230px;
  height: 27px;
  border-radius: 22px;
}
.exchanges-title-block form input {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  color: #737373;
  padding: 0 15px;
}
.exchanges-title-block form input::-webkit-input-placeholder {
  color: #737373;
}
.exchanges-title-block form input::-moz-placeholder {
  color: #737373;
}
.exchanges-title-block form input:-ms-input-placeholder {
  color: #737373;
}
.exchanges-title-block form input:-moz-placeholder {
  color: #737373;
}
.exchanges-title-block span {
  margin-left: auto;
  font-size: 12px;
  color: #545454;
}
.exchanges-card-wrap #news {
  margin-top: 30px;
}
.exchanges-card-wrap #news h2 {
  margin-left: 22px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
@media (max-width: 600px) {
  .exchanges-card-wrap #news.news-block {
    display: none;
  }
}
.exchanges-card-wrap #news.news-block h3 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.exchanges-card-wrap #news.news-block .news-wrap {
  width: 100%;
  margin-right: -14px;
}
.exchanges-card-wrap #news.news-block .news-wrap .news {
  width: 281px;
  margin-right: 14px;
  display: inline-block;
}
.exchanges-card-wrap #news.news-block .news-wrap .news:nth-child(3n) {
  margin-right: 0;
}
.exchanges-card-wrap #comment-block {
  margin-top: 15px;
}
