.news-content {
width: 880px !important;
  /*width: 100%;*/
margin-left: -10px;
}
.main-news .news:nth-child(even) {
  max-width: 424px;
}
   body{
  background: #f9f9f9;
    font-family: "PT Sans";
  }
  
  .container {
        max-width: 1180px !important;
      }
      .navbar {
        background: #1d1f24;
        padding: 15px 0;
      }
      #searchform, #searchform input {
        width: 100%;
    border-radius:20px;
    border:none;
    height:40px;
      }
      .menubar {
        background: #383c46;
      }
      .navbar-nav-ul a {
        font-family: "PT Sans";
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        display: block;
        padding: 7px 14px;
        font-size: 14px;
        border-top: 2px solid #383c46;
        border-right: 1px solid #1d1f24;
      }
      .navbar-nav-ul li:last-of-type a {
        margin-right: 0;
        border-right: none;
      }
      .navbar-nav-ul a:hover, .navbar-nav-ul a.active {
        background: #fff;
        color: #f58c1b;
        border-top: 2px solid #f58c1b;
        text-decoration: none;
      }
      .navbar-nav-ul, .tags {
        overflow: hidden;
        list-style: none;
        padding-left: 0;
      }
      .navbar-nav-ul li, .tags li {
        float: left;
      }
      .tag {
        z-index: 99;
        position: relative
      }
    
    .tags li {
        margin-right: 15px;
       }
      .tags a {
        display: block;
        float: left;
        padding: 9px 17px;
        border-radius: 120px;
        background: #e5e5e5;
        color: #3e4468;
        font-size: 13px;
        font-family: "PT Sans";
      }
      .tags a:hover, .tags a.active {
        background: #f58c1b;
        color: #fff;
        text-decoration: none;
      }
      .block {
        height: 230px !important;
        margin-bottom: 13px !important;
      }
      .block-content {
        padding: 24px 0 0 24px;
      }
      .block-content span a {
        background: #fff;
        color: #1d1f24;
        padding: 7px;
        text-decoration: none;
        font-size: 12px;
        /*display: block;*/
        margin-right:10px;
      }
      .block-content h2 {
        font-size: 25px;
        color: #fff;
        line-height: 32px;
        margin-top: 30px;
      }

      .meta {
        position: absolute;
        bottom: 20px;
        left: 24px;
        color: #fff;
        font-family: "Myriad Pro", sans-serif;
        font-weight: 100;
        font-size: 10px;
      }
      .main-block p {
        color: #002026;
        font-size: 13px;
        margin-top: 20px;
        width: 85%;
        line-height: 17px;
      }
      .main-block p a {
        color: #002026;
        text-decoration: underline;
      }
      .masonry-item {
        width: 33.33%;
        /*margin: 10px;*/
        min-height: 170px;
    padding:10px;
      }
      .masonry-item img {
        width: 100%;
      }
      .masonry {
        width: 100%;
        /*margin-left: -10px;*/
        margin-top: 20px;
      }
      .left-block {
        width: 880px;
      }
      .masonry-item h3 {
        line-height: 23px;
      }
      .masonry-item h3 a {
        color: #000000;
        font-size: 18px;
        font-weight: bold;
        font-family: "PT Sans";
        text-decoration: none;
        line-height: 23px;
      }
      .masonry-item h3 a:hover {
        color: #f58c1b;
      }
      .grid-item-bg {
        min-height: 170px;
        position: relative;
        overflow: hidden;
      }
      .left-block {
        padding-left: 0;
        float: left;
      }
      .left-block .row {
        margin-left: 0 !important;
      }
      .right-block {
        max-width: 270px;
        float: right;
        width: 250px;

      }
      .categories a {
        background: #cfcfcf;
        border-radius: 20px;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        padding: 7px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .categories a:hover, .categories .active {
        background:#383c46;
        color: #fff;
      }
      .row b {
        padding: 4px 5px !important;
        font-size: 12px;
      }
  
  
  .quotations{width:100%;float:left;min-height:5px; background: #fff }
  
  .quotations h5{}
  
  .footer{width:100%;background:#eee;text-align:center;float:left;min-height:5px;padding:50px;}
  
.top{width:100%;height:100px;background:black}


.block {
    float: left;
    margin-bottom: 25px;
    width: calc(33.33% - 17px);
    position:relative !important;
}


.block img {
    width: 100%;
    height: auto;
}
.quotations h5 {
  color: #383c46;
  text-align: left !important;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

.quotations th {
  padding-left: 10px;
}
.top5 {
  font-weight: 100;
  font-size: 13px;
  text-align: right;
  padding: 15px !important;
}
.top5 .all-cot {
  text-align: left;
}
.top5 th {
  font-weight: bold;
  text-align: left;
}
.all-cot {
  width:100%;color:#4a4a4a;padding:10px;float:left; text-decoration: underline; font-weight: bold; font-size: 13px; padding-bottom: 0px;
}
i.fa {
  padding: 0 !important;
}
i{padding:5px;border:1px solid #9b9b9b;color:#9b9b9b;border-radius:50%;width:30px;height:30px;line-height:30px;text-align:center}
i:hover{color:#f58c1b;border:1px solid #f58c1b;cursor:pointer;}
.row .col-md-9 .row .col-md-3 {
  padding-left: 22px !important;
    padding-top: 5px;
}
.col-md-3 > h3 {
  font-size: 35px;
}
h3+h6 {
  color: #9b9b9b;
    margin-top: 13px !important;
    float: left;
    width: 50%;
    text-align: center;
    padding-left: 20px;
}
.tags li {
  margin-top: 7px;
}
.rightbar {
  padding-left: 0;
  padding-right: 36px;
}
.categories {
  margin-top: 15px;

}
.price {
  font-weight: bold !important;
  font-size: 13px;
  color: #919191;
  padding-top: 7px !important;
  margin-bottom: -10px;
}
.login a {
  font-size: 13px;
}
.spy {
  background: url(/assets/spy.png) top left no-repeat;
  color: #fff;
  padding-left: 25px;
  margin-left: 20px;
}
.chat {
    background: url(/assets/chat.png) top left no-repeat;
  color: #fff;
  padding-left: 20px;
  margin-left: 20px;
}
.main-block h2 a {
  color: #fff;
  text-decoration: none;
}
.main-block h2 a:hover {
  text-decoration: underline;
}