<div class="top-fonds">
          <h5 class="titles"><span>ТОП 5</span> ICO проектов</h5>
          <ul class="top-ul">
            <li>
              <div class="left">
                <a href="">HashFlare SHA-256 2017</a>
                <span class="paying">ПЛАТИТ!</span>
              </div>
              <div class="right">
                <span class="persent">489%</span>
                <span class="days">489 дней</span>
              </div>
            </li>
          </ul>
          <a href="#" class="all-fonds">Все фонды (981)</a>
        </div>