<div class="top-fonds">
  <h5 class="titles"><span>ТОП 5</span> ICO проектов</h5>
  <ul class="top-ul">
    <li *ngFor="let ico of ico_top">
      <div class="left">
        <a [routerLink]="['ico/item', ico.id]">{{ico.name}}</a>
        <!--<span class="paying">ПЛАТИТ!</span>-->
      </div>
      <!--<div class="right">-->
        <!--<span class="persent">489%</span>-->
        <!--<span class="days">489 дней</span>-->
      <!--</div>-->
    </li>
  </ul>
  <a href="#" class="all-fonds">Все фонды (ico_top.count)</a>
</div>