<div class="single-top-block">
  <div class="wrapper" style="max-width: 1180px;">
    <a routerLink="/cryptocurrency/all" class="return"><span>&#60;</span>Вернуться к списку криптовалют</a>
    <div class="currency">
      <h2>{{data?.symbol}}/USD - {{data?.name}} Доллар США</h2>
      <ul>
          <li class="active"><a href="#">USD</a></li><!-- 
          <li><a href="#">EUR</a></li>
          <li><a href="#">RUR</a></li> -->
          <li>
            <div id="select-currency" class="select-wrap select-gray">
          <!--     <select>
                <option value="all">Еще</option>
                <option value="gbp">GBP</option>
                <option value="gel">GEL</option>
              </select> -->
            </div>
          </li>
          <li class="follow"><a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
            <a href="#follow-popup" *ngIf="!checkInPortfolio(data?.id) && checkAuth()" (click)="selectedItem = data" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>

            <a class="follow"  *ngIf="checkInPortfolio(data?.id) && checkAuth()"  (click)="removePortfolio(data?.id)"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
          </li>
        </ul>
      </div>
      <div class="price-block">
        <div class="last-update">
          <div class="prices-wrap">

            <span class="price" style="color: #000;" [ngStyle]="{ 'animation': animtype+' 2s', '-webkit-animation': animtype+' 2s'  }">${{dataUsd.now | number:'1.0-1'}}</span>
            <span *ngIf="diff != 0" class=" " [ngClass]="diff > 0 ? 'green-price' : 'red-price'">{{diff | number:'1.0-5'}}</span>
            <span *ngIf="diff ==0" class=" " [ngClass]="diff > 0 ? 'green-price' : 'red-price'">{{dataUsd.now-dataUsd.last | number:'1.0-5'}}</span>
            <span *ngIf="prev == 0" [ngClass]="diff > 0 ? 'bg-price-green' : 'bg-price'">{{countPercent(dataUsd.now, prev) | number:'1.2-3'}}%</span>
            <span *ngIf="prev != 0" [ngClass]="diff > 0 ? 'bg-price-green' : 'bg-price'">{{countPercent(dataUsd.now, dataUsd.last) | number:'1.2-3'}}%</span>
          </div>
          <p *ngIf="time_value">Последнее обновление {{time_value*1000 | date:'HH:mm:ss'}}</p>
        </div>
        <ul>
          <li><span>Объем за 24ч.</span><span class="black">{{volume | number:'1.0-1'}}</span></li>
          <li><span>Спрос / Предложение</span><span class="black">{{bid_ask.ask | number:'1.0-2'}} / {{bid_ask.bid | number:'1.0-2'}}</span></li>
          <li><span>Дневной диапазон</span><span><span class="red">{{min_value | number:'1.0-1'}}</span> <span class="black">/</span> <span class="green">{{max_value | number:'1.0-1'}}</span></span>
          </li>
          <li><span>Капитализация</span><span class="black">${{dataUsd.marketCapUsd| number:'1.0-2'}}</span></li>
          <li><span>Алгоритм</span><span class="black">{{data?.algo}}</span></li>
          <!-- <li><span>Всего монет / Получено</span><span class="black">21 000 000 000 / 89 000 891 (52%)</span></li> -->
        </ul>
      </div>
    </div>
  </div>

<section class="crypto-single-wrap">
    <div class="wrapper">
      <div class="crypto-single-content">
        <ul class="crypto-tab-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="./">Обзор</a></li>
          <li routerLinkActive="active"><a routerLink="graph">График</a></li>
          <li routerLinkActive="active"><a routerLink="news">Новости</a></li>
          <li routerLinkActive="active"><a routerLink="comments">Комментарии ({{commentcount}})</a></li>
          <li routerLinkActive="active"><a routerLink="analytics">Аналитика</a></li>
          <li routerLinkActive="active" class="desc"><a routerLink="about" >Описание</a></li>
        </ul>
        <div class="tab-content-wrap">
          <div class="tab-content"  [ngClass]="basicRoute() ? 'active' : ''">
            <div class="overview-content">
              <ul class="overview-list">
                 <li><span>Объем за 24ч.</span><span class="black">{{volume | number:'1.0-1'}}</span></li>
          <li><span>Спрос / Предложение</span><span class="black">{{bid_ask.ask | number:'1.0-2'}} / {{bid_ask.bid | number:'1.0-2'}}</span></li>
          <li><span>Дневной диапазон</span><span><span class="red">{{min_value | number:'1.0-1'}}</span> <span class="black">/</span> <span class="green">{{max_value | number:'1.0-1'}}</span></span>
          </li>
          <li><span>Капитализация</span><span class="black">${{dataUsd.marketCapUsd| number:'1.0-2'}}</span></li>
          <li><span>Алгоритм</span><span class="black">{{data?.algo}}</span></li>
              </ul>
              <div class="overview-block">
                <h3>{{data?.symbol}}/USD График криптовалюты</h3>
                <app-chart></app-chart>
              </div>
              <div class="overview-table-wrap">
                <div class="overview-title-block">
                  <h2>Котировки {{data?.symbol}}/USD на различных биржах</h2>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="17%"><span>Биржа</span></th>
                      <th width="10%"><span>Стоимость</span></th>
                      <th width="10%"><span>Спрос</span></th>
                      <th width="13%"><span>Предложение</span></th>
                      <th width="13%"><span>Объем за 24ч. ({{data?.symbol}})</span></th>
                      <th width="13%"><span>Объем за 24ч. </span></th>
                      <th width="11%"><span>Изм. за 24 ч.</span></th>
                      <th width="14%"><span>Обновлено</span></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="load==false" style="position: relative; min-height: 65px;">

                    <tr *ngFor="let stock of stocks; let i = index">
                      <td>
                        <a  >
                          <!-- <span class="img-wrap"><img src="img/bitfinex-icon.png" alt=""></span> -->
                          <span class="text">{{stock.name}}</span>
                        </a>
                      </td>
                      <td>
                        <span class="cost" 
                        [ngStyle]="{ 'animation': animstock[i]+' 2s', '-webkit-animation': animstock[i]+' 2s'}">${{stock.value | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="demand" *ngIf="stock.ask">${{stock.ask | number:'1.0-1'}}</span>
                        <span class="demand" *ngIf="!stock.ask">-</span>
                      </td>
                      <td>
                        <span class="sentence" *ngIf="stock.bid">${{stock.bid | number:'1.0-1'}}</span>
                        <span class="sentence" *ngIf="!stock.bid">-</span>
                      </td>
                      <td>
                        <span class="amount">{{stock.volume | number:'1.0-2'}}</span>
                      </td>
                      <td>
                        <span class="amount">${{stock.volumeCommon | number:'1.0-2'}}</span>
                      </td>
                      <td>
                        <span class="growth-green" [ngStyle]="{ 'animation': animstock[i]+' 2s', '-webkit-animation': animstock[i]+' 2s', 'color': 'black'}">{{stock.percent | number:'1.0-3'}}%</span>
                      </td>
                      <td>
                        <span class="updated" *ngIf="now - (stock.time*1000) >= 43400000">{{stock.time*1000 | date:'HH:mm:ss dd.MM'}}</span>
                        <span class="updated" *ngIf="now - (stock.time*1000) < 43400000">{{stock.time*1000 | date:'HH:mm:ss'}}</span>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
                <div style="width: 50px; height: 50px; margin: 40px auto;" *ngIf="load == true">
                  <img src="/img/load.gif" *ngIf="load == true" style=" width: 50px; height: 50px; text-align: center">
                </div>
                <!-- <a href="#" class="show-exchange">Показать все биржи (105)</a> -->
              </div>
              <div class="table-wrap-mobile">
                <h3>Котировки BTC/USD на биржах</h3>
                <table class="table">
                  <thead>
                  <tr>
                    <th width="45%">
                      <span>Название биржи</span>
                    </th>
                    <th width="25%">
                      <span>Стоимость</span>
                    </th>
                    <th width="30%" class="last-th">
                      <span>Объем за 24ч.</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let stock of stocks; let i = index">
                    <td>
                      <a href="exchanges-card.html">
                        <div class="img-wrap">
                          <img src="images/{{stock.logo}}" alt="">
                        </div>
                        <span>{{stock.name}}</span>
                      </a>
                    </td>
                    <td>
                      <span class="amount-bold" [ngStyle]="{ 'animation': animstock[i]+' 2s', '-webkit-animation': animstock[i]+' 2s'}">${{stock.value | number:'1.0-1'}}</span>
                    </td>
                    <td class="last-td">
                      <span class="amount-bold" style="font-size: 12px;">${{stock.volumeCommon | number:'1.0-0'}}</span>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="desc-wrap">
                <div class="description">
                  <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
                  <div [innerHTML]='data?.desc'></div>
                </div>
                <a href="#" class="banner-black banner-black-top"><img src="img/banner-black-small.jpg" alt=""></a>
              </div>
            </div>
            <div class="comment-block">
              <div class="comment-top"  style="background: none; padding-left: 0;"  *ngIf="!user.id">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"   style="background: none; padding-left: 0;"  *ngIf="user.id">
                <h3>Добавить новый комментарий</h3>
                <form (ngSubmit)="submitComment(f,data?.id, 'App\\CryptoStat')" #f="ngForm">
                  <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                  <input type="hidden" ngModel name="type" value="App\CryptoStat">
                  <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                  <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id && commentcount > 0">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items" style="padding-left: 0;">
                <!--  -->
                <li *ngFor="let item of comments">
                  <div class="left">
                    <div class="info">
                      <div class="img-wrap">
                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                      </div>
                      <div class="text-wrap">
                        <p>{{item.name}}</p>
                        <span>Добавлен {{item.created_at}}</span>
                      </div>
                    </div>
                    <p class="comment-text">{{item.body}}</p>
                  </div>
                  <div class="right">
                    <!-- <div class="img-wrap"></div> -->
                    <div class="btn-block">
                      <span *ngIf="rating_count[item.id] > 0" class="number-green">{{rating_count[item.id]}}</span>
                      <span *ngIf="rating_count[item.id] < 0" class="number-red">{{rating_count[item.id]}}</span>
                      <span *ngIf="rating_count[item.id] == 0" class="number">{{rating_count[item.id]}}</span>
                      <div class="buttons">
                        <a (click)="onVote(item.id, 1)" class="plus">+</a>
                        <a (click)="onVote(item.id, 0)" class="minus">-</a>
                        </div>
                    </div>
                  </div>
                </li>

              </ul>
              <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
            </div>
            <div class="news-body">
              <div class="news-tab-content active">
                <h3>Новости #{{data?.name}}</h3>
                <div class="main-news">
                  <div class="main-news-slider">
                    <ng-template ngFor let-item [ngForOf]="main_news | orderBy: order:reverse:'case-insensitive'" let-i="index">
                    <div class="news" *ngIf="i <=0">
                      <div class="img" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}">
                        <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                        <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                        <div class="info">
                          <span class="date">{{item.created_at}}</span>
                          <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                          <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                        </div>
                      </div>
                      <div class="text">
                        <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                      </div>
                    </div>
                    </ng-template>
                  </div>
                  <ng-template ngFor let-item [ngForOf]="main_news | orderBy: order:reverse:'case-insensitive'" let-i="index">
                  <div class="news news-slider-wrap" *ngIf="i >0 && i<=1">
                    <div class="news-slider news-slider-1">
                      <div class="slide" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}"></div>

                    </div>
                    <div class="news-slider-info">
                      <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                      <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                        <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                        <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                      </div>
                    </div>
                    <div class="text">
                      <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                    </div>
                  </div>
                  </ng-template>
                </div>
                <div class="news-mobile">
                  <ul class="news-list-mobile">
                    <li  *ngFor="let item of news | orderBy: order:reverse:'case-insensitive' | slice:0:show">
                      <a *ngIf="!item.name_credits" [routerLink]="['/posts/post', item.id]" class="img"
                         [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }" >
                        <button *ngIf="!item.name_credits" type="button" class="news-btn" [routerLink]="['/posts/category', item.cat_id]" >{{item.category.name}}</button>
                      </a>
                      <div *ngIf="!item.name_credits" class="text">
                        <a [routerLink]="['/posts/post', item.id]" class="title">{{item.title}}</a>
                        <span class="date">{{item.created_at}}</span>
                      </div>
                    </li>
                  </ul>
                  <a *ngIf="show <= news.length" (click)="show = show+3" class="show-more">Показать ещё</a>
                </div>
              <div class="news-list">
                <div *ngFor="let item of news | orderBy: order:reverse:'case-insensitive' | slice:0:show" [ngClass]="item.name_credits ? 'trust news' : 'news'" [routerLink]="item.name_credits ? ['/interview/item', item.id] : null">
                  <div *ngIf="item.name_credits" class="img-wrap"><img src="images/{{item.photos[0].file}}" alt=""></div>
                  <h4 *ngIf="item.name_credits">{{item.title}}</h4>
                  <p *ngIf="item.name_credits" class="name">{{item.name_credits}}</p>
                  <span *ngIf="item.name_credits">{{item.workplace}}</span>
                  <div *ngIf="!item.name_credits" class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                    <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                    <div class="info">
                      <span class="date">{{item.created_at}}</span>
                    </div>
                  </div>
                  <div *ngIf="!item.name_credits" class="text">
                    <h3>
                      <a [routerLink]="['/posts/post', item.id]">{{item.title}}</a>
                    </h3>
                  </div>

                  <div *ngIf="!item.name_credits" class="text2">
                    <p>{{item.desc | striphtml |excerpt:80}}</p>
                  </div>
                </div>
                <a *ngIf="show <= news.length" (click)="show = show+3" class="show-more">Показать ещё</a>
              </div>
              </div>
            </div>
          </div>

          <div class="tab-content" [ngClass]="getRoute('graph') ? 'active' : ''">
            <div class="overview-block">
              <h3>Потоковый график {{data?.symbol}}/USD</h3>
              <app-chart3></app-chart3>
            </div>
            <div class="overview-block overview-block-2 mobile-only" id="second_graph">
              <h3>Интерактивный график {{data?.symbol}}/USD</h3>
              <app-chart2></app-chart2>
            </div>
            <div class="overview-block overview-block-2 no-mobile" id="second_graph">
              <h3>Интерактивный график {{data?.symbol}}/USD</h3>
              <app-chart2></app-chart2>
            </div>
            <div class="desc-wrap">
              <div class="description">
                <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
                <p>{{data?.desc | striphtml | excerpt:140}} <a routerLink="about">Подробнее</a></p>
              </div>
              <a href="#" class="banner-black banner-black-top"><img src="img/banner-black-small.jpg" alt=""></a>
            </div>
          </div>

          <div class="tab-content news-wrapper"  [ngClass]="getRoute('news') ? 'active' : ''">
            <div class="news-body">
              <div class="news-tab-content active">
                <div class="main-news">
                  <div class="main-news-slider">
                    <ng-template ngFor let-item [ngForOf]="main_news | orderBy: order:reverse:'case-insensitive'" let-i="index">
                      <div class="news" *ngIf="i <=0">
                        <div class="img" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}">
                          <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                          <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                          <div class="info">
                            <span class="date">{{item.created_at}}</span>
                            <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                            <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                          </div>
                        </div>
                        <div class="text">
                          <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                  <ng-template ngFor let-item [ngForOf]="main_news | orderBy: order:reverse:'case-insensitive'" let-i="index">
                    <div class="news news-slider-wrap" *ngIf="i >0 && i<=1">
                      <div class="news-slider news-slider-1">
                        <div class="slide" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}"></div>

                      </div>
                      <div class="news-slider-info">
                        <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                        <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                        <div class="info">
                          <span class="date">{{item.created_at}}</span>
                          <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                          <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                        </div>
                      </div>
                      <div class="text">
                        <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="news-mobile">
                  <ul class="news-list-mobile">
                    <li  *ngFor="let item of news | orderBy: order:reverse:'case-insensitive' | slice:0:show">
                      <a *ngIf="!item.name_credits" [routerLink]="['/posts/post', item.id]" class="img"
                         [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }" >
                        <button *ngIf="!item.name_credits" type="button" class="news-btn" [routerLink]="['/posts/category', item.cat_id]" >{{item.category.name}}</button>
                      </a>
                      <div *ngIf="!item.name_credits" class="text">
                        <a [routerLink]="['/posts/post', item.id]" class="title">{{item.title}}</a>
                        <span class="date">{{item.created_at}}</span>
                      </div>
                    </li>
                  </ul>
                  <a *ngIf="show <= news.length" (click)="show = show+3" class="show-more">Показать ещё</a>
                </div>
                <div class="news-list">
                  <div *ngFor="let item of news | orderBy: order:reverse:'case-insensitive' | slice:0:show" [ngClass]="item.name_credits ? 'trust news' : 'news'" [routerLink]="item.name_credits ? ['/interview/item', item.id] : null">
                    <div *ngIf="item.name_credits" class="img-wrap"><img src="images/{{item.photos[0].file}}" alt=""></div>
                    <h4 *ngIf="item.name_credits">{{item.title}}</h4>
                    <p *ngIf="item.name_credits" class="name">{{item.name_credits}}</p>
                    <span *ngIf="item.name_credits">{{item.workplace}}</span>
                    <div *ngIf="!item.name_credits" class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                      <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                      </div>
                    </div>
                    <div *ngIf="!item.name_credits" class="text">
                      <h3>
                        <a [routerLink]="['/posts/post', item.id]">{{item.title}}</a>
                      </h3>
                    </div>

                    <div *ngIf="!item.name_credits" class="text2">
                      <p>{{item.desc | striphtml |excerpt:80}}</p>
                    </div>
                  </div>
                  <a *ngIf="show <= news.length" (click)="show = show+3" class="show-more">Показать ещё</a>
                </div>
              </div>
            </div>
            <div class="desc-wrap">
              <div class="description">
                <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
                <p>{{data?.desc | striphtml | excerpt:140}} <a routerLink="about">Подробнее</a></p>
              </div>
              <a href="#" class="banner-black banner-black-top"><img src="img/banner-black-small.jpg" alt=""></a>
            </div>
          </div>

          <div class="tab-content comment-wrap"  [ngClass]="getRoute('comments') ? 'active' : ''">
            <div class="comment-block" style="margin-top: 0">
              <div class="comment-top"  *ngIf="!user.id" style="background: none; padding-left: 0;">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"  *ngIf="user.id"  style="background: none; padding-left: 0;">
                <h3>Добавить новый комментарий</h3>
                <form (ngSubmit)="submitComment(f,data?.id, 'App\\CryptoStat')" #f="ngForm">
                  <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                  <input type="hidden" ngModel name="type" value="App\CryptoStat">
                  <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                  <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items">
                <!--  -->
                <li *ngFor="let item of comments">
                  <div class="left">
                    <div class="info">
                      <div class="img-wrap">
                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                      </div>
                      <div class="text-wrap">
                        <p>{{item.email}}</p>
                        <span>Добавлен {{item.created_at}}</span>
                      </div>
                    </div>
                    <p class="comment-text">{{item.body}}</p>
                  </div>
                  <div class="right">
                    <!-- <div class="img-wrap"></div> -->
                    <div class="btn-block">
                      <span class="number-green">{{rating_count[item.id]}}</span>
                      <div class="buttons">
                        <a (click)="onVote(item.id, 1)" class="plus">+</a>
                        <a (click)="onVote(item.id, 0)" class="minus">-</a>
                    </div>
                  </div>
                    </div>
                </li>

              </ul>
            </div>
            <div class="desc-wrap">
              <div class="description">
                <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
                <p>{{data?.desc | striphtml | excerpt:140}} <a routerLink="about">Подробнее</a></p>
              </div>
              <a href="#" class="banner-black banner-black-top"><img src="img/banner-black-small.jpg" alt=""></a>
            </div>
          </div>

          <div class="tab-content news-wrapper"  [ngClass]="getRoute('analytics') ? 'active' : ''">
            <div class="news-body">
              <div class="main-news">
                <div class="main-news-slider">
                  <ng-template ngFor let-item [ngForOf]="main_analytics | orderBy: order:reverse:'case-insensitive'" let-i="index">
                    <div class="news" *ngIf="i <=0">
                      <div class="img" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}">
                        <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                        <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                        <div class="info">
                          <span class="date">{{item.created_at}}</span>
                          <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                          <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                        </div>
                      </div>
                      <div class="text">
                        <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <ng-template ngFor let-item [ngForOf]="main_analytics | orderBy: order:reverse:'case-insensitive'" let-i="index">
                  <div class="news news-slider-wrap" *ngIf="i >0 && i<=1">
                    <div class="news-slider news-slider-1">
                      <div class="slide" [ngStyle]="{'background': 'linear-gradient(
                                              rgba(0, 0, 0, 0.35),
                                              rgba(0, 0, 0, 0.35)
                                            ), url('+item.photos[0].file+')'}"></div>

                    </div>
                    <div class="news-slider-info">
                      <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                      <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                        <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                        <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                      </div>
                    </div>
                    <div class="text">
                      <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="news-mobile">
                <ul class="news-list-mobile">
                  <li  *ngFor="let item of analytics | orderBy: order:reverse:'case-insensitive' | slice:0:show_an">
                    <a *ngIf="!item.name_credits" [routerLink]="['/posts/post', item.id]" class="img"
                       [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }" >
                      <button *ngIf="!item.name_credits" type="button" class="news-btn" [routerLink]="['/posts/category', item.cat_id]" >{{item.category.name}}</button>
                    </a>
                    <div *ngIf="!item.name_credits" class="text">
                      <a [routerLink]="['/posts/post', item.id]" class="title">{{item.title}}</a>
                      <span class="date">{{item.created_at}}</span>
                    </div>
                  </li>
                </ul>
                <a *ngIf="show <= analytics.length" (click)="show_an = show_an+3" class="show-more">Показать ещё</a>
              </div>
              <div class="news-list">
                <div *ngFor="let item of analytics | orderBy: order:reverse:'case-insensitive' | slice:0:show_an" [ngClass]="item.name_credits ? 'trust news' : 'news'" [routerLink]="item.name_credits ? ['/interview/item', item.id] : null">
                  <div *ngIf="item.name_credits" class="img-wrap"><img src="images/{{item.photos[0].file}}" alt=""></div>
                  <h4 *ngIf="item.name_credits">{{item.title}}</h4>
                  <p *ngIf="item.name_credits" class="name">{{item.name_credits}}</p>
                  <span *ngIf="item.name_credits">{{item.workplace}}</span>
                  <div *ngIf="!item.name_credits" class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                    <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                    <div class="info">
                      <span class="date">{{item.created_at}}</span>
                    </div>
                  </div>
                  <div *ngIf="!item.name_credits" class="text">
                    <h3>
                      <a [routerLink]="['/posts/post', item.id]">{{item.title}}</a>
                    </h3>
                  </div>

                  <div *ngIf="!item.name_credits" class="text2">
                    <p>{{item.desc | striphtml |excerpt:80}}</p>
                  </div>
                </div>

              </div>
              <a *ngIf="show <= analytics.length" (click)="show_an = show_an+3" class="show-more">Показать ещё</a>

            </div>
            <div class="desc-wrap">
              <div class="description">
                <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
                <p>{{data?.desc | striphtml | excerpt:140}} <a routerLink="about">Подробнее</a></p>
              </div>
              <a href="#" class="banner-black banner-black-top"><img src="img/banner-black-small.jpg" alt=""></a>
            </div>
            </div>
          </div>

          <div class="tab-content description-content overview-block"  [ngClass]="getRoute('about') ? 'active' : ''">
            <h3>Описание {{data?.symbol}} ({{data?.name}})</h3>
            <div [innerHTML]='data?.desc'></div>
          </div>

        </div>
      <aside class="sidebar">
        <div class="description" *ngIf="!getRoute('about')">
          <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
          <div [innerHTML]='data?.desc'></div>
          <br> <p><a class="more-sidebar"  routerLink="about">Подробнее</a><p>
          </div>
          <app-sidebar></app-sidebar>
        </aside>
      </div>
    </section>
<div id="follow-popup" class="popup mfp-with-anim mfp-hide">
  <div class="popup-body">
    <h2>Следить за {{selectedItem?.name}}</h2>
    <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
    <div class="checkbox-list">
      <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
        <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
        <label for="{{i}}">
          <span></span>{{portfolio.name}}
        </label>
      </div>
    </div>
    <a href="#" class="add-portfolio">+Добавить портфель</a>
    <form class="hidden" #f="ngForm">
      <input type="text" ngModel name="name" required="" placeholder="Введите название...">
      <button (click)="createPortfolio(f)" type="submit">Добавить</button>
    </form>
  </div>
  <div class="save-block">
    <a (click)="submitPortfolio(selectedItem?.id, 'App\\CryptoStat')" class="save-settings">Сохранить настройки</a>
    <a href="#" class="close-text">Отменить и закрыть</a>
  </div>
</div>