<div class="single-top-block" *ngIf="!is_logged">
    <div class="wrapper">
      <a routerLink="/cryptocurrency/all" class="return"><span>&#60;</span>Вернуться к списку криптовалют</a>
      <div class="currency">
        <h2>{{data?.symbol}}/USD - {{data?.name}} Доллар США</h2>
        <ul>
          <li class="active"><a href="#">USD</a></li><!-- 
          <li><a href="#">EUR</a></li>
          <li><a href="#">RUR</a></li> -->
          <li>
            <div id="select-currency" class="select-wrap select-gray">
          <!--     <select>
                <option value="all">Еще</option>
                <option value="gbp">GBP</option>
                <option value="gel">GEL</option>
              </select> -->
            </div>
          </li>
          <li class="follow"><a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a></li>
        </ul>
      </div>
      <div class="price-block">
        <div class="last-update">
          <div class="prices-wrap">
            <span class="black-price">${{dataUsd?.now | number:'1.0-1'}}</span>
            <span class="red-price">{{dataUsd?.now - dataUsd?.last | number:'1.0-1'}}</span>
            <span class="bg-price">{{dataUsd?.now - dataUsd?.last | percent}}</span>
          </div>
          <p>Последнее обновление 1 сек. назад</p>
        </div>
        <ul>
          <li><span>Объем за 24ч.</span><span class="black">{{dataUsd?.value | number:'1.0-1'}}</span></li>
          <li><span>Спрос / Предложение</span><span class="black">6.203,3 / 6.206,0</span></li>
          <li><span>Дневной диапазон</span><span><span class="red">{{dataUsd?.min | number:'1.0-1'}}</span> <span class="black">/</span> <span class="green">{{dataUsd?.max | number:'1.0-1'}}</span></span>
          </li>
          <li><span>Капитализация</span><span class="black">$ 95 113 177 098</span></li>
          <li><span>Алгоритм</span><span class="black">{{data?.algo}}</span></li>
          <li><span>Всего монет / Получено</span><span class="black">21 000 000 000 / 89 000 891 (52%)</span></li>
        </ul>
      </div>
    </div>
  </div>


  <section class="crypto-single-wrap">
    <div class="wrapper">
      <div class="crypto-single-content">
        <ul class="crypto-tab-menu">
          <li class="active"><a href="#">Обзор</a></li>
          <li><a href="javascript:;">График</a></li>
          <li><a href="javascript:;">Новости</a></li>
          <li><a href="javascript:;">Комментарии ({{commentcount}})</a></li>
          <li><a href="javascript:;">Аналитика</a></li>
          <li><a href="javascript:;">Описание</a></li>
        </ul>
        <div class="tab-content-wrap">
          <div class="tab-content active">
            <div class="overview-content">
              <div class="overview-block">
                <h3>{{data?.symbol}}/USD График криптовалюты</h3>
                <app-chart></app-chart>
              </div>
              <div class="overview-table-wrap">
                <div class="overview-title-block">
                  <h2>Котировки {{data?.symbol}}/USD на различных биржах</h2>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="23%"><span>Биржа</span></th>
                      <th width="10%"><span>Стоимост</span></th>
                      <th width="10%"><span>Спрос</span></th>
                      <th width="15%"><span>Предложение</span></th>
                      <th width="15%"><span>Объем за 24ч.</span></th>
                      <th width="11%"><span>Рост</span></th>
                      <th width="16%"><span>Обновлено</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stock of stocks">
                      <td>
                        <a href="#">
                          <!-- <span class="img-wrap"><img src="img/bitfinex-icon.png" alt=""></span> -->
                          <span class="text">{{stock.name}}</span>
                        </a>
                      </td>
                      <td>
                        <span class="cost cost-green">${{stock.value | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="demand">${{stock.ask | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="sentence">${{stock.bid | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="amount">{{stock.volume | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="growth-green">${{stock.percent | number:'1.0-1'}}%</span>
                      </td>
                      <td>
                        <span class="updated">10.10.2017 в 12:56</span>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
                <!-- <a href="#" class="show-exchange">Показать все биржи (105)</a> -->
              </div>
            </div>
            <div class="comment-block">
              <div class="comment-top"  *ngIf="!user.id">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"  *ngIf="user.id">
                <h3>Добавить новый комментарий</h3>
                <form (ngSubmit)="submitComment(f,data.id, 'App\\CryptoStat')" #f="ngForm">
                                    <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                                    <input type="hidden" ngModel name="type" value="App\CryptoStat">
                                    <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                                    <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items">
                        <!--  -->
                        <li *ngFor="let item of comments">
                            <div class="left">
                                <div class="info">
                                    <div class="img-wrap">
                                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <p>{{item.email}}</p>
                                        <span>Добавлен </span>
                                    </div>
                                </div>
                                <p class="comment-text">{{item.body}}</p>
                            </div>
                            <div class="right">
                                <div class="img-wrap"></div>
                                <div class="btn-block">
                                    <span class="number-green">0</span>
                                    <div class="buttons">
                                        <a href="#" class="plus">+</a>
                                        <a href="#" class="minus">-</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
              <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
            </div>
          </div>

          <div class="tab-content">
            <div class="overview-block">
              <h3>Потоковый график {{data?.symbol}}/USD</h3>
              <app-chart></app-chart>
            </div>
            <div class="overview-block overview-block-2">
              <h3>Интерактивный график {{data?.symbol}}/USD</h3>
              <app-chart></app-chart>
            </div>
          </div>

          <div class="tab-content news-wrapper">
              <div class="news-body">
          <div class="news-tab-content active">
            <div class="main-news">
              <div class="news" *ngFor="let item of main_news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')'}">
                  <a href="#" class="news-btn">{{item.category.name}}</a>
                  <a href="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                    <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                    <a href="/posts/post/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a>
                  </div>
                </div>
                <div class="text">
                  <p>{{item.desc | striphtml | excerpt:140}}<a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                </div>
              </div>
            </div>
            <div class="news-list">
              <div class="news" *ngFor="let item of news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                  <a href="#" class="news-btn">{{item.category.name}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                  </div>
                </div>
                <div class="text">
                  <h3>
                    <a routerLink="/posts/post/{{item.id}}">{{item.title}}</a>
                  </h3>
                </div>
                <div class="text2">
                <p>{{item.desc | striphtml |excerpt:80}}</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

          <div class="tab-content comment-wrap">
            <div class="comment-block">
              <div class="comment-top"  *ngIf="!user.id">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"  *ngIf="user.id">
                <h3>Добавить новый комментарий</h3>
                  <form (ngSubmit)="submitComment(f,data.id, 'App\\CryptoStat')" #f="ngForm">
                                    <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                                    <input type="hidden" ngModel name="type" value="App\CryptoStat">
                                    <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                                    <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items">
                        <!--  -->
                        <li *ngFor="let item of comments">
                            <div class="left">
                                <div class="info">
                                    <div class="img-wrap">
                                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <p>{{item.email}}</p>
                                        <span>Добавлен </span>
                                    </div>
                                </div>
                                <p class="comment-text">{{item.body}}</p>
                            </div>
                            <div class="right">
                                <div class="img-wrap"></div>
                                <div class="btn-block">
                                    <span class="number-green">0</span>
                                    <div class="buttons">
                                        <a href="#" class="plus">+</a>
                                        <a href="#" class="minus">-</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
            </div>
          </div>

          <div class="tab-content news-wrapper">
            <div class="news-body">
          <div class="news-tab-content active">
            <div class="main-news">
              <div class="news" *ngFor="let item of main_news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')'}">
                  <a href="#" class="news-btn">{{item.category.name}}</a>
                  <a href="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                    <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                    <a href="/posts/post/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a>
                  </div>
                </div>
                <div class="text">
                  <p>{{item.desc | striphtml | excerpt:140}}<a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                </div>
              </div>
            </div>
            <div class="news-list">
              <div class="news" *ngFor="let item of news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                  <a href="#" class="news-btn">{{item.category.name}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                  </div>
                </div>
                <div class="text">
                  <h3>
                    <a routerLink="/posts/post/{{item.id}}">{{item.title}}</a>
                  </h3>
                </div>
                <div class="text2">
                <p>{{item.desc | striphtml |excerpt:80}}</p>
                </div>
              </div>
            </div>
            </div>
          </div>
          </div>

          <div class="tab-content description-content">
            <h2>Описание {{data?.symbol}} ({{dataUsd?.name}})</h2>
            <div [innerHTML]='data?.desc'></div>
          </div>

        </div>
      </div>
      <aside class="sidebar">
        <div class="description">
          <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
          <div [innerHTML]='data?.desc'></div>
            <br> <p><a href="#">Подробнее</a><p>
        </div>
        <app-sidebar></app-sidebar>
      </aside>
    </div>
  </section>





<!-- <div class="container">
	<h1 style="font-weight: bold">Bitcoin</h1>
	<input checked="checked" type="radio" name="cur" value="usd" id="usd"><label for="usd">USD</label>
	<input type="radio" name="cur" value="rub" id="rub"><label for="rub">RUB</label>
	<input type="radio" name="cur" value="eur" id="eur"><label for="eur">EUR</label>
	<div class="rub">
	<div class="row">
		<div class="col-lg-12">
			<h2>{{dataRub.price}}</h2><pre>{{dataRub.lastupdate}}</pre>
		</div>	
	</div>
	<table class="table">
		<thead><tr><th>Капитализация</th><th>Об. 24ч</th><th>Откр. 24ч</th><th>Low/High 24ч</th><th>Последняя сделка</th></tr></thead>
		<tr>
			<td>
				{{dataRub.mktcap}}
			</td>
			<td>
				{{dataRub.vol24hours}}
			</td>
			<td>
				{{dataRub.open24hours}}
			</td>
			<td>
				{{dataRub.low24hours}} / {{dataRub.high24hours}}
			</td>
			<td>
				{{dataRub.lasttrade}}
			</td>
		</tr>
	</table>

</div>

	<div class="usd">
	<div class="row">
		<div class="col-lg-12">
			<h2>{{dataUsd.price}}</h2><pre>{{dataUsd.lastupdate}}</pre>
		</div>	
	</div>
	<table class="table">
		<thead><tr><th>Капитализация</th><th>Об. 24ч</th><th>Откр. 24ч</th><th>Low/High 24ч</th><th>Последняя сделка</th></tr></thead>
		<tr>
			<td>
				{{dataUsd.mktcap}}
			</td>
			<td>
				{{dataUsd.vol24hours}}
			</td>
			<td>
				{{dataUsd.open24hours}}
			</td>
			<td>
				{{dataUsd.low24hours}} / {{dataUsd.high24hours}}
			</td>
			<td>
				{{dataUsd.lasttrade}}
			</td>
		</tr>
	</table>

</div>

	<div class="eur">
	<div class="row">
		<div class="col-lg-12">
			<h2>{{dataEur.price}}</h2><pre>{{dataEur.lastupdate}}</pre>
		</div>	
	</div>
	<table class="table">
		<thead><tr><th>Капитализация</th><th>Об. 24ч</th><th>Откр. 24ч</th><th>Low/High 24ч</th><th>Последняя сделка</th></tr></thead>
		<tr>
			<td>
				{{dataEur.mktcap}}
			</td>
			<td>
				{{dataEur.vol24hours}}
			</td>
			<td>
				{{dataEur.open24hours}}
			</td>
			<td>
				{{dataEur.low24hours}} / {{dataEur.high24hours}}
			</td>
			<td>
				{{dataEur.lasttrade}}
			</td>
		</tr>
	</table>

</div>
</div>
<p>
  
</p>
 -->