<div class="single-top-block">
  <div class="wrapper" style="max-width: 1150px;">
    <a routerLink="/cryptocurrency/all" class="return"><span>&#60;</span>Вернуться к списку криптовалют</a>
    <div class="currency">
      <h2>{{data?.symbol}}/USD - {{data?.name}} Доллар США</h2>
      <ul>
          <li class="active"><a href="#">USD</a></li><!-- 
          <li><a href="#">EUR</a></li>
          <li><a href="#">RUR</a></li> -->
          <li>
            <div id="select-currency" class="select-wrap select-gray">
          <!--     <select>
                <option value="all">Еще</option>
                <option value="gbp">GBP</option>
                <option value="gel">GEL</option>
              </select> -->
            </div>
          </li>
          <li class="follow"><a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a></li>
        </ul>
      </div>
      <div class="price-block">
        <div class="last-update">
          <div class="prices-wrap">
            <span class="price" [ngStyle]="{ 'animation': animtype+' 2s', '-webkit-animation': animtype+' 2s'  }">${{dataUsd?.now | number:'1.0-1'}}</span>
            <span *ngIf="prev !== 0" [ngClass]="diff > 0 ? 'green-price' : 'red-price'">{{diff | number:'1.1-2'}}</span>
            <span *ngIf="prev !== 0" [ngClass]="diff > 0 ? 'bg-price-green' : 'bg-price'">{{countPercent(dataUsd.now, dataUsd.prev) | number:'1.2-3'}}%</span>
          </div>
          <p>Последнее обновление 1 сек. назад</p>
        </div>
        <ul>
          <li><span>Объем за 24ч.</span><span class="black">{{volume | number:'1.0-1'}}</span></li>
          <li><span>Спрос / Предложение</span><span class="black">{{bid_ask.ask | number:'1.0-2'}} / {{bid_ask.bid | number:'1.0-2'}}</span></li>
          <li><span>Дневной диапазон</span><span><span class="red">{{dataUsd?.min | number:'1.0-1'}}</span> <span class="black">/</span> <span class="green">{{dataUsd?.max | number:'1.0-1'}}</span></span>
          </li>
          <li><span>Капитализация</span><span class="black">$ 95 113 177 098</span></li>
          <li><span>Алгоритм</span><span class="black">{{data?.algo}}</span></li>
          <!-- <li><span>Всего монет / Получено</span><span class="black">21 000 000 000 / 89 000 891 (52%)</span></li> -->
        </ul>
      </div>
    </div>
  </div>


  <section class="crypto-single-wrap">
    <div class="wrapper">
      <div class="crypto-single-content">
        <ul class="crypto-tab-menu">
          <li class="active"><a href="#">Обзор</a></li>
          <li><a href="javascript:;">График</a></li>
          <li><a href="javascript:;">Новости</a></li>
          <li><a href="javascript:;">Комментарии ({{commentcount}})</a></li>
          <li><a href="javascript:;">Аналитика</a></li>
          <li class="desc"><a href="javascript:;" >Описание</a></li>
        </ul>
        <div class="tab-content-wrap">
          <div class="tab-content active">
            <div class="overview-content">
              <div class="overview-block">
                <h3>{{data?.symbol}}/USD График криптовалюты</h3>
                <app-chart></app-chart>
              </div>
              <div class="overview-table-wrap">
                <div class="overview-title-block">
                  <h2>Котировки {{data?.symbol}}/USD на различных биржах</h2>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="23%"><span>Биржа</span></th>
                      <th width="10%"><span>Стоимость</span></th>
                      <th width="10%"><span>Спрос</span></th>
                      <th width="15%"><span>Предложение</span></th>
                      <th width="15%"><span>Объем за 24ч. (BTC)</span></th>
                      <th width="11%"><span>Изм. за 24 ч.</span></th>
                      <th width="16%"><span>Обновлено</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stock of stocks; let i = index">
                      <td>
                        <a href="#">
                          <!-- <span class="img-wrap"><img src="img/bitfinex-icon.png" alt=""></span> -->
                          <span class="text">{{stock.name}}</span>
                        </a>
                      </td>
                      <td>
                        <span class="cost" 
                        [ngStyle]="{ 'animation': animstock[i]+' 2s', '-webkit-animation': animstock[i]+' 2s'}">${{stock.value | number:'1.0-1'}}</span>
                      </td>
                      <td>
                        <span class="demand" *ngIf="stock.ask">${{stock.ask | number:'1.0-1'}}</span>
                        <span class="demand" *ngIf="!stock.ask">-</span>
                      </td>
                      <td>
                        <span class="sentence" *ngIf="stock.bid">${{stock.bid | number:'1.0-1'}}</span>
                        <span class="sentence" *ngIf="!stock.bid">-</span>
                      </td>
                      <td>
                        <span class="amount">{{stock.volume | number:'1.0-2'}}</span>
                      </td>
                      <td>
                        <span class="growth-green" [ngStyle]="{ 'animation': animstock[i]+' 2s', '-webkit-animation': animstock[i]+' 2s', 'color': 'black'}">{{stock.percent | number:'1.0-3'}}%</span>
                      </td>
                      <td>
                        <span class="updated">{{stock.time | date:'mediumTime'}}</span>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
                <!-- <a href="#" class="show-exchange">Показать все биржи (105)</a> -->
              </div>
            </div>
            <div class="comment-block">
              <div class="comment-top"  *ngIf="!user.id">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"  *ngIf="user.id">
                <h3>Добавить новый комментарий</h3>
                <form (ngSubmit)="submitComment(f,data.id, 'App\\CryptoStat')" #f="ngForm">
                  <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                  <input type="hidden" ngModel name="type" value="App\CryptoStat">
                  <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                  <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items">
                <!--  -->
                <li *ngFor="let item of comments">
                  <div class="left">
                    <div class="info">
                      <div class="img-wrap">
                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                      </div>
                      <div class="text-wrap">
                        <p>{{item.email}}</p>
                        <span>Добавлен </span>
                      </div>
                    </div>
                    <p class="comment-text">{{item.body}}</p>
                  </div>
                  <div class="right">
                    <div class="img-wrap"></div>
                    <div class="btn-block">
                      <span class="number-green">0</span>
                      <div class="buttons">
                        <a href="#" class="plus">+</a>
                        <a href="#" class="minus">-</a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
              <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
            </div>
          </div>

          <div class="tab-content">
            <div class="overview-block">
              <h3>Потоковый график {{data?.symbol}}/USD</h3>
              <app-chart></app-chart>
            </div>
            <div class="overview-block overview-block-2">
              <h3>Интерактивный график {{data?.symbol}}/USD</h3>
              <app-chart></app-chart>
            </div>
          </div>

          <div class="tab-content news-wrapper">
            <div class="news-body">
              <div class="news-tab-content active">
                <div class="main-news">
                  <div class="news" *ngFor="let item of main_news">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')'}">
                      <a href="#" class="news-btn">{{item.category.name}}</a>
                      <a href="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                        <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                        <a href="/posts/post/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a>
                      </div>
                    </div>
                    <div class="text">
                      <p>{{item.desc | striphtml | excerpt:140}}<a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                    </div>
                  </div>
                </div>
                <div class="news-list">
                  <div class="news" *ngFor="let item of news">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                      <a href="#" class="news-btn">{{item.category.name}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                      </div>
                    </div>
                    <div class="text">
                      <h3>
                        <a routerLink="/posts/post/{{item.id}}">{{item.title}}</a>
                      </h3>
                    </div>
                    <div class="text2">
                      <p>{{item.desc | striphtml |excerpt:80}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content comment-wrap">
            <div class="comment-block">
              <div class="comment-top"  *ngIf="!user.id">
                <h3>Комментарии ({{commentcount}})</h3>
                <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
              </div>
              <div class="comment-top"  *ngIf="user.id">
                <h3>Добавить новый комментарий</h3>
                <form (ngSubmit)="submitComment(f,data.id, 'App\\CryptoStat')" #f="ngForm">
                  <input type="hidden" ngModel name="post_id" value="{{dataUsd?.id}}">
                  <input type="hidden" ngModel name="type" value="App\CryptoStat">
                  <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                  <button type="submit">Добавить</button>
                </form>
              </div>
              <h3 class="total-comments"  *ngIf="user.id">Всего комментариев ({{commentcount}})</h3>
              <ul class="comment-items">
                <!--  -->
                <li *ngFor="let item of comments">
                  <div class="left">
                    <div class="info">
                      <div class="img-wrap">
                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                      </div>
                      <div class="text-wrap">
                        <p>{{item.email}}</p>
                        <span>Добавлен </span>
                      </div>
                    </div>
                    <p class="comment-text">{{item.body}}</p>
                  </div>
                  <div class="right">
                    <div class="img-wrap"></div>
                    <div class="btn-block">
                      <span class="number-green">0</span>
                      <div class="buttons">
                        <a href="#" class="plus">+</a>
                        <a href="#" class="minus">-</a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>

          <div class="tab-content news-wrapper">
            <div class="news-body">
              <div class="news-tab-content active">
                <div class="main-news">
                  <div class="news" *ngFor="let item of main_news">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')'}">
                      <a href="#" class="news-btn">{{item.category.name}}</a>
                      <a href="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                        <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                        <a href="/posts/post/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a>
                      </div>
                    </div>
                    <div class="text">
                      <p>{{item.desc | striphtml | excerpt:140}}<a routerLink="/posts/post/{{item.id}}">Подробнее</a></p>
                    </div>
                  </div>
                </div>
                <div class="news-list">
                  <div class="news" *ngFor="let item of news">
                    <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                      <a href="#" class="news-btn">{{item.category.name}}</a>
                      <div class="info">
                        <span class="date">{{item.created_at}}</span>
                      </div>
                    </div>
                    <div class="text">
                      <h3>
                        <a routerLink="/posts/post/{{item.id}}">{{item.title}}</a>
                      </h3>
                    </div>
                    <div class="text2">
                      <p>{{item.desc | striphtml |excerpt:80}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content description-content">
            <h2>Описание {{data?.symbol}} ({{data?.name}})</h2>
            <div [innerHTML]='data?.desc'></div>
          </div>

        </div>
      </div>
      <aside class="sidebar">
        <div class="description">
          <h5 class="titles">Описание {{data?.symbol}} ({{data?.name}})</h5>
          <div [innerHTML]='data?.desc'></div>
          <br> <p><a class="more-sidebar" href="javascript:;">Подробнее</a><p>
          </div>
          <div class="top-crypto">
            <h5 class="titles"><span>ТОП 5</span>криптовалют (% роста)</h5>
            <div class="periods">
              <ul class="period-tabs">
                <li class="active"><a href="#">День</a></li>
                <li><a href="#">Неделя</a></li>
                <li><a href="#">Месяц</a></li>
                <li><a href="#">Год</a></li>
              </ul>
              <div class="period-content">
                <div class="tab-content active">
                  <ul>
                    <li>
                      <a href="" class="name">Bitcoin</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ethereum</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">BitcoinCash</a>
                      <span class="price">$90819201</span>
                      <span class="percent">8%</span>
                    </li>
                    <li>
                      <a href="" class="name">EthereumClassic</a>
                      <span class="price">$8790899</span>
                      <span class="percent">7,2%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ripple</a>
                      <span class="price">$2829</span>
                      <span class="percent">2%</span>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <ul>
                    <li>
                      <a href="" class="name">Bitcoin</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ethereum</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">BitcoinCash</a>
                      <span class="price">$90819201</span>
                      <span class="percent">8%</span>
                    </li>
                    <li>
                      <a href="" class="name">EthereumClassic</a>
                      <span class="price">$8790899</span>
                      <span class="percent">7,2%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ripple</a>
                      <span class="price">$2829</span>
                      <span class="percent">2%</span>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <ul>
                    <li>
                      <a href="" class="name">Bitcoin</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ethereum</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">BitcoinCash</a>
                      <span class="price">$90819201</span>
                      <span class="percent">8%</span>
                    </li>
                    <li>
                      <a href="" class="name">EthereumClassic</a>
                      <span class="price">$8790899</span>
                      <span class="percent">7,2%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ripple</a>
                      <span class="price">$2829</span>
                      <span class="percent">2%</span>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <ul>
                    <li>
                      <a href="" class="name">Bitcoin</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ethereum</a>
                      <span class="price">$2829101929191</span>
                      <span class="percent">11%</span>
                    </li>
                    <li>
                      <a href="" class="name">BitcoinCash</a>
                      <span class="price">$90819201</span>
                      <span class="percent">8%</span>
                    </li>
                    <li>
                      <a href="" class="name">EthereumClassic</a>
                      <span class="price">$8790899</span>
                      <span class="percent">7,2%</span>
                    </li>
                    <li>
                      <a href="" class="name">Ripple</a>
                      <span class="price">$2829</span>
                      <span class="percent">2%</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="#" class="details">Подробный рейтинг</a>
          </div>
          <a href="#" class="banner-black"><img src="img/banner-black.jpg" alt=""></a>
          <app-cloud-mining-top></app-cloud-mining-top>
          <div class="social">
            <h5 class="titles">Мы в соц.сетях</h5>
            <ul>
              <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="top-fonds">
            <h5 class="titles"><span>ТОП 5</span> фондов</h5>
            <ul class="top-ul">
              <li>
                <div class="left">
                  <a href="">HashFlare SHA-256 2017</a>
                  <span class="paying">ПЛАТИТ!</span>
                </div>
                <div class="right">
                  <span class="persent">489%</span>
                  <span class="days">489 дней</span>
                </div>
              </li>
              <li>
                <div class="left">
                  <a href="">Bitmakler CMS</a>
                  <span class="paying">ПЛАТИТ!</span>
                </div>
                <div class="right">
                  <span class="persent">11%</span>
                  <span class="days">489 дней</span>
                </div>
              </li>
              <li>
                <div class="left">
                  <a href="">Bitmakler CMS</a>
                  <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
                </div>
                <div class="right">
                  <span class="persent">11%</span>
                  <span class="days">489 дней</span>
                </div>
              </li>
              <li>
                <div class="left">
                  <a href="">CMSHP</a>
                  <span class="paying">ПЛАТИТ!</span>
                </div>
                <div class="right">
                  <span class="persent">11%</span>
                  <span class="days">489 дней</span>
                </div>
              </li>
              <li>
                <div class="left">
                  <a href="">Bitmakler CMS</a>
                  <span class="payment">ОЖИДАНИЕ ВЫПЛАТЫ</span>
                </div>
                <div class="right">
                  <span class="persent">11%</span>
                  <span class="days">489 дней</span>
                </div>
              </li>
            </ul>
            <a href="#" class="all-fonds">Все фонды (981)</a>
          </div>
        </aside>
      </div>
    </section>