<section class="mining-filter">
  <div class="filter-top">
    <h2>Настройка фильтров</h2>
    <a href="blatant-mining.html" class="close">×</a>
  </div>
  <div class="categories-block">
    <h2>Алгоритм валюты</h2>
    <ul class="tag-list">
      <li *ngFor="let data of algoFilter"><a (click)="algorithm=data" [ngClass]="algorithm==data ? 'active' : '' ">{{data}}</a> </li>
    </ul>
  </div>
  <div class="categories-block">
    <h2>Статус проекта</h2>
    <ul class="tag-list">
      <li ><a [ngClass]="status=='both' ? 'active':''" (click)="status='both'" >Платит/Ожидание</a> </li>
      <li ><a [ngClass]="status=='2' ? 'active':''" (click)="status='2'">Не платит</a> </li>
    </ul>
  </div>
  <div class="sorting">
    <h2>Сортировка</h2>
    <form>
      <p>
        <input type="radio" id="test1" name="radio-group" checked>
        <label for="test1" (click)="setOrder('name', false)">По алфавиту (от А до Я)</label>
      </p>
      <p>
        <input type="radio" id="test2" name="radio-group" checked>
        <label for="test2" (click)="setOrder('name', false)">По алфавиту (от Я до А)</label>
      </p>
      <p>
        <input type="radio" id="test3" name="radio-group" checked>
        <label for="test3" (click)="setOrder('proc', false)">Доход на уменьшение</label>
      </p>
      <p>
        <input type="radio" id="test4" name="radio-group" checked>
        <label for="test4" (click)="setOrder('proc', true)">Доход на увеличение</label>
      </p>
      <p>
        <input type="radio" id="test5" name="radio-group" checked>
        <label for="test5" (click)="setOrder('depo', true)">Депозит на уменьшение</label>
      </p>
      <p>
        <input type="radio" id="test6" name="radio-group" checked>
        <label for="test6" (click)="setOrder('depo', false)">Депозит на увеличение</label>
      </p>

    <a [routerLink]="['/cloud-mining/all']" [queryParams]="{order: order, reverse: reverse, status:status }" class="saveinput" >Сохранить</a>
    </form>
    <a href="#" class="claer" (click)="algorithm = ''">X Очистить параметры фильтрации </a>

  </div>
</section>