<div class="container">
<div class="row">
	<h3 style="font-weight: bold">Exmo BTC/USD</h3><br>
	<h3>${{arith(exmodata?.buy_price,bittrex?.last,wex?.last)}}</h3>
<table class="table">
	<tr>
		<th>Биржа</th>
		<th>High</th>
		<th>Low</th>
		<th>Vol</th>
		<th>Цена покупки</th>
	</tr>
	<tr>
		<td>Exmo</td>
		<td>${{exmodata?.high}}</td>
		<td>${{exmodata?.low}}</td>
		<td>${{exmodata?.vol}}</td>
		<td>${{exmodata?.buy_price}}</td>
	</tr>
	<tr>
		<td>Bittrex</td>
		<td>${{bittrex?.high}}</td>
		<td>${{bittrex?.low}}</td>
		<td>${{bittrex?.vol}}</td>
		<td>${{bittrex?.last}}</td>
	</tr>

	<tr>
		<td>Poloniex</td>
		<td>${{poloniex?.high}}</td>
		<td>${{poloniex?.low}}</td>
		<td><!-- ${{poloniex?.vol}} --></td>
		<td>${{poloniex?.last}}</td>
	</tr>
	<tr>
		<td>Okex</td>
		<td>${{okex?.high}}</td>
		<td>${{okex?.low}}</td>
		<td><!-- ${{poloniex?.vol}} --></td>
		<td>${{okex?.last}}</td>
	</tr>
	<tr>
		<td>Wex</td>
		<td>${{wex?.high}}</td>
		<td>${{wex?.low}}</td>
		<td>${{wex?.vol}}</td>
		<td>${{wex?.last}}</td>
	</tr>
	<!-- <tr>
		<td>Bitfinex</td>
		<td>${{bitfinex?.high}}</td>
		<td>${{bitfinex?.low}}</td>
		<td>${{bitfinex?.baseVolume}}</td>
		<td>${{bitfinex?.last}}</td>
	</tr> -->
	<tr>
		<td>HitBTC</td>
		<td>${{hitbtc?.high}}</td>
		<td>${{hitbtc?.low}}</td>
		<td>${{hitbtc?.baseVolume}}</td>
		<td>${{hitbtc?.last}}</td>
	</tr>
	<tr>
		<td>Kraken</td>
		<td>${{kraken?.high}}</td>
		<td>${{kraken?.low}}</td>
		<td>${{kraken?.baseVolume}}</td>
		<td>${{kraken?.last}}</td>
	</tr>
	<tr>
		<td>Gdax</td>
		<td>${{gdax?.high}}</td>
		<td>${{gdax?.low}}</td>
		<td>${{gdax?.baseVolume}}</td>
		<td>${{gdax?.last}}</td>
	</tr>
	<tr>
		<td>BitFlyer</td>
		<td>${{bitflyer?.high}}</td>
		<td>${{bitflyer?.low}}</td>
		<td>${{bitflyer?.baseVolume}}</td>
		<td>${{bitflyer?.last}}</td>
	</tr>

	<tr>
		<td>Bitstamp</td>
		<td>${{bitstamp?.high}}</td>
		<td>${{bitstamp?.low}}</td>
		<td>${{bitstamp?.baseVolume}}</td>
		<td>${{bitstamp?.last}}</td>
	</tr>
	<tr>
		<td>Lbank</td>
		<td>${{lbank?.high}}</td>
		<td>${{lbank?.low}}</td>
		<td>${{lbank?.baseVolume}}</td>
		<td>${{lbank?.last}}</td>
	</tr>
	<tr>
		<td>Gemini</td>
		<td>${{gemini?.high}}</td>
		<td>${{gemini?.low}}</td>
		<td>${{gemini?.baseVolume}}</td>
		<td>${{gemini?.last}}</td>
	</tr>
	<tr>
		<td>Gate.io</td>
		<td>${{gateio?.high}}</td>
		<td>${{gateio?.low}}</td>
		<td>${{gateio?.baseVolume}}</td>
		<td>${{gateio?.last}}</td>
	</tr>
	<!-- <tr>
		<td>Zb.com</td>
		<td>${{zb?.high}}</td>
		<td>${{zb?.low}}</td>
		<td>${{zb?.baseVolume}}</td>
		<td>${{zb?.last}}</td>
	</tr>
	<tr>
		<td>EXX</td>
		<td>${{exx?.high}}</td>
		<td>${{exx?.low}}</td>
		<td>${{exx?.baseVolume}}</td>
		<td>${{exx?.last}}</td>
	</tr> -->
<!-- 	<tr>
		<td>Liqui</td>
		<td>${{liqui?.high}}</td>
		<td>${{liqui?.low}}</td>
		<td>${{liqui?.baseVolume}}</td>
		<td>${{liqui?.last}}</td>
	</tr>
	<tr>
		<td>Kucoin</td>
		<td>${{kucoin?.high}}</td>
		<td>${{kucoin?.low}}</td>
		<td>${{kucoin?.baseVolume}}</td>
		<td>${{kucoin?.last}}</td>
	</tr> -->
	<!-- <tr>
		<td>Livecoin</td>
		<td>${{livecoin?.high}}</td>
		<td>${{livecoin?.low}}</td>
		<td>${{livecoin?.baseVolume}}</td>
		<td>${{livecoin?.last}}</td>
	</tr>
	<tr>
		<td>Yobit</td>
		<td>${{yobit?.high}}</td>
		<td>${{yobit?.low}}</td>
		<td>${{yobit?.baseVolume}}</td>
		<td>${{yobit?.last}}</td>
	</tr> -->
	<!-- <tr>
	<td>{{markets['Bitfinex']?.MARKET}}</td>
	<td>${{markets['Bitfinex']?.HIGH24HOUR}}</td>
	<td>${{markets['Bitfinex']?.LOW24HOUR}}</td>
	<td>${{markets['Bitfinex']?.LASTVOLUME}}</td>
	<td>${{markets['Bitfinex']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Coinbase']?.MARKET}}</td>
	<td>${{markets['Coinbase']?.HIGH24HOUR}}</td>
	<td>${{markets['Coinbase']?.LOW24HOUR}}</td>
	<td>${{markets['Coinbase']?.LASTVOLUME}}</td>
	<td>${{markets['Coinbase']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Bitstamp']?.MARKET}}</td>
	<td>${{markets['Bitstamp']?.HIGH24HOUR}}</td>
	<td>${{markets['Bitstamp']?.LOW24HOUR}}</td>
	<td>${{markets['Bitstamp']?.LASTVOLUME}}</td>
	<td>${{markets['Bitstamp']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Kraken']?.MARKET}}</td>
	<td>${{markets['Kraken']?.HIGH24HOUR}}</td>
	<td>${{markets['Kraken']?.LOW24HOUR}}</td>
	<td>${{markets['Kraken']?.LASTVOLUME}}</td>
	<td>${{markets['Kraken']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Gemini']?.MARKET}}</td>
	<td>${{markets['Gemini']?.HIGH24HOUR}}</td>
	<td>${{markets['Gemini']?.LOW24HOUR}}</td>
	<td>${{markets['Gemini']?.LASTVOLUME}}</td>
	<td>${{markets['Gemini']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['HitBTC']?.MARKET}}</td>
	<td>${{markets['HitBTC']?.HIGH24HOUR}}</td>
	<td>${{markets['HitBTC']?.LOW24HOUR}}</td>
	<td>${{markets['HitBTC']?.LASTVOLUME}}</td>
	<td>${{markets['HitBTC']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['TrustDEX']?.MARKET}}</td>
	<td>${{markets['TrustDEX']?.HIGH24HOUR}}</td>
	<td>${{markets['TrustDEX']?.LOW24HOUR}}</td>
	<td>${{markets['TrustDEX']?.LASTVOLUME}}</td>
	<td>${{markets['TrustDEX']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BitTrex']?.MARKET}}</td>
	<td>${{markets['BitTrex']?.HIGH24HOUR}}</td>
	<td>${{markets['BitTrex']?.LOW24HOUR}}</td>
	<td>${{markets['BitTrex']?.LASTVOLUME}}</td>
	<td>${{markets['BitTrex']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Poloniex']?.MARKET}}</td>
	<td>${{markets['Poloniex']?.HIGH24HOUR}}</td>
	<td>${{markets['Poloniex']?.LOW24HOUR}}</td>
	<td>${{markets['Poloniex']?.LASTVOLUME}}</td>
	<td>${{markets['Poloniex']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Cexio']?.MARKET}}</td>
	<td>${{markets['Cexio']?.HIGH24HOUR}}</td>
	<td>${{markets['Cexio']?.LOW24HOUR}}</td>
	<td>${{markets['Cexio']?.LASTVOLUME}}</td>
	<td>${{markets['Cexio']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['LiveCoin']?.MARKET}}</td>
	<td>${{markets['LiveCoin']?.HIGH24HOUR}}</td>
	<td>${{markets['LiveCoin']?.LOW24HOUR}}</td>
	<td>${{markets['LiveCoin']?.LASTVOLUME}}</td>
	<td>${{markets['LiveCoin']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['LakeBTC']?.MARKET}}</td>
	<td>${{markets['LakeBTC']?.HIGH24HOUR}}</td>
	<td>${{markets['LakeBTC']?.LOW24HOUR}}</td>
	<td>${{markets['LakeBTC']?.LASTVOLUME}}</td>
	<td>${{markets['LakeBTC']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Quoine']?.MARKET}}</td>
	<td>${{markets['Quoine']?.HIGH24HOUR}}</td>
	<td>${{markets['Quoine']?.LOW24HOUR}}</td>
	<td>${{markets['Quoine']?.LASTVOLUME}}</td>
	<td>${{markets['Quoine']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Exmo']?.MARKET}}</td>
	<td>${{markets['Exmo']?.HIGH24HOUR}}</td>
	<td>${{markets['Exmo']?.LOW24HOUR}}</td>
	<td>${{markets['Exmo']?.LASTVOLUME}}</td>
	<td>${{markets['Exmo']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['bitFlyer']?.MARKET}}</td>
	<td>${{markets['bitFlyer']?.HIGH24HOUR}}</td>
	<td>${{markets['bitFlyer']?.LOW24HOUR}}</td>
	<td>${{markets['bitFlyer']?.LASTVOLUME}}</td>
	<td>${{markets['bitFlyer']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Coinroom']?.MARKET}}</td>
	<td>${{markets['Coinroom']?.HIGH24HOUR}}</td>
	<td>${{markets['Coinroom']?.LOW24HOUR}}</td>
	<td>${{markets['Coinroom']?.LASTVOLUME}}</td>
	<td>${{markets['Coinroom']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['LocalBitcoins']?.MARKET}}</td>
	<td>${{markets['LocalBitcoins']?.HIGH24HOUR}}</td>
	<td>${{markets['LocalBitcoins']?.LOW24HOUR}}</td>
	<td>${{markets['LocalBitcoins']?.LASTVOLUME}}</td>
	<td>${{markets['LocalBitcoins']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Yobit']?.MARKET}}</td>
	<td>${{markets['Yobit']?.HIGH24HOUR}}</td>
	<td>${{markets['Yobit']?.LOW24HOUR}}</td>
	<td>${{markets['Yobit']?.LASTVOLUME}}</td>
	<td>${{markets['Yobit']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['QuadrigaCX']?.MARKET}}</td>
	<td>${{markets['QuadrigaCX']?.HIGH24HOUR}}</td>
	<td>${{markets['QuadrigaCX']?.LOW24HOUR}}</td>
	<td>${{markets['QuadrigaCX']?.LASTVOLUME}}</td>
	<td>${{markets['QuadrigaCX']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['ExtStock']?.MARKET}}</td>
	<td>${{markets['ExtStock']?.HIGH24HOUR}}</td>
	<td>${{markets['ExtStock']?.LOW24HOUR}}</td>
	<td>${{markets['ExtStock']?.LASTVOLUME}}</td>
	<td>${{markets['ExtStock']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Coincap']?.MARKET}}</td>
	<td>${{markets['Coincap']?.HIGH24HOUR}}</td>
	<td>${{markets['Coincap']?.LOW24HOUR}}</td>
	<td>${{markets['Coincap']?.LASTVOLUME}}</td>
	<td>${{markets['Coincap']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Gatecoin']?.MARKET}}</td>
	<td>${{markets['Gatecoin']?.HIGH24HOUR}}</td>
	<td>${{markets['Gatecoin']?.LOW24HOUR}}</td>
	<td>${{markets['Gatecoin']?.LASTVOLUME}}</td>
	<td>${{markets['Gatecoin']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BTCChina']?.MARKET}}</td>
	<td>${{markets['BTCChina']?.HIGH24HOUR}}</td>
	<td>${{markets['BTCChina']?.LOW24HOUR}}</td>
	<td>${{markets['BTCChina']?.LASTVOLUME}}</td>
	<td>${{markets['BTCChina']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Lykke']?.MARKET}}</td>
	<td>${{markets['Lykke']?.HIGH24HOUR}}</td>
	<td>${{markets['Lykke']?.LOW24HOUR}}</td>
	<td>${{markets['Lykke']?.LASTVOLUME}}</td>
	<td>${{markets['Lykke']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BitBay']?.MARKET}}</td>
	<td>${{markets['BitBay']?.HIGH24HOUR}}</td>
	<td>${{markets['BitBay']?.LOW24HOUR}}</td>
	<td>${{markets['BitBay']?.LASTVOLUME}}</td>
	<td>${{markets['BitBay']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BitFlip']?.MARKET}}</td>
	<td>${{markets['BitFlip']?.HIGH24HOUR}}</td>
	<td>${{markets['BitFlip']?.LOW24HOUR}}</td>
	<td>${{markets['BitFlip']?.LASTVOLUME}}</td>
	<td>${{markets['BitFlip']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['WavesDEX']?.MARKET}}</td>
	<td>${{markets['WavesDEX']?.HIGH24HOUR}}</td>
	<td>${{markets['WavesDEX']?.LOW24HOUR}}</td>
	<td>${{markets['WavesDEX']?.LASTVOLUME}}</td>
	<td>${{markets['WavesDEX']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Coinfloor']?.MARKET}}</td>
	<td>${{markets['Coinfloor']?.HIGH24HOUR}}</td>
	<td>${{markets['Coinfloor']?.LOW24HOUR}}</td>
	<td>${{markets['Coinfloor']?.LASTVOLUME}}</td>
	<td>${{markets['Coinfloor']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BitSquare']?.MARKET}}</td>
	<td>${{markets['BitSquare']?.HIGH24HOUR}}</td>
	<td>${{markets['BitSquare']?.LOW24HOUR}}</td>
	<td>${{markets['BitSquare']?.LASTVOLUME}}</td>
	<td>${{markets['BitSquare']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Abucoins']?.MARKET}}</td>
	<td>${{markets['Abucoins']?.HIGH24HOUR}}</td>
	<td>${{markets['Abucoins']?.LOW24HOUR}}</td>
	<td>${{markets['Abucoins']?.LASTVOLUME}}</td>
	<td>${{markets['Abucoins']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Remitano']?.MARKET}}</td>
	<td>${{markets['Remitano']?.HIGH24HOUR}}</td>
	<td>${{markets['Remitano']?.LOW24HOUR}}</td>
	<td>${{markets['Remitano']?.LASTVOLUME}}</td>
	<td>${{markets['Remitano']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Coinsetter']?.MARKET}}</td>
	<td>${{markets['Coinsetter']?.HIGH24HOUR}}</td>
	<td>${{markets['Coinsetter']?.LOW24HOUR}}</td>
	<td>${{markets['Coinsetter']?.LASTVOLUME}}</td>
	<td>${{markets['Coinsetter']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['CCEDK']?.MARKET}}</td>
	<td>${{markets['CCEDK']?.HIGH24HOUR}}</td>
	<td>${{markets['CCEDK']?.LOW24HOUR}}</td>
	<td>${{markets['CCEDK']?.LASTVOLUME}}</td>
	<td>${{markets['CCEDK']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['MonetaGo']?.MARKET}}</td>
	<td>${{markets['MonetaGo']?.HIGH24HOUR}}</td>
	<td>${{markets['MonetaGo']?.LOW24HOUR}}</td>
	<td>${{markets['MonetaGo']?.LASTVOLUME}}</td>
	<td>${{markets['MonetaGo']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['BTCE']?.MARKET}}</td>
	<td>${{markets['BTCE']?.HIGH24HOUR}}</td>
	<td>${{markets['BTCE']?.LOW24HOUR}}</td>
	<td>${{markets['BTCE']?.LASTVOLUME}}</td>
	<td>${{markets['BTCE']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['TheRockTrading']?.MARKET}}</td>
	<td>${{markets['TheRockTrading']?.HIGH24HOUR}}</td>
	<td>${{markets['TheRockTrading']?.LOW24HOUR}}</td>
	<td>${{markets['TheRockTrading']?.LASTVOLUME}}</td>
	<td>${{markets['TheRockTrading']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['CCEX']?.MARKET}}</td>
	<td>${{markets['CCEX']?.HIGH24HOUR}}</td>
	<td>${{markets['CCEX']?.LOW24HOUR}}</td>
	<td>${{markets['CCEX']?.LASTVOLUME}}</td>
	<td>${{markets['CCEX']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['Cryptsy']?.MARKET}}</td>
	<td>${{markets['Cryptsy']?.HIGH24HOUR}}</td>
	<td>${{markets['Cryptsy']?.LOW24HOUR}}</td>
	<td>${{markets['Cryptsy']?.LASTVOLUME}}</td>
	<td>${{markets['Cryptsy']?.PRICE}}</td>
	</tr>
	<tr>
	<td>{{markets['OKCoin']?.MARKET}}</td>
	<td>${{markets['OKCoin']?.HIGH24HOUR}}</td>
	<td>${{markets['OKCoin']?.LOW24HOUR}}</td>
	<td>${{markets['OKCoin']?.LASTVOLUME}}</td>
	<td>${{markets['OKCoin']?.PRICE}}</td>
	</tr> -->
<!-- 	<tr> 
	<td>{{markets['Huobi']?.MARKET}}</td>
	<td>${{markets['Huobi']?.HIGH24HOUR}}</td>
	<td>${{markets['Huobi']?.LOW24HOUR}}</td>
	<td>${{markets['Huobi']?.LASTVOLUME}}</td>
	<td>${{markets['Huobi']?.PRICE}}</td>
	</tr>
 -->
</table>
</div>
</div>
<!-- {{markets?.0?.MARKET}} -->
