<section class="my-portfolio">
    <div class="wrapper">
      <div class="portfolio-head">
        <h2>Мой портфель<a href="#">+</a></h2>
        <p>Отслеживайте все важные изменения по монетам, биржам, майнингу, ico проектам и др. Вся информация в одном месте! <br>
Настраивайте индивидуальные уведомления...</p>
      </div>
      <div class="table-wrap img-table" *ngFor="let item of portfolioNames; let i = index">
        <div class="table-title">
          <h3>{{item.name}}</h3>
          <div class="buttons">
            <a href="#"><img src="/img/setting-icon-table.png" alt=""></a>
            <a (click)="onDelete(item.id, i)" class="basket"><img src="/img/basket-white.png" alt=""></a>
          </div>
        </div>
        <table class="table crypto-table">
          <thead *ngIf="item.user_portfolio_type_id == 3">
          <tr>
            <th width="17%">
              <span>Название</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="10%" class="active">
              <span>Стоимость</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Капитализация</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Всего / Получено</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Изм. за 24ч</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Изм. за 7д</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="21%">
              <span>Изм. за 1 мес.</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
          </tr>
          </thead>

          <thead *ngIf="item.user_portfolio_type_id == 1">
            <tr>
              <th width="27%" [class.active]="order === 'name'"
                            (click)="setOrder('name')">
                <span>Название</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="13%" class="active" [class.active]="order === 'proc'"
                            (click)="setOrder('proc')">
                <span>Доходность</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="13%" >
                <span>Существует</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="13%" [class.active]="order === 'depo'"
                            (click)="setOrder('depo')">
                <span>Депозит</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="13%">
                <span>Получено</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
              <th width="21%" [class.active]="order === 'status'"
                            (click)="setOrder('status')">
                <span>Статус</span>
                <img src="img/arr-top-table.png" alt="">
              </th>
            </tr>
          </thead>
          <tbody *ngIf="portfolios[item.id]">

          <ng-template [ngIf]="item.user_portfolio_type_id == 1">
          <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
            <td>
              <a href="crypto-single.html">
                <div class="img-wrap">
                  <img src="{{portfolioItem.logo}}" alt="">
                </div>
                <span>{{portfolioItem.name}}</span>
              </a>
            </td>
            <td>
              <!-- <p><span class="bold">{{portfolioItem.proc}}% / год</span></p> -->
            </td>
            <td>
              <span>189 дней</span>
            </td>
            <td>
              <!-- <span class="bold">${{portfolioItem.depo}}</span> -->
            </td>
            <td>
              <span>$ 90 (15%)</span>
            </td>
            <td>
              <div class="difference">
                <!--   <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Платит' : 'Не платит'}}</span> -->
                <div class="buttons">
                  <a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>
                  <a (click)="onRemove(item.id, portfolioItem.id, in)" class="minus"><img src="/img/minus.png" alt=""></a>
                </div>
              </div>
            </td>
          </tr>
          </ng-template>
          <ng-template [ngIf]="item.user_portfolio_type_id == 3">
          <tr  *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
            <!--<td>-->
              <!--<a href="crypto-single.html">-->
                <!--<div class="img-wrap">-->
                  <!--<img src="{{portfolioItem.logo}}" alt="">-->
                <!--</div>-->
                <!--<span>{{portfolioItem.name}}</span>-->
              <!--</a>-->
            <!--</td>-->
            <!--<td>-->
              <!--&lt;!&ndash; <p><span class="bold">{{portfolioItem.proc}}% / год</span></p> &ndash;&gt;-->
            <!--</td>-->
            <!--<td>-->
              <!--<span>189 дней</span>-->
            <!--</td>-->
            <!--<td>-->
              <!--&lt;!&ndash; <span class="bold">${{portfolioItem.depo}}</span> &ndash;&gt;-->
            <!--</td>-->
            <!--<td>-->
              <!--<span>$ 90 (15%)</span>-->
            <!--</td>-->
            <!--<td>-->
              <!--<div class="difference">-->
                <!--&lt;!&ndash;   <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Платит' : 'Не платит'}}</span> &ndash;&gt;-->
                <!--<div class="buttons">-->
                  <!--<a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>-->
                  <!--<a (click)="onRemove(item.id, portfolioItem.id, in)" class="minus"><img src="/img/minus.png" alt=""></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</td>-->
            <td>
              <a href="crypto-single.html">
                <div class="img-wrap">
                  <img src="img/bitcoin-icon.png" alt="">
                </div>
                <span>{{portfolioItem.name}} ({{portfolioItem.symbol}})</span>
              </a>
            </td>
            <td>
              <p><span class="bold">$9,200</span> <span class="green">(+4,2%)</span></p>
            </td>
            <td>
              <span>95,113,177</span>
            </td>
            <td>
              <span>21 000 000 000 <br>890 910</span>
            </td>
            <td>
              <span class="green">+ 3,5% (+200,09)</span>
            </td>
            <td>
              <span class="red">-2,3% (-201,11)</span>
            </td>
            <td>
              <div class="difference">
                <span class="red">-20,3% (-251,11)</span>
                <div class="buttons">
                  <a href="#" class="settings"><img src="img/settings.svg" alt=""></a>
                  <a href="#" class="minus"><img src="img/minus.png" alt=""></a>
                </div>
              </div>
            </td>
          </tr>
          </ng-template>
            <tr class="no-bg">
              <td colspan="3" class="no-border">
                <a class="add" *ngIf="item.user_portfolio_type_id == 1">+Добавить облачный майнинг в портфель</a>
                <a class="add" *ngIf="item.user_portfolio_type_id == 2">+Добавить ICO проект в портфель</a>
                <a class="add" *ngIf="item.user_portfolio_type_id == 3">+Добавить криптовалюту в портфель</a>
                <a class="add" *ngIf="item.user_portfolio_type_id == 4">+Добавить биржу в портфель</a>
                <form>
                  <input type="text" placeholder="Введите название..." [value]="searchLine" (keyup)="searchTerm$.next($event.target.value)" >
                  <button type="submit" (click)="onAdd(item.id, result_id)">Добавить</button>
                </form>
                <ul *ngIf="results">
                <li *ngFor="let result of results | slice:0:9">
                  <a (click)="searchLine = result.name; result_id=result.id" target="_blank">
                   {{ result.name }}
                  </a>
                </li>
              </ul>
              </td>
              <td class="no-border">
                <span class="bold">$178</span>
              </td>           
              <td class="no-border">
                <span class="red">$1370</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>