<section class="my-portfolio">
    <div class="wrapper">
      <div class="portfolio-head">
        <h2>Мой портфель
          <!--<a href="#">+</a>-->
        </h2>
        <p>Отслеживайте все важные изменения по монетам, биржам, майнингу, ico проектам и др. Вся информация в одном месте! <br>
Настраивайте индивидуальные уведомления...</p>
      </div>
      <div class="table-wrap-mobile" *ngFor="let item of portfolioNames; let i = index">
        <div class="table-title">
          <h3>{{item.name}}</h3>
          <div class="buttons">
            <!--<a href="#" class="settings"><img src="img/settings.svg" alt=""></a>-->
            <a (click)="onDelete(item.id, i)"  class="basket"><img src="img/garbage.svg" alt=""></a>
          </div>
        </div>
        <table class="table">
          <thead *ngIf="item.user_portfolio_type_id == 1">
          <tr>
          <th width="50%">
            <span>Название</span>
          </th>
          <th width="28%">
            <span>Статус</span>
          </th>
          <th width="22%">
            <span></span>
          </th>
          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 2">
          <tr>
          <th width="50%">
            <span>Название</span>
          </th>
          <th width="28%">
            <span>Статус</span>
          </th>
          <th width="22%">
            <span></span>
          </th>
          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 3">
          <tr>
          <th width="25%">
            <span>Название</span>
          </th>
          <th width="30%">
            <span>Цена</span>
          </th>
          <th width="25%">
            <span>Изм. за 24ч.</span>
          </th>
          <th width="20%">
            <span></span>
          </th>
          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 4">
          <tr>
          <th width="45%">
            <span>Название</span>
          </th>
          <th width="33%">
            <span>Объем $</span>
          </th>
          <th width="22%">
            <span></span>
          </th>
          </tr>
          </thead>
          <tbody>
          <ng-template [ngIf]="item.user_portfolio_type_id == 1">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>

                <span>{{portfolioItem.name}}</span>
              </td>
              <td>
                <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Платит' : 'Не платит'}}</span>
              </td>
              <td>
                <div class="difference">
                  <div class="buttons">
                    <!--<a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>-->
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\CloudMining')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template [ngIf]="item.user_portfolio_type_id == 2">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>

                <span>{{portfolioItem.name}}</span>
              </td>
              <td>
                <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Активен' : 'Завершен'}}</span>
              </td>
              <td>
                <div class="difference">
                  <div class="buttons">
                    <!--<a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>-->
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\IcoProject')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template [ngIf]="item.user_portfolio_type_id == 3">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>

                <span [routerLink]="['/crypto', portfolioItem.symbol]">{{portfolioItem.name}} ({{portfolioItem.symbol}})</span>
              </td>
              <td>
                <span>{{portfolioItem.now}}</span>
              </td>
              <td><span [ngClass]="isNegativePercent(portfolioItem.now, portfolioItem.day)==true ? 'change-red' : 'change-green'">{{ countPercent(portfolioItem.now, portfolioItem.day) | number: '1.2'}}%</span>
              </td>
              <td>
                <div class="difference">
                  <div class="buttons">
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\CryptoStat')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template [ngIf]="item.user_portfolio_type_id == 4">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>

                <span [routerLink]="['/exchange', portfolioItem.name]">{{portfolioItem.name}} </span>
              </td>
              <td>
                <span class="amount-bold">${{volumes[portfolioItem.name]?.usd | number:'1.0-5'}}</span>
              </td>

              <td>
                <div class="difference">
                  <div class="buttons">
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\Stock')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <tr>
            <td>
              <a href="crypto-single.html">
                <span>Genesis (Дженезис) Mining</span>
              </a>
            </td>
            <td>
              <span class="green">Платит</span>
            </td>
            <td>
              <div class="difference">
                <div class="buttons">
                  <a href="#" class="settings"><img src="img/settings.svg" alt=""></a>
                  <a href="#" class="minus"><img src="img/minus.png" alt=""></a>
                </div>
              </div>
            </td>
          </tr>

          <!--<tr class="no-bg">-->
            <!--<td colspan="4" class="no-border">-->
              <!--<a href="#" class="add">+Добавить проект</a>-->
              <!--<form>-->
                <!--<input type="text" placeholder="Введите название...">-->
                <!--<button type="submit">Добавить</button>-->
              <!--</form>-->
            <!--</td>-->
          <!--</tr>-->
          </tbody>
        </table>
      </div>
      <div class="table-wrap img-table" *ngFor="let item of portfolioNames; let i = index">
        <div class="table-title">
          <h3>{{item.name}}</h3>
          <div class="buttons">
            <!--<a href="#"><img src="/img/setting-icon-table.png" alt=""></a>-->
            <a (click)="onDelete(item.id, i)" class="basket"><img src="/img/basket-white.png" alt=""></a>
          </div>
        </div>
        <table class="table crypto-table" style="position:relative;">
          <thead *ngIf="item.user_portfolio_type_id == 3">
          <tr>
            <th [class.active]="order === 'sym'"
                (click)="setOrder('sym')"
                width="12.9%">
              <span>Название</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th [class.active]="order === 'now'"
                (click)="setOrder('now')"
                width="15%">
              <span>Стоимость</span>

              <img src="img/arr-top-table.png" alt="">
            </th>
            <th

                    width="15%">
              <span>Капитализация</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th [class.active]="order === 'value'"
                (click)="setOrder('value')"

                width="12.4%">
              <span>Объем BTC (за 24 ч.)</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th
                    width="11%">
              <span>Изм. за 24ч</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th
                    width="18.3%">
              <span>Изм. за 7д</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="21%">
              <span>Изм. за 1 мес.</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 4">
          <tr>
            <th width="30%">
              <span>Название</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="30%" class="active">
              <span>Объем ( $ за 24 ч.)</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="40%">
              <span>Объем BTC (за 24ч.)</span>
              <img src="img/arr-top-table.png" alt="">
            </th>

          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 1">
          <tr>
            <th width="27%" [class.active]="order === 'name'"
                (click)="setOrder('name')">
              <span>Название</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" class="active" [class.active]="order === 'proc'"
                (click)="setOrder('proc')">
              <span>Доходность</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" >
              <span>Существует</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" [class.active]="order === 'depo'"
                (click)="setOrder('depo')">
              <span>Депозит</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Получено</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="21%" [class.active]="order === 'status'"
                (click)="setOrder('status')">
              <span>Статус</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
          </tr>
          </thead>
          <thead *ngIf="item.user_portfolio_type_id == 2">
          <tr>
            <th width="27%" [class.active]="order === 'name'"
                (click)="setOrder('name')">
              <span>Название</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" class="active" [class.active]="order === 'proc'"
                (click)="setOrder('proc')">
              <span>Собрано</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" >
              <span>Необходимо</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%" [class.active]="order === 'depo'"
                (click)="setOrder('depo')">
              <span>Дата начала ICO</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="13%">
              <span>Дата окончания ICO</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
            <th width="21%" [class.active]="order === 'status'"
                (click)="setOrder('status')">
              <span>Статус</span>
              <img src="img/arr-top-table.png" alt="">
            </th>
          </tr>
          </thead>
          <tbody>

          <ng-template [ngIf]="item.user_portfolio_type_id == 1">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>
                <a >
                  <div class="img-wrap">
                    <img src="{{portfolioItem.logo}}" alt="">
                  </div>
                  <span>{{portfolioItem.name}}</span>
                </a>
              </td>
              <td>
                <p><span class="bold">{{portfolioItem.proc}}% / год</span></p>
              </td>
              <td>
                <span>{{portfolioItem.depo_date}}</span>
              </td>
              <td>
                <span class="bold">${{portfolioItem.depo}}</span>
              </td>
              <td>
                <span>{{portfolioItem?.percentage ? portfolioItem?.percentage : 0}}%</span>
              </td>
              <td>
                <div class="difference">
                  <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Платит' : 'Не платит'}}</span>
                  <div class="buttons">
                    <!--<a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>-->
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\CloudMining')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template [ngIf]="item.user_portfolio_type_id == 2">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>
                <a href="crypto-single.html">
                  <div class="img-wrap">
                    <img src="{{portfolioItem.logo}}" alt="">
                  </div>
                  <span>{{portfolioItem.name}}</span>
                </a>
              </td>
              <td>
                <p><span class="bold">${{portfolioItem?.current_money | number}}</span></p>
              </td>
              <td>
                <span>${{portfolioItem?.money | number}}</span>
              </td>
              <td>
                <span class="bold">{{portfolioItem?.money_start}}</span>
              </td>
              <td>
                <span>{{portfolioItem?.money_end}}%</span>
              </td>
              <td>
                <div class="difference">
                  <span [ngClass]="portfolioItem.status == 1 ? 'green' : 'red'">{{portfolioItem.status == 1 ? 'Активен' : 'Закончен'}}</span>
                  <div class="buttons">
                    <!--<a href="#" class="setting"><img src="/img/setting-icon-table.png" alt=""></a>-->
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\IcoProject')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template [ngIf]="item.user_portfolio_type_id == 4">
            <tr *ngFor="let portfolioItem of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
              <td>
                <a href="crypto-single.html">
                  <div class="img-wrap">

                  </div>
                  <span>{{portfolioItem?.name}}</span>
                </a>
              </td>
              <td>
                <span class="amount-bold">${{volumes[portfolioItem.name]?.usd | number:'1.0-5'}}</span>
              </td>
              <td>
                <div class="difference">
                  <div class="stars-wrap">
                <span>{{volumes[portfolioItem.name]?.btc | number:'1.0-5'}}</span>
                  </div>
                  <div class="buttons">
                    <!--<a href="#" class="settings"><img src="img/settings.svg" alt=""></a>-->
                    <a (click)="onRemove(item.id, portfolioItem.id, in, 'App\\Stock')" class="minus"><img src="/img/minus.png" alt=""></a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template [ngIf]="item.user_portfolio_type_id == 3">
          <tr  *ngFor="let data of portfolios[item.id] | orderBy: order:reverse:'case-insensitive'; let in = index">
            <td>
              <div class="img-wrap" [routerLink]="['/crypto', data.symbol]">
                <img *ngIf="data.logo" [src]="'images/'+data.logo" style="max-width: 20px;" alt="">
                </div>
              <span [routerLink]="['/crypto', data.symbol]">{{data.name}} ({{data.symbol}})</span>
            </td>
            <td>
            <!--<td [ngStyle]="{ 'background': 'white', 'animation': animtype[i]+' 2s', '-webkit-animation': animtype[i]+' 2s'  }">-->
              <span class="price">${{data.now | number: '1.2'}}</span>
              <span *ngIf="diff[item.id] >0 || diff[item.id] < 0" [ngClass]="isNegative(diff[item.id])==true ? 'change-red' : 'change'">(${{diff[item.id] | number: '1.2'}})</span>
            </td>
            <td>
              <span class="capitalization">${{data.marketCapUsd| number: '1.0-3'}}</span>
            </td>
            <td>
              <span class="bargaining">{{data.volume | number: '1.3'}}</span>
            </td>
            <td>
              <span [ngClass]="isNegativePercent(data.now, data.day)==true ? 'change-red' : 'change-green'">{{ countPercent(data.now, data.day) | number: '1.2'}}%</span>

            </td>
            <td>
              <span class="red">{{ countPercent(data.now, data.week) | number: '1.2'}}%</span>
            </td>
            <td>
              <div class="difference">
                <span class="red">{{ countPercent(data.now, data.month) | number: '1.2'}}%</span>

                <div class="buttons">
                  <!--<a href="#" class="settings"><img src="img/settings.svg" alt=""></a>-->
                  <a (click)="onRemove(item.id, data.id, in, 'App\\CryptoStat')" class="minus"><img src="/img/minus.png" alt=""></a>
                </div>
              </div>
            </td>
          </tr>
          </ng-template>
          <tr class="no-bg"></tr>
            <!--<tr class="no-bg">-->
              <!--<td colspan="3" class="no-border">-->
                <!--<a class="add" *ngIf="item.user_portfolio_type_id == 1" (click)="openForm(1)">+Добавить облачный майнинг в портфель</a>-->
                <!--<a class="add" *ngIf="item.user_portfolio_type_id == 2" (click)="openForm(2)">+Добавить ICO проект в портфель</a>-->
                <!--<a class="add" *ngIf="item.user_portfolio_type_id == 3" (click)="openForm(3)">+Добавить криптовалюту в портфель</a>-->
                <!--<a class="add" *ngIf="item.user_portfolio_type_id == 4" (click)="openForm(4)">+Добавить биржу в портфель</a>-->

                <!--<form *ngIf="item.user_portfolio_type_id == 1 && mining_form == true">-->
                  <!--<input type="text" placeholder="Введите название..." [value]="searchLine" (keyup)="searchTerm$.next($event.target.value); onSearch(1)" >-->
                  <!--<button type="submit" (click)="onAdd(item.id, result_id, 'App\\CloudMining', 'mining')">Добавить</button>-->
                <!--</form>-->

                <!--<form *ngIf="item.user_portfolio_type_id == 2 && ico_form == true">-->
                  <!--<input type="text" placeholder="Введите название..." [value]="searchLine" (keyup)="searchTerm$.next($event.target.value); onSearch(2)" >-->
                  <!--<button type="submit" (click)="onAdd(item.id, result_id, 'App\\IcoProject', 'ico')">Добавить</button>-->
                <!--</form>-->

                <!--<form *ngIf="item.user_portfolio_type_id == 3 && crypto_form == true">-->
                  <!--<input type="text" placeholder="Введите название..." [value]="searchLine" (keyup)="searchTerm$.next($event.target.value); onSearch(3)" >-->
                  <!--<button type="submit" (click)="onAdd(item.id, result_id, 'App\\CryptoStat', 'crypto')">Добавить</button>-->
                <!--</form>-->
                <!--<form *ngIf="item.user_portfolio_type_id == 4 && stock_form == true">-->
                  <!--<input type="text" placeholder="Введите название..." [value]="searchLine" (keyup)="searchTerm$.next($event.target.value); onSearch(4)" >-->
                  <!--<button type="submit" (click)="onAdd(item.id, result_id, 'App\\Stock', 'stocks')">Добавить</button>-->
                <!--</form>-->
                <!--<ul *ngIf="results?.length > 0 && item.user_portfolio_type_id == 1 && mining_form == true">-->
                  <!--<li *ngFor="let result of results">-->
                    <!--<a (click)="searchLine = result.name; result_id=result.id" target="_blank">-->
                      <!--{{ result.name }}-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<ul *ngIf="results?.length > 0 && item.user_portfolio_type_id == 2 && ico_form == true">-->
                  <!--<li *ngFor="let result of results">-->
                    <!--<a (click)="searchLine = result.name; result_id=result.id" target="_blank">-->
                      <!--{{ result.name }}-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<ul *ngIf="results?.length > 0 && item.user_portfolio_type_id == 3 && crypto_form == true">-->
                  <!--<li *ngFor="let result of results">-->
                    <!--<a (click)="searchLine = result.name; result_id=result.id" target="_blank">-->
                      <!--{{ result.name }}-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<ul *ngIf="results?.length > 0 && item.user_portfolio_type_id == 4 && stock_form == true">-->
                  <!--<li *ngFor="let result of results">-->
                    <!--<a (click)="searchLine = result.name; result_id=result.id" target="_blank">-->
                      <!--{{ result.name }}-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</td>-->
              <!--&lt;!&ndash;<td class="no-border">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="bold">$178</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</td>           &ndash;&gt;-->
              <!--&lt;!&ndash;<td class="no-border">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="red">$1370</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--</tr>-->
          </tbody>
          <div *ngIf="!portfolios[item.id]" style="width: 100%; text-align: center; position:absolute; top: 40px;"><p *ngIf="!portfolios[item.id] && item.user_portfolio_type_id == 1" style="font-size: 14px;
          font-weight: bold; color: #c0c0c0;">У Вас еще не добавлены проекты Облачного майнинга. Перейдите в <a style="color: #fa5252; text-decoration: underline;" routerLink="/cloud-mining/all">каталог</a> для добавления.
          </p>
            <p *ngIf="!portfolios[item.id] && item.user_portfolio_type_id == 2" style="font-size: 14px;
          font-weight: bold; color: #c0c0c0;">У Вас еще не добавлены ICO проектов. Перейдите в <a style="color: #fa5252; text-decoration: underline;" routerLink="/ico/all">каталог</a> для добавления.
            </p>
            <p *ngIf="!portfolios[item.id] && item.user_portfolio_type_id == 3" style="font-size: 14px;
          font-weight: bold; color: #c0c0c0;">У Вас еще не добавлены криптовалюты. Перейдите в <a style="color: #fa5252; text-decoration: underline;" routerLink="/cryptocurrency/all">каталог</a> для добавления.
            </p>
            <p *ngIf="!portfolios[item.id] && item.user_portfolio_type_id == 4" style="font-size: 14px;
          font-weight: bold; color: #c0c0c0;">У Вас еще нет добавлены биржи. Перейдите в <a style="color: #fa5252; text-decoration: underline;" routerLink="/exchanges">каталог</a> для добавления.
            </p>
          </div>
        </table>
      </div>
    </div>
  </section>