<section class="ico-wrapper">
    <div class="wrapper">
    	<router-outlet></router-outlet>
<aside class="sidebar">
				<h2 class="categories-ico-title">Категории ICO </h2>
				<ul class="tag-list">
					<li><a routerLink="/ico/all" routerLinkActive="active" >Все</a></li>
          
					<li *ngFor="let category of categories">
					<a
					 [routerLink]="['/ico/category', category.id]" routerLinkActive="active">{{category.name}}({{category.count}})</a>
					</li>
				</ul>
				<app-sidebar></app-sidebar>
			</aside>
		</div>
	</section>