<section class="mining-filter">
  <div class="filter-top">
    <h2>Настройка фильтров</h2>
    <a href="blatant-mining.html" class="close">×</a>
  </div>
  <div class="categories-block">
    <h2>Алгоритм валюты</h2>
    <ul class="tag-list">
      <li *ngFor="let data of algoFilter"><a (click)="algorithm=data" [ngClass]="algorithm==data ? 'active' : '' ">{{data}}</a> </li>
    </ul>
  </div>
  <div class="categories-block">
    <h2>Год</h2>
    <ul class="tag-list">
      <li *ngFor="let data of yearFilter"><a  (click)="age=data" [ngClass]="age==data ? 'active' : '' ">{{data}}</a> </li>
    </ul>
  </div>
  <div class="sorting">
    <!--<h2>Сортировка</h2>-->
    <!--<form>-->
      <!--<p>-->
        <!--<input type="radio" id="test1" name="radio-group" checked>-->
        <!--<label for="test1">По алфавиту (от А до Я)</label>-->
      <!--</p>-->
      <!--<p>-->
        <!--<input type="radio" id="test2" name="radio-group">-->
        <!--<label for="test2">По размеру депозита</label>-->
      <!--</p>-->
      <!--<p>-->
        <!--<input type="radio" id="test3" name="radio-group">-->
        <!--<label for="test3">По рейтингу</label>-->
      <!--</p>-->
      <input [routerLink]="['/cryptocurrency/all']" [queryParams]="{algo: algorithm, year: age}" value="Сохранить">
    <!--</form>-->
    <a href="#" class="claer">X Очистить параметры фильтрации </a>
  </div>
</section>