<div class="news-content">
        <div class="news-head">
          <h1>Новости<span>{{countAll}}</span></h1>
          <ul class="news-tabs">
            <li class="active"><a href="#">Новое за сегодня</a></li>
            <li><a href="#">Самое популярное</a></li>
            <li><a href="#">Самое обсуждаемое</a></li>
          </ul>
        </div>
        <div class="news-body">
          <div class="news-tab-content active">
            <div class="main-news">
              <div class="news" *ngFor="let item of main_news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photo+')'}">
                  <a href="#" class="news-btn">{{item.category}}</a>
                  <a href="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                    <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                    <a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a>
                  </div>
                </div>
                <div class="text">
                  <p [innerHTML]="item.desc"> </p><a href="/posts/post/{{item.id}}">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="news-list">
              <div class="news" *ngFor="let item of news">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photo+')' }">
                  <a href="#" class="news-btn">{{item.category}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                  </div>
                </div>
                <div class="text">
                  <h3>
                    <a href="#">{{item.title}}</a>
                  </h3>
                </div>
              </div>
            </div>
            <!-- <a href="#" class="show-more">Показать еще</a> -->
          </div>
          
            </div>
            <a href="#" class="show-more">Показать еще</a>
          </div>

