<div class="news-content">
        <div class="news-head">
          <h1>Новости<span *ngIf="countAll">{{countAll}}</span></h1>
          <ul class="news-tabs">
            <li class="active"><a (click)="setOrder('id')">Новое за сегодня</a></li>
            <li><a (click)="setOrder('views_count')">Самое популярное</a></li>
            <li><a  (click)="setOrder('comments_count')">Самое обсуждаемое</a></li>
          </ul>
        </div>
        <div class="news-body">
          <div style="width: 50px; height: 50px; margin: 40px auto;" *ngIf="load == true" >
            <img src="/img/load.gif" *ngIf="load == true" style=" width: 50px; height: 50px; text-align: center">
          </div>
          <div class="news-tab-content active">
            <div class="main-news">
              <div  *ngFor="let item of main_news | orderBy: order:reverse:'case-insensitive'" [ngClass]="item.workplace ? 'news trust' : 'news'">
                <div class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')', 'background-color': 'rgba(0,0,0,.5)'}">
                  <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                  <a routerLink="/posts/post/{{item.id}}" class="title-link">{{item.title}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                    <span class="views" *ngIf="item.view_count > 0"><i class="fa fa-eye" aria-hidden="true"></i>{{item.view_count}}</span>
                    <a  [routerLink]="['/posts/post', item.id]" fragment="comment-block" class="comments" *ngIf="item.comments_count > 0"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a>
                  </div>
                </div>
                <div class="text">
                  <p>{{item.desc | striphtml | excerpt:140}} <a routerLink="/posts/post/{{item.id}}">Подробнее</a></p> 
                </div>
              </div>
            </div>
            <div class="news-list">
              <div *ngFor="let item of news | orderBy: order:reverse:'case-insensitive'" [ngClass]="item.name_credits ? 'trust news' : 'news'" [routerLink]="item.name_credits ? ['/interview/item', item.id] : null">
                <div *ngIf="item.name_credits" class="img-wrap"><img src="img/trust.png" alt=""></div>
                <h4 *ngIf="item.name_credits">{{item.title}}</h4>
                <p *ngIf="item.name_credits" class="name">{{item.name_credits}}</p>
                <span *ngIf="item.name_credits">{{item.workplace}}</span>
                <div *ngIf="!item.name_credits" class="img" [ngStyle]="{'background-image':'url('+item.photos[0].file+')' }">
                  <a [routerLink]="['/posts/category', item.cat_id]" class="news-btn">{{item.category.name}}</a>
                  <div class="info">
                    <span class="date">{{item.created_at}}</span>
                  </div>
                </div>
                <div *ngIf="!item.name_credits" class="text">
                  <h3>
                    <a [routerLink]="['/posts/post', item.id]">{{item.title}}</a>
                  </h3>
                </div>

                <div *ngIf="!item.name_credits" class="text2">
                  <p>{{item.desc | striphtml |excerpt:80}}</p>
                </div>
              </div>
              
            </div>
            <!-- <a href="#" class="show-more">Показать еще</a> -->
          </div>
          
            </div>
            <!-- <a href="#" class="show-more">Показать еще</a> -->
          </div>

