      <app-stocks-sidebar>Загрузка</app-stocks-sidebar>

        <a href="#" class="banner-black"><img src="img/banner-black.jpg" alt=""></a>
        <app-cloud-mining-top></app-cloud-mining-top>
        <div class="social">
          <h5 class="titles">Мы в соц.сетях</h5>
          <ul>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <app-top-ico></app-top-ico>