<!--<div class="ico-content">-->
				<!--<div class="ico-head">-->
					<!--<h1>ICO<span>{{icoCount}}</span></h1>-->
					<!--<ul class="ico-tabs">-->
						<!--<li><label for="filter1"><input type="radio" id="filter1" value="1" [(ngModel)]="status" name="status"><a>Активные ({{activeCount}})</a></label></li>-->
						<!--<li><label for="filter2"><input type="radio" id="filter2" value="2" [(ngModel)]="status" name="status"><a>Завершенные ({{inactiveCount}})</a></label></li>-->
					<!--</ul>-->
					<!--<form>-->
						<!--<input [(ngModel)]="filteredName" name="filteredName" type="text" placeholder="Поиск по названию">-->
						<!--<button type="button"><img src="/img/search-icon.png" alt=""></button>-->
					<!--</form>-->
				<!--</div>-->
				   <!--<div class="select-wrapper">-->
				     <!--<div class="select">-->
				      <!--<span class="text"><span style="padding-top: 12px;">{{order == 'name' ? 'По алфавиту' : 'По сумме собранных средств'}}</span></span>-->
				      <!--<a href="#"><img src="/img/select-drop-icon.png" alt=""></a>-->
				     <!--</div>-->
				     <!--<ul class="select-items">-->
				      <!--<li (click)="setOrder('name')"><a >Фильтрация: По алфавиту</a></li>-->
				      <!--<li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li>-->
				     <!--</ul>-->
				    <!--</div>-->
		<div class="ico-content">
			<div class="ico-head">
				<h1>ICO<span>{{icoCount}}</span><a href="/"><img src="/img/mining-icon.png" alt=""></a></h1>
				<ul class="ico-tabs">
					<li class="active"><label for="filter1"><input type="radio" id="filter1" value="1" [(ngModel)]="status" name="status"><a (click)="status=1">Активные ({{activeCount}})</a></label></li>
					<li><input type="radio" id="filter2" value="2" [(ngModel)]="status" name="status"><a (click)="status=2">Завершенные ({{inactiveCount}})</a></li>
				</ul>
				<form>
					<input type="text" placeholder="Поиск по названию" [(ngModel)]="filteredName" name="filteredName">
				</form>
			</div>
			<div class="select-content">
				<div class="select-head">
					<p>По алфавиту</p>
					<span class="curret"></span>
				</div>
				<ul class="select-body">
          <li><a (click)="setOrder('percentage')">По сумме собранных средств увеличение</a></li>
					<li><a (click)="setOrder('percentage')">По сумме собранных средств уменьшение</a></li>
				</ul>
			</div>
				<div class="project-wrapper active">
          
					<div *ngFor="let item of news | filterNameActive:status:'status' | filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive'" class="project-block" [ngClass]="item.status==1 ? ' ' : 'no-bg'">
						<div class="img-wrap">
							<a href="/ico/item/{{item.id}}"><img [src]="item.logo" style="width: 97px; height: 97px" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a routerLink="/ico/item/{{item.id}}" class="project-title">{{item.name}}</a></p>
							</div>
							<div class="project-info-content">
								<div class="info">
									<p class="status" [ngClass]="item.status==1 ? 'active-status' : 'inactive-status'">Статус: <span>{{item.status == 1? 'Активен': 'Завершен'}}</span></p>
									<p class="year">от {{item.money_start}} до {{item.money_end}}</p>
									<p class="last-updated">Последнее обновление: {{item.updated_at}}</p>
								</div>
								<div class="progres-bar">
									<a [routerLink]="['/ico/category', item.cat_id]" class="product-gray-btn">{{item.category}}</a>
									<div class="progres">
										<span [ngStyle]="{'width': item.current_money/(item.money / 100)+'%' }"></span>
										<p>${{item.current_money}} из {{item.money}}</p>
									</div>
									<a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
                  <a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>

                  <a class="follow"  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id, 'App\\IcoProject')"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
								</div>
							</div>
						</div>
            <div class="more-project-wrap">
						<p class="more-project">
              {{item.about | striphtml |excerpt:80}} <a routerLink="/ico/item/{{item.id}}"> Подробнее о проекте</a></p>
              <a href="#" class="comment-wrapper">
                <img src="img/comment.svg" alt="">
                <span>{{item.comments_count}}</span>
              </a>
            </div>
              
					</div>

				</div>
				<!-- <a href="#" class="show-more">Показать еще</a> -->
			</div>
<div id="follow-popup" class="popup mfp-with-anim mfp-hide">
    <div class="popup-body">
      <h2>Следить за {{selectedItem?.name}}</h2>
      <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
      <div class="checkbox-list">
        <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
          <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
          <label for="{{i}}">
            <span></span>{{portfolio.name}}
          </label>
        </div>
      </div>
      <a href="#" class="add-portfolio">+Добавить портфель</a>
      <form class="hidden" #f="ngForm">
        <input type="text" ngModel name="name" required="" placeholder="Введите название...">
        <button (click)="createPortfolio(f)" type="submit">Добавить</button>
      </form>
    </div>
    <div class="save-block">
      <a (click)="submitPortfolio(selectedItem?.id, 'App\\IcoProject')" class="save-settings">Сохранить настройки</a>
      <a href="#" class="close-text">Отменить и закрыть</a>
    </div>
</div>