<div class="ico-content">
				<div class="ico-head">
					<h1>ICO<span>{{icoCount}}</span></h1>
					<ul class="ico-tabs">
						<li><label for="filter1"><input type="radio" id="filter1" value="1" [(ngModel)]="status" name="status"><a>Активные ({{activeCount}})</a></label></li>
						<li><label for="filter2"><input type="radio" id="filter2" value="2" [(ngModel)]="status" name="status"><a>Завершенные ({{inactiveCount}})</a></label></li>
					</ul>
					<form>
						<input [(ngModel)]="filteredName" name="filteredName" type="text" placeholder="Поиск по названию">
						<button type="button"><img src="/img/search-icon.png" alt=""></button>
					</form>
				</div>
				   <div class="select-wrapper">
				     <div class="select">
				      <span class="text"><span style="padding-top: 12px;">{{order == 'name' ? 'По алфавиту' : 'По сумме собранных средств'}}</span></span>
				      <a href="#"><img src="/img/select-drop-icon.png" alt=""></a>
				     </div>
				     <ul class="select-items">
				      <li (click)="setOrder('name')"><a >Фильтрация: По алфавиту</a></li>
				      <li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li>
				     </ul>
				    </div>
				<div class="project-wrapper active">
					<div *ngFor="let item of news | filterNameActive:status:'status' | filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive'" class="project-block" [ngClass]="item.status==1 ? ' ' : 'no-bg'">
						<div class="img-wrap">
							<a href="/ico/item/{{item.id}}"><img [src]="item.logo" style="width: 97px; height: 97px" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="/ico/item/{{item.id}}" class="project-title">{{item.name}}</a><a href="/ico/item/{{item.id}}#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{item.comments_count}}</a></p>
							</div>
							<div class="project-info-content">
								<div class="info">
									<p class="status" [ngClass]="item.status==1 ? 'active-status' : 'inactive-status'">Статус: <span>{{item.status == 1? 'Активен': 'Завершен'}}</span></p>
									<p class="year">от {{item.money_start}} до {{item.money_end}}</p>
									<p class="last-updated">Последнее обновление: {{item.updated_at}}</p>
								</div>
								<div class="progress-bar">
									<a [routerLink]="['/ico/category', item.cat_id]" class="product-gray-btn">{{item.category}}</a>
									<div class="progress">
										<span [ngStyle]="{'width': item.current_money/(item.money / 100)+'%' }"></span>
										<p>${{item.current_money}} из {{item.money}}</p>
									</div>
									<a href="#" class="follow"><span class="plus">+</span><span class="text">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project" [innerHTML]="item.about">
							</p>
						<p class="more-project"><a  href="/ico/item/{{item.id}}">Подробнее о проекте</a></p>
					</div>

				</div>
				<!-- <a href="#" class="show-more">Показать еще</a> -->
			</div>
