
              <div class="interview-card-content">
                <a routerLink='/interview/all' class="return"><span>&lt;</span>Вернуться к списку интервью</a>
                <div class="top-block">
                    <h2>{{news?.title}}</h2>

                </div>
                <div class="comment comment-card">
                  <div class="img-wrap">
                    <a href="#"><img style="width: 100px; height: 100px;" src="{{photo?.file}}" alt=""></a>
                  </div>
                  <div class="text-wrap">
                    <a href="#" class="name">{{news?.name_credits}}</a>
                    <span>{{news?.workplace}}</span>
                    <p> </p>
                  </div>
                </div>
                <div class="info info-top">
                  <div class="left-block">
                    <a href="#" class="news-btn"> </a>
                    <span class="date">{{news?.created_at}}</span>
                  </div>
                  <div class="right-block">
                    <a href="#" class="comments"><img src="img/comment.svg" alt="">{{news?.comments_count}}</a>
                    <span class="views"><img src="img/eye.svg" alt="">0</span>
                  </div>
                </div>
                <div class="text-wrap" [innerHTML]="news.desc">
                    
                </div>
    
                   <!--  -->
                    <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
                    <div class="comment-block" id="comment-block">
                    <div class="comment-top" *ngIf="user?.id != undefined">
                                <h3>Добавить новый комментарий</h3>
                                <form (ngSubmit)="submitComment(f, news.id, 'App\\Interview')" #f="ngForm">
                                    <input type="hidden" ngModel name="post_id" value="{{news?.id}}">
                                    <input type="hidden" ngModel name="commentable_type" value="App\News">
                                    <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                                    <button type="submit">Добавить</button>
                                </form>
                                <p *ngIf="submitted">Комментарий успешно добавлен</p>
                    </div>
                    <div class="comment-top" *ngIf="user?.id == undefined">
                        <h3>Комментарии ({{news?.comments_count}})</h3>
                        <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
                    </div>
                    
                    <div *ngIf="user?.id != undefined" style="background: none !important; border: none !important" class="comment-top">
                        <h3 >Комментарии ({{news?.comments_count}})</h3>
                        <!-- <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p> -->

                    
                    </div>
                    <ul class="comment-items">
                        <!--  -->
                        <li *ngFor="let item of comments">
                            <div class="left">
                                <div class="info">
                                    <div class="img-wrap">
                                        <img src="img/comment-img2.jpg" style="max-width: 35px; height: auto;" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <p>{{item.email}}</p>
                                        <span>Добавлен </span>
                                    </div>
                                </div>
                                <p class="comment-text">{{item.body}}</p>
                            </div>
                            <div class="right">
                                <div class="img-wrap"></div>
                                <div class="btn-block">
                                    <span class="number-green">0</span>
                                    <div class="buttons">
                                        <a href="#" class="plus">+</a>
                                        <a href="#" class="minus">-</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
                </div>
              </div>
                