<!-- <div class="mining-content">
        <div class="mining-head">
          <h1>Облачный майнинг<span>{{allCount}}</span></h1>
          <ul class="mining-tabs">
            <li><label for="filter1"><input type="radio" id="filter1" value="1" [(ngModel)]="status" name="status"><a>Платит/Ожидание ({{active}})</a></label></li>
            <li><label for="filter2"><input type="radio" id="filter2" value="2" [(ngModel)]="status" name="status"><a>Не платит ({{inactive}})</a></label></li>
          </ul>
          <form>
            <input type="text" placeholder="Поиск по названию" [(ngModel)]="filteredName" name="filteredName">
            <button type="button"><img src="img/search-icon.png" alt=""></button>
          </form>
        </div> -->
<!--         <div class="select-wrap select-wrap-mining">
          <select [(ngModel)]="order" name="order">
            <option [value]="'name'"><span (click)="setOrder('name')">Фильтрация: По</span></option>
            <option [value]="'percentage'">Фильтрация: По сумме собраных средств</option>
          </select>
          <button  (click)="setOrder('name')">по алфавиту</button>
          <button  (click)="setOrder('percentage')">по сумме</button>
        </div> -->
    <!-- 
   <div class="select-wrapper">
     <div class="select">
      <span class="text"><span style="padding-top: 12px;">{{order == 'name' ? 'По алфавиту' : 'По сумме собранных средств'}}</span></span>
      <a href="#"><img src="/img/select-drop-icon.png" alt=""></a>
     </div>
     <ul class="select-items">
      <li (click)="setOrder('name')"><a >Фильтрация: По алфавиту</a></li>
      <li (click)="setOrder('percentage')"><a >Фильтрация: По сумме собранных средств</a></li>
     </ul>
    </div> -->
    <div class="mining-content">
        <div class="mining-head">
          <h1>Облачный майнинг<span>{{allCount}}</span><a href="balant-mining-filter.html"><img src="/img/mining-icon.png" alt=""></a></h1>
          <ul class="mining-tabs">
            <li class="active"><a href="#" (click)="status=1">Платит/Ожидание ({{active}})</a></li>
            <li><a href="#" (click)="status=2">Не платит ({{inactive}})</a></li>
          </ul>
          <form>
            <input type="text" placeholder="Поиск по названию" [(ngModel)]="filteredName" name="filteredName">
          </form>
        </div>
        <div class="select-content">
          <div class="select-head">
            <p>Доход от большего к меньшему</p>
            <span class="curret"></span>
          </div>
          <ul class="select-body">
            <li><a href="#" (click)="setOrder('proc')" >Доход на уменьшение</a></li>
            <li><a href="#" (click)="setOrder('depo')">Депозит на уменьшение</a></li>
            <li><a href="#" (click)="setOrder('depo')">Депозит на увеличение</a></li>
          </ul>
        </div>
        <div class="project-wrapper active">
          <div class="project-block" *ngFor="let item of news | filterNameActive:status:'status' | filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive'">
            <div class="img-wrap">
              <a routerLink="/cloud-mining/item/{{item.id}}"><img src="{{item.logo}}" alt="" style="width: 97px; height: 97px"></a>
            </div>
            <div class="text-wrap">
              <div class="text-info">
                <p><a routerLink="/cloud-mining/item/{{item.id}}" class="project-title">{{item.name}}</a></p>
              </div>
              <div class="project-info-content">
                <ul class="info-list">
                  <li><span>Статус:</span><span class="bold active">{{item.status == 1 ? 'Платит' : 'Не платит'}}</span></li>
                  <li><span>Доход в год:</span><span class="bold">{{item.proc}}%</span></li>
                  <li><span>Существует:</span><span class="bold">{{item.start_days}} дней</span></li>
                  <li><span>Активность депозита:</span><span class="bold">{{item.depo_date}}</span></li>
                  <li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
                </ul>
                <div class="progres-bar">
                  <div class="progres">
                    <span [ngStyle]="{'width':item.percentage+'%'}"></span>
                    <p>Депозит: <b>{{item.depo}}$ ({{item.percentage}}%)</b></p>
                  </div>
                  <a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
                  <a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>

                  <a class="follow"  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
                </div>
              </div>
            </div>
            <div class="more-project-wrap">
              <p class="more-project">{{item.desc | striphtml | excerpt:140}}
              <a routerLink="/cloud-mining/item/{{item.id}}">Подробнее о проекте</a></p>
              
              <a href="/cloud-mining/item/{{item.id}}#comment-block" class="comment-wrapper">
                <img src="img/comment.svg" alt="">
                <span>{{item.comments_count}}</span>
              </a>
            </div>
          </div>
          
        <!-- <a href="#" class="show-more">Показать еще</a> -->
      </div>
    </div>
    <div id="follow-popup" class="popup mfp-with-anim mfp-hide">
    <div class="popup-body">
      <h2>Следить за {{selectedItem?.name}}</h2>
      <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
      <div class="checkbox-list">
        <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
          <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
          <label for="{{i}}">
            <span></span>{{portfolio.name}}
          </label>
        </div>
      </div>
      <a href="#" class="add-portfolio">+Добавить портфель</a>
      <form class="hidden" #f="ngForm">
        <input type="text" ngModel name="name" required="" placeholder="Введите название...">
        <button (click)="createPortfolio(f)" type="submit">Добавить</button>
      </form>
    </div>
    <div class="save-block">
      <a (click)="submitPortfolio(selectedItem?.id, 'App\\CloudMining')" class="save-settings">Сохранить настройки</a>
      <a href="#" class="close-text">Отменить и закрыть</a>
    </div>
  </div>