 <div class="mining-content">
        <div class="mining-head">
          <h1>Облачный майнинг<span>{{allCount}}</span><a href="balant-mining-filter.html"><img src="/img/mining-icon.png" alt=""></a></h1>
          <ul class="mining-tabs">
            <li [ngClass]="status=='both' ? 'active':''"><a routerLink="./" (click)="status='both'" routerLink="./" [queryParams]="{order: order, reverse: reverse, status: 'both'}">Платит/Ожидание ({{active}})</a></li>
            <li [ngClass]="status==2 ? 'active':''"><a routerLink="./" (click)="status=2" [queryParams]="{order: order, reverse: reverse, status: '2'}">Не платит ({{inactive}})</a></li>
          </ul>
          <form>
            <input type="text" placeholder="Поиск по названию" [(ngModel)]="filteredName" name="filteredName">
          </form>
        </div>
        <div class="select-content" (click) = "showCaret = !showCaret" (appClickOutside)="showCaret=false">
          <div class="select-head">
            <p *ngIf="order=='name'">По алфавиту A-Я</p>
            <p *ngIf="order=='name' && reverse==true">По алфавиту Я-А</p>
            <p *ngIf="order=='proc' && reverse==true">Доход на уменьшение</p>
            <p *ngIf="order=='proc' && reverse==false">Доход на увеличение</p>
            <p *ngIf="order=='depo' && reverse==true">Депозит на уменьшение</p>
            <p *ngIf="order=='depo' && reverse==false">Депозит на увеличение</p>
            <span class="curret"></span>
          </div>
          <ul *ngIf="showCaret==true" class="select-body" >
            <li><a (click)="setOrder('name', false); showCaret=false" routerLink="./" [queryParams]="{order: 'name', reverse: false}" >По алфавиту А-Я</a></li>
            <li><a (click)="setOrder('name', true); showCaret=false" routerLink="./" [queryParams]="{order: 'name', reverse: true}" >По алфавиту Я-А</a></li>
            <li><a (click)="setOrder('proc', true); showCaret=false"  routerLink="./" [queryParams]="{order: 'proc', reverse: true}">Доход на уменьшение</a></li>
            <li><a (click)="setOrder('proc', false); showCaret=false" routerLink="./" [queryParams]="{order: 'proc', reverse: false}">Доход на увеличение</a></li>
            <li><a (click)="setOrder('depo', true); showCaret=false" routerLink="./" [queryParams]="{order: 'depo', reverse: true}">Депозит на уменьшение</a></li>
            <li><a (click)="setOrder('depo', false); showCaret=false" routerLink="./" [queryParams]="{order: 'depo', reverse: false}">Депозит на увеличение</a></li>
          </ul>
        </div>
        <div class="project-wrapper active">
          <div class="project-block" *ngFor="let item of news | filterNameActive:status:'status' | filterName:filteredName:'name' | orderBy: order:reverse:'case-insensitive'">
            <div class="img-wrap">
              <a routerLink="/cloud-mining/item/{{item.id}}"><img src="{{item.logo}}" alt="" style="width: 97px; height: 97px"></a>
            </div>
            <div class="text-wrap">
              <div class="text-info">
                <p><a routerLink="/cloud-mining/item/{{item.id}}" class="project-title">{{item.name}}</a></p>
              </div>
              <div class="project-info-content">
                <ul class="info-list">
                  <li><span>Статус:</span>
                    <span *ngIf="item.status == 1" class="bold active">Платит</span>
                    <span *ngIf="item.status == 2" class="bold " style="color: #f00;">Не платит</span>
                    <span *ngIf="item.status == 3" class="bold " style="color: #ff9b00;">Ожидание выплаты</span>
                  </li>
                  <li><span>Доход в год:</span><span class="bold">{{item.proc}}%</span></li>
                  <li><span>Существует:</span><span class="bold">{{item.start_days}} дней</span></li>
                  <li><span>Активность депозита:</span><span class="bold">{{item.depo_date}}</span></li>
                  <li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
                </ul>
                <div class="progres-bar">
                  <div class="progres">
                    <span [ngStyle]="{'width':item.percentage+'%'}"></span>
                    <p>Депозит: <b>{{item.depo}}$ ({{item.percentage}}%)</b></p>
                  </div>
                  <a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
                  <a href="#follow-popup" *ngIf="!checkInPortfolio(item.id) && checkAuth()" (click)="selectedItem = item" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>

                  <a class="follow"  *ngIf="checkInPortfolio(item.id) && checkAuth()"  (click)="removePortfolio(item.id)"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
                </div>
              </div>
            </div>
            <div class="more-project-wrap">
              <p class="more-project">{{item.desc | striphtml | excerpt:140}}
              <a routerLink="/cloud-mining/item/{{item.id}}">Подробнее о проекте</a></p>
              
              <a href="/cloud-mining/item/{{item.id}}#comment-block" class="comment-wrapper">
                <img src="img/comment.svg" alt="">
                <span>{{item.comments_count}}</span>
              </a>
            </div>
          </div>

      </div>
   <div class="mobile-mining-content">
     <ul>
       <li *ngFor="let item of news | filterNameActive:status:'status' |
              filterName:filteredName:'name' |
              orderBy: order:reverse:'case-insensitive'">
         <a routerLink="/cloud-mining/item/{{item.id}}">
           <a routerLink="/cloud-mining/item/{{item.id}}">{{item.name}}</a>
           <div class="info">
             <div class="profitability">
               <span>Доходность</span>
               <span class="year">{{item.proc}}% / год</span>
             </div>
             <div class="deposit">
               <span>Депозит</span>
               <span class="usd">${{item.depo}}</span>
             </div>
             <div class="received">
               <span>Получено</span>
               <span class="persent">{{item.percentage}}%</span>
             </div>
             <div class="status">
               <span>Статус</span>
               <span *ngIf="item.status == 1" class="bold active">Платит</span>
               <span *ngIf="item.status == 2" class="bold " style="color: #f00;">Не платит</span>
               <span *ngIf="item.status == 3" class="bold " style="color: #ff9b00;">Ожидание выплаты</span>
             </div>
           </div>
         </a>
       </li>
     </ul>
   </div>
    </div>
    <div id="follow-popup" class="popup mfp-with-anim mfp-hide">
    <div class="popup-body">
      <h2>Следить за {{selectedItem?.name}}</h2>
      <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
      <div class="checkbox-list">
        <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
          <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
          <label for="{{i}}">
            <span></span>{{portfolio.name}}
          </label>
        </div>
      </div>
      <a href="#" class="add-portfolio">+Добавить портфель</a>
      <form class="hidden" #f="ngForm">
        <input type="text" ngModel name="name" required="" placeholder="Введите название...">
        <button (click)="createPortfolio(f)" type="submit">Добавить</button>
      </form>
    </div>
    <div class="save-block">
      <a (click)="submitPortfolio(selectedItem?.id, 'App\\CloudMining')" class="save-settings">Сохранить настройки</a>
      <a href="#" class="close-text">Отменить и закрыть</a>
    </div>
  </div>