<div class="mining-content">
        <div class="mining-head">
          <h1>Облачный майнинг<span>872</span></h1>
          <ul class="mining-tabs">
            <li class="active"><a href="#">Платит/Ожидание (45)</a></li>
            <li><a href="#">Не платит</a></li>
          </ul>
          <form>
            <input type="text" placeholder="Поиск по названию" [(ngModel)]="filteredName" name="filteredName">
            <button type="button"><img src="img/search-icon.png" alt=""></button>
          </form>
        </div>
        <div class="select-wrap select-wrap-mining">
          <select>
            <option value="all">Фильтрация: По алфавиту</option>
            <option value="usd">Фильтрация: По алфавиту</option>
            <option value="eur">Фильтрация: По алфавиту</option>
          </select>
        </div>

        <div class="project-wrapper active">
          <div class="project-block" *ngFor="let item of news | filterName:filteredName:'name'">
            <div class="img-wrap">
              <a href="balant-mining-card.html"><img src="{{item.logo}}" alt=""></a>
            </div>
            <div class="text-wrap">
              <div class="text-info">
                <p><a href="balant-mining-card.html" class="project-title">{{item.name}}</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>0</a></p>
              </div>
              <div class="project-info-content">
                <ul class="info-list">
                  <li><span>Статус:</span><span class="bold active">{{item.status == 1 ? 'Платит' : 'Не платит'}}</span></li>
                  <li><span>Доход в год:</span><span class="bold">{{item.proc}}%</span></li>
                  <li><span>Существует:</span><span class="bold">{{item.start_days}} дней</span></li>
                  <li><span>Активность депозита:</span><span class="bold">{{item.depo_date}}</span></li>
                  <li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
                </ul>
                <div class="progress-bar">
                  <div class="progress">
                    <span [ngStyle]="{'width':item.percentage+'%'}"></span>
                    <p>Депозит: <b>{{item.depo}}$ ({{item.percentage}}%)</b></p>
                  </div>
                  <a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
                </div>
              </div>
            </div>
            <p class="more-project">{{item.desc}}
              <a href="balant-mining-card.html">Подробнее о проекте</a></p>
          </div>
          
        <a href="#" class="show-more">Показать еще</a>
      </div>
    </div>
<!-- <table  style="width: 100%">
	<tr>
	<td><img src="{{item.logo}}" class="img-responsive" width="50"></td>
	<td>
		<h3><a href="#">{{item.name}}</a></h3> -->
<!-- 		<table><tr><td>
			<table>
				<tr>
					<td><p>Статус: <strong>{{item.status == 1 ? 'Платит' : 'Не платит'}}</strong></p>
						<p><strong>Доходность: {{item.proc}}%</strong>/год</p>
		</td>
		<td><p>Существует: <strong>{{item.start_days}}</strong> дней</p><p>Активность депозита:<strong> {{item.depo_date}}</strong> дней</p></td>

				</tr>
			</table>
		
		

		</td>
<td><div style="width: 200px;"><div class="progress" style="margin: 5px 0 0">
		  <div class="progress-bar bg-danger" role="progressbar" style="width: {{item.percentage}}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Депозит: <strong>{{item.depo}}</strong> (<strong>{{item.percentage}}%</strong>)</div>
			</div>
		</div></td>
	</tr></table> -->
		
		
		<!-- <p>Последняя выплата:<strong> {{item.latest_date}}</strong> дней назад</p> -->
<!--  <form (ngSubmit)="submitPortfolio(f, item.id, 'App\\CloudMining')" #f="ngForm">
        	<label *ngFor="let portfolio of portfolios"><input ngModel name="portfolio_id" type="radio" value="{{portfolio.id}}"> {{portfolio.name}}</label>

        	<button type="submit" class="btn btn-success">Следить</button>
        </form>
</td>


	</tr>
	<tr colspan="3"><td>{{item.desc}}</td></tr> -->
<!-- Button trigger modal -->

