			<div class="ico-card-content mining-card-content">
				<a href="/cloud-mining/all" class="return"><span>&#60;</span>Вернуться к списку проектов</a>
				<div class="project-block">
					<div class="img-wrap">
						<img src="{{news.logo}}" alt="" style="width: 97px; height: 97px;">
					</div>
					<div class="text-wrap">
						<div class="text-info">
							<p class="project-title">{{news.name}}<a href="#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{commentcount}}</a></p>
						</div>
						<div class="project-info-content">
							<ul class="info-list">
								<li><span>Статус:</span><span class="bold active">{{news.status == 1 ? 'Платит' : 'Не платит'}}</span></li>
								<li><span>Доход в год:</span><span class="bold">{{news.proc}}%</span></li>
								<li><span>Существует:</span><span class="bold">{{news.start_days}} дней</span></li>
								<li><span>Активность депозита:</span><span class="bold">{{news.depo_date}} дней</span></li>
								<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
							</ul>
							<div class="progress-bar">
								<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
							</div>
						</div>
					</div>
				</div>
				<ul class="card-menu">
					<li><a  [routerLink]="['/cloud-mining/item', news.id]" fragment="basic-information">Основа</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="history-table">История операций</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="comment-block">Комментарии ({{commentcount}})</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="related-projects">Похожие проекты (0)</a></li>
				</ul>
				<div class="basic-information" id="basic-information">
					<div class="basic-information-wrap">
						<div class="left">
							<h3 class="ico-title">Основная информация</h3>
							<ul>
								<li><span class="gray">Официальный сайт: </span> <span class="black"><a href="#">{{news.website}}</a></span></li>
								<li><span class="gray">Язык сайта:</span><span class="black">{{news.lang}}</span> </li>
								<li><span class="gray">Рефферальная система:</span><span class="black">{{news.ref==0 ? 'Нет': 'Да'}}</span></li>
							</ul>
						</div>
						<div class="right">
							<div class="progress">
			                    <span [ngStyle]="{'width':news.percentage+'%'}"></span>
			                    <p>Депозит: <b>{{news.depo}}$ ({{news.percentage | number:'1.0-0'}}%)</b></p>
			                  </div>
						</div>
					</div>
					<div class="text-wrap">
						<p>{{news.desc}}</p>
					</div>
				</div>
				<div class="history-table" id="history-table">
					<div class="history-title-block">
						<h2>История операций с тестовым депозитом</h2>
					</div>
					<table>
						<thead>
							<tr>
								<th width="14%"><span>Сумма</span></th>
								<th width="22%"><span>Операция</span></th>
								<th width="48%"><span>Комментарий</span></th>
								<th width="16%"><span>Дата</span></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of histories">
								<td>
									<span class="price">{{item.price}}$</span>
								</td>
								<td>
									<span class="operation" [ngClass]="item.type==2? 'operation-green':'operation-red'">{{item.type==1 ? 'Пополнение' : 'Вывод средств'}}</span>
								</td>
								<td>
									<span class="comment">{{item.comment}}</span>
								</td>
								<td>
									<span class="date">{{item.datetime}}</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<!-- <a href="#" class="show-btn">Показать еще</a> -->
				</div>
				<div class="comment-block" id="comment-block">
					<div class="comment-top" *ngIf="user.id != undefined">
								<h3>Добавить новый комментарий</h3>
								<form (ngSubmit)="submitComment(f, news.id, 'App\\IcoProject')" #f="ngForm">
									<input type="hidden" ngModel name="post_id" value="{{news?.id}}">
									<input type="hidden" ngModel name="commentable_type" value="App\News">
									<textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
									<button type="submit">Добавить</button>
								</form>
								<p *ngIf="submitted">Комментарий успешно добавлен</p>
					</div>
					<div class="comment-top" *ngIf="user.id == undefined" style="background: none !important; border: none !important">
						<h3>Комментарии ({{commentcount}})</h3>
						<p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#">авторизоваться</a> или <a href="#">пройти регистрацию.</a></p>
					</div>
					
					<div *ngIf="user.id != undefined" style="background: none !important; border: none !important" class="comment-top">
						<h3 >Комментарии ({{commentcount}})</h3>
						<!-- <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#">авторизоваться</a> или <a href="#">пройти регистрацию.</a></p> -->

					
					</div>
					<ul class="comment-items">
						<!--  -->
						<li *ngFor="let item of comments">
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="{{item.photo != '' ? item.photo : 'img/comment-img2.jpg'}}" style="max-width: 35px; height: auto;" alt="">
									</div>
									<div class="text-wrap">
										<p>{{item.email}}</p>
										<span>Добавлен {{item.created_at}}</span>
									</div>
								</div>
								<p class="comment-text">{{item.body}}</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">0</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>

					</ul>
					<!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
				</div>
				<!-- <div class="related-projects" id="related-projects">
					<h3 class="ico-title">Похожие проекты (2)</h3>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис) Mining</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<div class="progress">
										<span style="width: 19%"></span>
										<p class="bold">Депозит: 190$ (19%)</p>
									</div>
									<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис)</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<div class="progress">
										<span style="width: 19%"></span>
										<p class="bold">Депозит: 190$ (19%)</p>
									</div>
									<a href="#" class="follow"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис) Mining</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<p class="no-deposite">Депозита нет</p>
									<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
				</div> -->
			</div>