			<div class="ico-card-content mining-card-content">
				<a href="blatant-mining.html" class="return"><span>&#60;</span>Вернуться к списку проектов</a>
				<div class="project-block">
					<div class="img-wrap">
						<img src="img/project-img1.jpg" alt="">
					</div>
					<div class="text-wrap">
						<div class="text-info">
							<p class="project-title">Genesis (Дженезис) Mining project<a href="#comment-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
						</div>
						<div class="project-info-content">
							<ul class="info-list">
								<li><span>Статус:</span><span class="bold active">Платит</span></li>
								<li><span>Доход в год:</span><span class="bold">350%</span></li>
								<li><span>Существует:</span><span class="bold">189 дней</span></li>
								<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
								<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
							</ul>
							<div class="progress-bar">
								<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
							</div>
						</div>
					</div>
				</div>
				<ul class="card-menu">
					<li><a href="#basic-information">Основа</a></li>
					<li><a href="#history-table">История операций</a></li>
					<li><a href="#comment-block">Комментарии (5)</a></li>
					<li><a href="#related-projects">Похожие проекты (2)</a></li>
				</ul>
				<div class="basic-information" id="basic-information">
					<div class="basic-information-wrap">
						<div class="left">
							<h3 class="ico-title">Основная информация</h3>
							<ul>
								<li><span class="gray">Официальный сайт: </span> <span class="black"><a href="#">https://bitwaves.biz/</a></span></li>
								<li><span class="gray">Язык сайта:</span><span class="black">RU, ENG</span> </li>
								<li><span class="gray">Рефферальная система:</span><span class="black">Есть</span></li>
								<li><span class="gray">Еще что-нибудь:</span><span class="black">Еще какое-то свойство</span></li>
							</ul>
						</div>
						<div class="right">
							<div class="progress">
								<span style="width: 19%"></span>
								<p>Депозит: 190$ (19%)</p>
							</div>
						</div>
					</div>
					<div class="text-wrap">
						<p>Доходность в день от 4 до 7.1 %/сутки, бессрочно. Минимальный депозит 0.005 BTC. <br> Минимальная сумма на вывод 0.0005 BTC. Партнерка 7%, активный депозит не требуется. <br> Ввод-вывод: Bitcoin.</p>
					</div>
				</div>
				<div class="history-table" id="history-table">
					<div class="history-title-block">
						<h2>Котировки BTC/USD на различных биржах</h2>
					</div>
					<table>
						<thead>
							<tr>
								<th width="14%"><span>Сумма</span></th>
								<th width="22%"><span>Операция</span></th>
								<th width="48%"><span>Комментарий</span></th>
								<th width="16%"><span>Дата</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-green">Вывод средств</span>
								</td>
								<td>
									<span class="comment">Получена выплата: 10.72 USD / 0.00144 BTC (а)</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-green">Вывод средств</span>
								</td>
								<td>
									<span class="comment">Получена выплата: 10.72 USD</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="price">1110.20$</span>
								</td>
								<td>
									<span class="operation operation-green">Вывод средств</span>
								</td>
								<td>
									<span class="comment">Получена выплата: 10.72 USD / 0.00144 BTC (а)</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-green">Вывод средств</span>
								</td>
								<td>
									<span class="comment">Получена выплата: 10.72 USD / 0.00144 BTC (а)</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-red">Пополнение кошелька</span>
								</td>
								<td>
									<span class="comment">Пополнение тестового депозита</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr class="hidden">
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-red">Пополнение кошелька</span>
								</td>
								<td>
									<span class="comment">Пополнение тестового депозита</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
							<tr class="hidden">
								<td>
									<span class="price">10.72$</span>
								</td>
								<td>
									<span class="operation operation-red">Пополнение кошелька</span>
								</td>
								<td>
									<span class="comment">Пополнение тестового депозита</span>
								</td>
								<td>
									<span class="date">10.10.2017 в 12:56</span>
								</td>
							</tr>
						</tbody>
					</table>
					<a href="#" class="show-btn">Показать еще</a>
				</div>
				<div class="comment-block" id="comment-block">
					<div class="comment-top">
						<h3>Комментарии (5)</h3>
						<p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#">авторизоваться</a> или <a href="#">пройти регистрацию.</a></p>
					</div>
					<ul class="comment-items">
						<li>
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img1.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Отличная статья, будем надеятся что все так и произойдет!</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">4</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img2.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Отличная статья, будем надеятся что все так и произойдет! Спасибо.!</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-red">-2</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img3.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img2.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img2.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li class="hidden">
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img3.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li class="hidden">
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img2.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
						<li class="hidden">
							<div class="left">
								<div class="info">
									<div class="img-wrap">
										<img src="img/comment-img2.jpg" alt="">
									</div>
									<div class="text-wrap">
										<p>Иванов Петр (petroff)</p>
										<span>Добавлен 20.10.2017 в 12:12</span>
									</div>
								</div>
								<p class="comment-text">Я рассчитываю на рост Битка</p>
							</div>
							<div class="right">
								<div class="img-wrap"></div>
								<div class="btn-block">
									<span class="number-green">8</span>
									<div class="buttons">
										<a href="#" class="plus">+</a>
										<a href="#" class="minus">-</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<a href="#" class="show-comments">Показать все комментарии (22)</a>
				</div>
				<div class="related-projects" id="related-projects">
					<h3 class="ico-title">Похожие проекты (2)</h3>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис) Mining</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<div class="progress">
										<span style="width: 19%"></span>
										<p class="bold">Депозит: 190$ (19%)</p>
									</div>
									<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис)</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<div class="progress">
										<span style="width: 19%"></span>
										<p class="bold">Депозит: 190$ (19%)</p>
									</div>
									<a href="#" class="follow"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
					<div class="project-block">
						<div class="img-wrap">
							<a href="#"><img src="img/project-img1.jpg" alt=""></a>
						</div>
						<div class="text-wrap">
							<div class="text-info">
								<p><a href="#" class="project-title">Genesis (Дженезис) Mining</a><a href="#" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>5</a></p>
							</div>
							<div class="project-info-content">
								<ul class="info-list">
									<li><span>Статус:</span><span class="bold active">Платит</span></li>
									<li><span>Доход в год:</span><span class="bold">350%</span></li>
									<li><span>Существует:</span><span class="bold">189 дней</span></li>
									<li><span>Активность депозита:</span><span class="bold">5 дней</span></li>
									<li><span class="last-updated">Последняя выплата: 21.02.2017 в 21:01</span></li>
								</ul>
								<div class="progress-bar">
									<p class="no-deposite">Депозита нет</p>
									<a href="#follow-popup" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
								</div>
							</div>
						</div>
						<p class="more-project">Криптовалюты для облачного майнинга, предоставляемые сервисом Genesis Mining: По алгоритму SHA-256: Bitcoin (BTC)
							<a href="#">Подробнее о проекте</a></p>
					</div>
				</div>
			</div>