  <section class="ico-wrap mining-card-wrap" style="padding-top: 0;">
    <div class="wrapper">
      <div class="ico-card-content mining-card-content">
      	<a href="/cloud-mining/all" class="return"><span>&#60;</span>Вернуться к списку проектов</a>
				<div class="project-block">
					<div class="img-wrap">
						<img src="{{news.logo}}" alt="" style="width: 97px; height: 97px;">
					</div>
					<div class="text-wrap">
						<div class="text-info">
							<p class="project-title">{{news.name}}
						</div>
						<div class="project-info-content">
							<ul class="info-list">
								<li><span>Статус:</span><span *ngIf="news.status == 1" class="bold active">Платит</span>
									<span *ngIf="news.status == 2" class="bold " style="color: #f00;">Не платит</span>
									<span *ngIf="news.status == 3" class="bold " style="color: #ff9b00;">Ожидание выплаты</span></li>
								<li><span>Доход в год:</span><span class="bold">{{news.proc}}%</span></li>
								<li><span>Существует:</span><span class="bold">{{news.start_days}} дней</span></li>
								<li><span>Активность депозита:</span><span class="bold">{{news.depo_date}} дней</span></li>
								<li class="progres-item">
                  <div class="progres">
                    <span [ngStyle]="{'width':news.percentage+'%'}"></span>
                    <p>Депозит: {{news.depo}}$ ({{news.percentage | number:'1.0-0'}}%)</p>
                  </div>
                </li>
                <li><span class="last-updated">Последняя выплата: </span></li>
							</ul>
              <div class="progres-bar">
                <a [routerLink]="['/cloud-mining/item', news.cat_id ]" class="news-btn ico-btn">{{news.category.name}}</a>
				  <a href="#login-popup" *ngIf="!checkAuth()" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>
				  <a href="#follow-popup" *ngIf="!checkInPortfolio(news.id) && checkAuth()" (click)="selectedItem = news" class="popup-link follow" data-effect="mfp-zoom-in"><span class="plus">+</span><span class="text">Следить</span></a>

				  <a class="follow"  *ngIf="checkInPortfolio(news.id) && checkAuth()"  (click)="removePortfolio(news.id)"><span class="minus"><img src="img/minus.png" alt=""></span><span class="text text-red">Следить</span></a>
			  </div>
						</div>
					</div>
				</div>
				<ul class="card-menu">
					<li><a  [routerLink]="['/cloud-mining/item', news.id]" fragment="basic-information">Основа</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="history-table">История операций</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="comment-block">Комментарии ({{commentcount}})</a></li>
					<li><a [routerLink]="['/cloud-mining/item', news.id]" fragment="related-projects">Похожие проекты (0)</a></li>
				</ul>
							<h3 class="ico-title">Основная информация</h3>

        <div class="basic-information" id="basic-information">
          <div class="basic-information-wrap">
            <div class="left">
							<ul>
								<li><span class="gray">Официальный сайт: </span> <span class="black"><a href="#">{{news.website}}</a></span></li>
								<li><span class="gray">Язык сайта:</span><span class="black">{{news.lang}}</span> </li>
								<li><span class="gray">Рефферальная система:</span><span class="black">{{news.ref==0 ? 'Нет': 'Да'}}</span></li>
							</ul>
						</div>
						<div class="right">
							<div class="progres">
			                    <span [ngStyle]="{'width':news.percentage+'%'}"></span>
			                    <p>Депозит: <b>{{news.depo}}$ ({{news.percentage | number:'1.0-0'}}%)</b></p>
			                  </div>
						</div>
					</div>
					<div class="text-wrap">
						<p>{{news.desc}}</p>
					</div>
				</div>
        <h3 class="ico-title">История операций с тестовым депозитом</h3>
				<div class="history-table" id="history-table">
					<p *ngIf="histories.length <= 0" style="font-size: 14px;
    				font-weight: bold; color: #c0c0c0;">К сожалению, у данного проекта еще не истории операций</p>
					<table *ngIf="histories.length > 0">
						<thead>
							<tr>
								<th width="14%"><span>Сумма</span></th>
								<th width="22%"><span>Операция</span></th>
								<th width="48%"><span>Комментарий</span></th>
								<th width="16%"><span>Дата</span></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of histories">
								<td>
									<span class="price">{{item.price}}$</span>
								</td>
								<td>
									<span class="operation" [ngClass]="item.type==2? 'operation-green':'operation-red'">{{item.type==1 ? 'Пополнение' : 'Вывод средств'}}</span>
								</td>
								<td>
									<span class="comment">{{item.comment}}</span>
								</td>
								<td>
									<span class="date">{{item.datetime}}</span>
								</td>
							</tr>
							
						</tbody>
					</table>
					<!-- <a href="#" class="show-btn">Показать еще</a> -->
				</div>
				<div class="comment-block" id="comment-block">
					<div class="comment-top" *ngIf="user.id != undefined">
								<h3>Добавить новый комментарий</h3>
								<form (ngSubmit)="submitComment(f, news.id, 'App\\CloudMining')" #f="ngForm">
									<input type="hidden" ngModel name="post_id" value="{{news?.id}}">
									<input type="hidden" ngModel name="commentable_type" value="App\News">
									<textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
									<button type="submit">Добавить</button>
								</form>
								<p *ngIf="submitted">Комментарий успешно добавлен</p>
					</div>
					<div class="comment-top" *ngIf="user.id == undefined" style="background: none !important; border: none !important">
						<h3>Комментарии ({{commentcount}})</h3>
						<p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
					</div>
					
					<div *ngIf="user.id != undefined" style="background: none !important; border: none !important" class="comment-top">
						<h3 >Комментарии ({{commentcount}})</h3>
						<!-- <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p> -->

					
					</div>
					<ul class="comment-items">
						<!--  -->
						<ng-template ngFor let-item [ngForOf]="comments" let-i="index">
							<li [ngClass]="i > 10 ? 'hidden' : ''" >
								<div class="left">
									<div class="info">
										<div class="img-wrap">
											<img src="{{item.photo}}" style="max-width: 35px; height: auto;" alt="">
										</div>
										<div class="text-wrap">
											<p>{{item.author}}</p>
											<span>Добавлен {{item.created_at}}</span>
										</div>
									</div>
									<p class="comment-text">{{item.body}}</p>
								</div>
								<div class="right">
									<div class="img-wrap"></div>
									<div class="btn-block">
										<span class="number-green" [ngClass]="rating_count[item.id] > -1 ? 'number-green' : 'number-red'">{{rating_count[item.id]}}</span>
										<div class="buttons">
											<a (click)="onVote(item.id, 1)" class="plus">+</a>
											<a (click)="onVote(item.id, 0)" class="minus">-</a>
										</div>
									</div>
								</div>
							</li>
						</ng-template>
					</ul>
					<a *ngIf="commentcount > 10 && !hide"  class="show-comments">Показать все комментарии ({{commentcount}})</a>
				</div></div></div></section>

  <div id="follow-popup" class="popup mfp-with-anim mfp-hide">
	  <div class="popup-body">
		  <h2>Следить за {{selectedItem?.name}}</h2>
		  <p>Выберите портфель для сохранения {{selectedItem?.name}}</p>
		  <div class="checkbox-list">
			  <div class="checkbox-wrap" *ngFor="let portfolio of getUserPortfolio; let i = index">
				  <input type="radio" name="id" [(ngModel)]="addPortfolio" value="{{portfolio.id}}" checked="checked" id="{{i}}">
				  <label for="{{i}}">
					  <span></span>{{portfolio.name}}
				  </label>
			  </div>
		  </div>
		  <a href="#" class="add-portfolio">+Добавить портфель</a>
		  <form class="hidden" #f="ngForm">
			  <input type="text" ngModel name="name" required="" placeholder="Введите название...">
			  <button (click)="createPortfolio(f)" type="submit">Добавить</button>
		  </form>
	  </div>
	  <div class="save-block">
		  <a (click)="submitPortfolio(selectedItem?.id, 'App\\CloudMining')" class="save-settings">Сохранить настройки</a>
		  <a href="#" class="close-text">Отменить и закрыть</a>
	  </div>
  </div>