<section class="news-wrap">
    <div class="wrapper">
<router-outlet></router-outlet>
<aside class="sidebar">
        <ul class="tag-list">
          <li> <a
           [routerLink]="['/posts/all']" routerLinkActive="active">Все новости</a></li>
          <li *ngFor="let category of categories">
            <a
           [routerLink]="['/posts/category', category.id]" routerLinkActive="active">{{category.name}}({{category.count}})</a>
          </li>
        </ul>
        <!-- <app-sidebar></app-sidebar> -->
      </aside>
    </div>
  </section>