            <div class="analytics-block">
                <div class="news-big" [ngStyle]="{'background-image':'url('+news.photo+')' }">
                    <a href="/posts/all" class="return"><span>&#60;</span>Вернуться к списку новостей</a>
                    <table style="width: 100%"><tr><td style=" height: 120px; vertical-align: bottom;" height="120" valign="bottom"><h2>{{news?.title}}</h2></td></tr></table>
                    <div class="bottom-line">
                        <a href="#" class="news-btn">{{news.category}}</a>
                        <div class="info">
                            <span class="date">{{news.created_at}}</span>
                            <span class="views"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <a href="#comments-block" class="comments"><i class="fa fa-comment" aria-hidden="true"></i>{{commentcount}}</a>
                        </div>
                    </div>
                </div>
                <div class="innertext"  [innerHTML]='news?.desc | safeHtml'>
            </div>
            <div class="comment-block" id="comment-block">
                    <div class="comment-top" *ngIf="user.id != undefined">
                                <h3>Добавить новый комментарий</h3>
                                <form (ngSubmit)="submitComment(f, news.id, 'App\\News')" #f="ngForm">
                                    <input type="hidden" ngModel name="post_id" value="{{news?.id}}">
                                    <input type="hidden" ngModel name="commentable_type" value="App\News">
                                    <textarea ngModel name="body" placeholder="Начните вводить комментарий..."></textarea>
                                    <button type="submit">Добавить</button>
                                </form>
                    </div>
                    <div class="comment-top" *ngIf="user.id == undefined">
                        <h3>Комментарии ({{news.comments_count}})</h3>
                        <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p>
                    </div>
                    
                    <div *ngIf="user.id != undefined" style="background: none !important; border: none !important" class="comment-top">
                        <h3 >Комментарии ({{commentcount}})</h3>
                        <!-- <p>Для того чтобы добавить свой комментарий - Вам необходимо <a href="#login-popup" class="popup-link">авторизоваться</a> или <a href="#check-popup" class="popup-link">пройти регистрацию.</a></p> -->

                    
                    </div>
                    <ul class="comment-items">
                        <!--  -->
                        <li *ngFor="let item of comments">
                            <div class="left">
                                <div class="info">
                                    <div class="img-wrap">
                                        <img src="{{item.photo}}" style="max-width: 35px; height: auto;" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <p>{{item.author}}</p>
                                        <span>Добавлен {{item.created_at}}</span>
                                    </div>
                                </div>
                                <p class="comment-text">{{item.body}}</p>
                            </div>
                            <div class="right">
                                <div class="img-wrap"></div>
                                <div class="btn-block">
                                    <span class="number-green">{{rating_count[item.id]}}</span>
                                    <div class="buttons">
                                        <a (click)="onVote(item.id, 1)" class="plus">+</a>
                                        <a (click)="onVote(item.id, 0)" class="minus">-</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!-- <a href="#" class="show-comments">Показать все комментарии (22)</a> -->
                </div>